{% extends "index.html" %}
{% block mainContent %}
{% load staticfiles %}
       <div id="account_wrapper">
        <div class="pannel_nav">
            <h1>Account Settings</h1>
            <ul>

			<li class="selected"><a href="/account/setting/">Account Details</a></li>
			<li><a href="/account/public_profile/">Public Profile</a></li>
			<li><a href="/account/email_setting/">Email Preferences</a></li>
            <li><a href="/account/change_password/">Change Password</a></li>
            <li><a href="/account/social_setting/">Social Network</a></li>
          </ul>
        </div>

        <div class="account_details">
               {% block account_detail %}
                <form action="" >
                {{ form }}
                </form>

               {% endblock %}
        </div>
       </div>
{% endblock %}