{% extends "index.html" %}
{% block mainContent %}
{% load staticfiles %}
    <div class="central_pannel">
        <div class="pannel_nav">
            <ul>
			<li class="selected"><a href="/users/">Account Details</a></li>
			<li><a href="/user/">Public Profile</a></li>
			<li><a href="/user/">Email Preferences</a></li>
            <li><a href="/users/">Change Password</a></li>
            <li><a href="/users/">Identity Verification</a></li>
          </ul>
        </div>
    </div>
{% endblock %}