{% extends "account/account_setting.html" %}
{% block account_detail %}
    <div id="account_msg" style="color: green">
        {{ account_msg }}
    </div>
    <fieldset>
        <legend>Public Profile</legend>
    <form action=""  method="post" enctype="multipart/form-data">
    {% csrf_token %}
            <ul class="account_detail_items">
                    <li>
                    <div class="fieldWrapper">
                        {{ form.user.errors }}
                        <div class="field_label" >{{ form.user.label_tag }}</div>
                        <div class="field_value" >
                            {{ form.user }}
                            <input id="username" name="username" value="{{ request.user.username }}" readonly="true"/>
                        </div>
                    </div>
                    </li>
                    <li>
                    <div class="fieldWrapper">
                        {{ form.thumbnail.errors }}
                        <div class="field_label" >{{ form.thumbnail.label_tag }}</div>
                        <div class="field_value" >
                            {% if form.thumbnail.value %}
                                <img style="width: 40px;height: 40px" src="{{ form.thumbnail.value.url }}" />
                                <input id="id_thumbnail" name="thumbnail" type="file" />
                            {% else %}
                                {{ form.thumbnail }}
                            {% endif %}
                        </div>
                    </div>
                    </li>
                    <li>
                    <div class="fieldWrapper">
                        {{ form.gender.errors }}
                        <div class="field_label" >{{ form.gender.label_tag }}</div><div class="field_value" > {{ form.gender }}</div>
                    </div>
                    </li>
                    <li>
                    <div class="fieldWrapper">
                        {{ form.homepage.errors }}
                        <div class="field_label" >{{ form.homepage.label_tag }}</div><div class="field_value" > {{ form.homepage }}</div>
                    </div>
                    </li>
                    <li>
                    <div class="fieldWrapper">
                        {{ form.twitter_account.errors }}
                        <div class="field_label" >{{ form.twitter_account.label_tag }}</div><div class="field_value" > {{ form.twitter_account }}</div>
                    </div>
                    </li>
                    <li>
                    <div class="fieldWrapper">
                        {{ form.facebook_account.errors }}
                        <div class="field_label" >{{ form.facebook_account.label_tag }}</div><div class="field_value" > {{ form.facebook_account }}</div>
                    </div>
                    </li>
                    <li>
                    <div class="fieldWrapper">
                        {{ form.weibo_account.errors }}
                        <div class="field_label" >{{ form.weibo_account.label_tag }}</div><div class="field_value" > {{ form.weibo_account }}</div>
                    </div>
                    </li>
                    <li>
                    <div class="fieldWrapper">
                        {{ form.weixin_account.errors }}
                        <div class="field_label" >{{ form.weixin_account.label_tag }}</div><div class="field_value" > {{ form.weixin_account }}</div>
                    </div>
                    </li>
                    <li>

                </ul>
                 <div><input type="submit" value="Submit"  class="newbutton"/></div>
    </form>
</fieldset>

{% endblock %}