{% extends "home/look.html" %}
{% block mainContent %}

<div class="container">
  <div class="jobs_show">
  <h1>外快！！！</h1>
  <p>Appswalk提供更多、更全和更加诱人的机会，你可以再这里赚更多的美金,欧元</p>
  <p>
    <a class="btn btn-primary btn-large">
      戳我看
    </a>
  </p>
    </div>
</div>

<div class="container promot">
    <div class="row-fluid">
        <div class="span1" style="background-color: #002a80;height:300px;">

        </div>
        <div class="span9" style="background-color: #00b0b0;">

        </div>
    </div>
</div>


<div class="container">
    <table class="table table-striped">

    </table>
</div>

{% endblock %}