{% extends "index.html" %}
{% block mainContent %}
{% load staticfiles %}

<div id="quick_msg">
    Welcome to our iOS app market, you get 50% listing fee discount.
</div>

<div id="home_promotion">
    <div class="promote">
     <h2>The #1 Marketplace for Buying and Selling iOS Apps</h2>
    <div>
    <a class="btn primary" href="/buy">Buy Apps</a>
    <a class="btn primary" href="/seller">Sell Apps</a>
     </div>
    </div>

</div>

<div class="featured_block">
    {% for i in range %}
       <div class="featured_icon">
       <img class="img_icon" src="http://a1357.phobos.apple.com/us/r1000/118/Purple2/v4/fc/b7/25/fcb72553-1585-d848-d262-23bf56aa02a5/mzl.hojifrfm.jpg"/>
       <span>Little Game</span>
       </div>

    {% endfor %}
</div>
<div id="showcase">
    <div class="showcase_row">

            <div class="view view-first">
                    <img src="images/1.jpg" />
                    <div class="mask">
                        <h2>Hover Style #1</h2>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                        <a href="#" class="info">Read More</a>
                    </div>
            </div>

            <div class="view view-first">
                    <img src="images/1.jpg" />
                    <div class="mask">
                        <h2>Hover Style #1</h2>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                        <a href="#" class="info">Read More</a>
                    </div>
            </div>
            <div class="view view-first">
                    <img src="images/1.jpg" />
                    <div class="mask">
                        <h2>Hover Style #1</h2>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                        <a href="#" class="info">Read More</a>
                    </div>
            </div>
            <div class="view view-first">
                    <img src="images/1.jpg" />
                    <div class="mask">
                        <h2>Hover Style #1</h2>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                        <a href="#" class="info">Read More</a>
                    </div>
            </div>

    </div>
    <div class="showcase_row">

    </div>

</div>
{#<div class="normal_list">#}
{##}
{#    <div class="list_block">#}
{#        <header class="list_block_header">Hottest Posting</header>#}
{#        <table class="listing_table" cellspacing="0">#}
{#            <thead>#}
{#                <tr>#}
{#                <th>Logo</th><th>App name</th><th>Price</th><th>Bids</th><th>Ending</th>#}
{#                </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#                {% for i in range %}#}
{#                <tr>#}
{#                    <td><img class="img_30x30" src="http://a1357.phobos.apple.com/us/r1000/118/Purple2/v4/fc/b7/25/fcb72553-1585-d848-d262-23bf56aa02a5/mzl.hojifrfm.jpg"/></td><td>SAP Job is good app</td><td>1000$</td><td>23</td><td>19Days</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td colspan="5" class="fullwidth">SAP Job is an app for SAP internal job listing.SAP Job is an app for SAP internal job listing.</td>#}
{#                </tr>#}
{#                {% endfor %}#}
{#            </tbody>#}
{#        </table>#}
{#    </div>#}
{##}
{#    <div class="list_right_block">#}
{#        <header class="list_block_header">Latest Posting</header>#}
{#        <table class="listing_table" cellspacing="0">#}
{#            <thead>#}
{#                <tr>#}
{#                <th>Logo</th><th>App name</th><th>Price</th><th>Bids</th><th>Ending</th>#}
{#                </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#                {% for i in range %}#}
{#                <tr>#}
{#                    <td><img class="img_30x30" src="http://a1357.phobos.apple.com/us/r1000/118/Purple2/v4/fc/b7/25/fcb72553-1585-d848-d262-23bf56aa02a5/mzl.hojifrfm.jpg"/></td><td>SAP Job is good app</td><td>1000$</td><td>23</td><td>19Days</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td colspan="5" class="fullwidth">SAP Job is an app for SAP internal job listing.SAP Job is an app for SAP internal job listing.</td>#}
{#                </tr>#}
{#                {% endfor %}#}
{#            </tbody>#}
{#        </table>#}
{#    </div>#}
{##}
{#</div>#}




{% endblock %}
