{% extends "index.html" %}
{% block mainContent %}
{% load staticfiles %}
{% include "home/promotion.html" %}





{#<div class="featured_block">#}
{#    {% for i in range %}#}
{#       <div class="featured_icon">#}
{#       <img class="img_icon" src="http://a1357.phobos.apple.com/us/r1000/118/Purple2/v4/fc/b7/25/fcb72553-1585-d848-d262-23bf56aa02a5/mzl.hojifrfm.jpg"/>#}
{#       <span>Little Game</span>#}
{#       </div>#}
{##}
{#    {% endfor %}#}
{#</div>#}

                 <div class="listing_block_home">
                     <div class="home_listing_title">
                        <span style="float:left;"><h1>Recommendation</h1></span><span style="float:right;"><h1><a href="/query/featured">See More>></a></h1></span>
                     </div>
                     <div class="listing_content">
                        <ul >
                            {% for app in apps %}
                            <li>
                                <div class="app_wrapper">
                                       <div class="app_img">
                                           <a href="{% url 'query:app_detail' app.0.id %}"><img class="img_140x140" src="{{ MEDIA_URL }}{{ app.0.appinfo.icon }}"/></a>
                                       </div>

                                       <div class="app_attribute">
                                           <div class="info_detail">
                                            <div><h1><a href="{% url 'query:app_detail' app.0.id %}"> {{ app.0.app_name }}</a></h1></div>
                                            {% if app.0.publish_date %}
                                               <div>{{ app.0.publish_date }} </div>
                                            {% endif %}
                                            <div class="fontcolor_light_grey">
                                               <p >{{ app.0.title }}</p>
                                            </div>
                                            <div class="fontcolor_light_grey"><span class="att_line">Monthly Downloads:</span> {{ app.0.dl_amount }} times</div>
                                            {% if app.0.revenue %}
                                               <div class="fontcolor_light_grey" ><span class="att_line">Revenue:</span> {{ app.0.revenue }} {{ app.0.currency.currency }}</div>
                                            {% endif %}
                                               <div class="fontcolor_light_grey" >
                                                   <span class="att_line">Rating:</span> {{ app.0.rating }} </div>
                                               <div class="fontcolor_light_grey"><span class="att_line">AppleStore Price:</span> {{ app.0.appinfo.price }} {{ app.0.currency.currency }} </div>

                                           </div>
                                           <div class="bidding_info">
                                               <div>{{ app.1|floatformat|default:0 }}{{ app.0.currency.currency }}</div>
                                               <div class="bid_button"><a href="{% url 'bid:bid_list' app.0.id %}">{{ app.2|floatformat|default:0 }}Bid{{ app.2|floatformat|pluralize }}</a></div>
{#                                               <div><a href="#"><img src="{% static "images/favrioute.png" %}"/></a></div>#}
                                           </div>
                                       </div>
                                </div>
                            </li>
                             {% endfor %}
                        </ul>
                     </div>
                     {% if apps %}
                     <div class="pagination" style="float: right">
                        {% if apps.has_previous %}<a href="?page={{ apps.previous_page_number }}">previous</a>{% endif %}
                        Page {{ apps.number }} of {{ apps.paginator.num_pages }}
                        {% if apps.has_next %}<a href="?page={{ apps.next_page_number }}">next</a>{% endif %}
                     </div>
                     {% endif %}
                </div>

{% endblock %}
