{% extends "home/look.html" %}
{% block mainContent %}
{% load i18n %}
{% load staticfiles %}

<div class="container">
    <div id="leftContent">
    <div class="jobheader"></div>
    {% for offer in offers %}
        <div class="job_wrapper">
        <div class="jobblock" >



            <div style="color: #0088cc;">
                <h3>{{ offer.0.title }}</h3>


            </div>
            <div class="joblocation ">
                <span class="label "><i class="icon-map-marker icon-white"></i> {{ offer.0.location }}</span>
                <span class="label label-info"><i class=" icon-time icon-white"></i> {{ offer.1 }}</span>
                <span class="label label-success"><i class=" icon-th-list icon-white"></i> {% trans 'Apply Count' %}:{{ offer.3 }}</span>
                <span class="label label-success"><i class="icon-eye-open  icon-white"></i> {% trans 'View Count' %}:{{ offer.2 }}</span>

            </div>



            <div class="jobdesc">
                {{ offer.0.description|truncatechars:"350" }}
            </div>
            <button class="btn">
                <a href="{% url 'offer:offer_detail' offer.0.id %}">{% trans 'Learn More' %}</a>
            </button>
        </div>
        </div>
        <div class="thumbnail_wrapper">
         <img src="{{ MEDIA_URL }}{{ offer.0.company_icon }}" class="img-rounded"/>
        </div>
    {% endfor %}
    {% if offers %}
        <div class="pagination" >
           {% if offers.has_previous %}<a href="?page={{ offers.previous_page_number }}">previous</a>{% endif %}
           Page {{ offers.number }} of {{ offers.paginator.num_pages }}
           {% if offers.has_next %}<a href="?page={{ offers.next_page_number }}">next</a>{% endif %}
        </div>
    {% endif %}
    </div><!--end of span8-->
    <aside id="right_sidebar">
        <p>sdfsdfsdfsdfdsf </p>
    </aside>

<div class="clear"></div>
</div>
{% endblock %}