.sf-menu{
    margin:0 auto;
    height: 38px;
    color:white;
}

.sf-menu li{
    float:left;
    height:30px;
    padding: 10px  4px 0px 4px;
}

.sf-menu li:hover{
    float:left;
    height:30px;
    padding: 10px  4px 0px 4px;
    background-color: white;
}
.sf-menu a:link{
    color:white;
    padding: 4px;
    height: 30px;
}
.sf-menu a:visited{
    color: white;
    padding: 4px;
    height:30px;

}

.sf-menu a:hover{
    color:#0070ff;
    padding: 4px;
    height: 30px;
}
.sf-menu a:active{
    color: #0070ff;
    padding: 4px;
    height:30px;

}

