/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}
html,body {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img {
	border:0;
}



/*input{*/
	/*border:1px solid #b0b0b0;*/
	/*padding:3px 5px 4px;*/
	/*color:#979797;*/
	/*width:190px;*/
/*}*/
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
/*************init end***************/
body {
	margin:0;
	padding:0;
    font: 13px/16px "sofiapro", "Helvetica Neue",Arial, Sans-serif;
	/*font:13px/16px "Helvetica Neue", Arial, Sans-serif;*/
	color: #555;
	/*background-color: #ddeef6;*/
	/*background-image: url(images/front-bg.gif);*/
	background-repeat: repeat;
    line-height: 18px;
    background:#fafafa;
}

a{
    color:#666;
}

a:link,a:visited{
    color:#666;
    text-decoration: none;
}
a:hover,a:active{
    color: #0070ff;
    text-decoration:underline;

}


h1{
    font-weight: bold;
    font-size:18px;
}

/* 顶部用户登陆菜单部分*/
.active {
    background: red;
}

.inactive {

}
#user_bar{
    margin:0;
    height:34px;
    width:100%;
    /*background: #eee;*/
    /*background: -webkit-linear-gradient(top,#f7f7f7,#eaeaea);*/
    /*background: -moz-linear-gradient(top,#f7f7f7,#eaeaea 100%);*/
    text-shadow: 1px 1px 0 #fff;
    font-weight: bold;
    /*border-bottom: 1px solid #a7a7aa;*/
}
#row{
    margin:0 auto;
    width:960px;
    height:60px;
}
.user_bar_menu{
    padding-top: 7px;
    list-style: none;
    display: inline-block;
    float:left;
}
.user_bar_menu li{
    margin-right: 10px;
    list-style: none;
    display: inline-block;
    float:left;
}
.user_bar_menu  a,.user_bar_menu  a:link,.user_bar_menu  a:visited{
    color:#999;
}
.user_bar_menu  a:hover,.user_bar_menu  a:active{
    color:#0070ff;
    text-decoration: none;
}

.user_bar_menu_link  a,.user_bar_menu_link  a:link,.user_bar_menu_link  a:visited{
    color:#999;
}
.user_bar_menu_link  a:hover,.user_bar_menu_link  a:active{
    color:#0070ff;
    text-decoration: none;
}

.user_bar_menu_link{
    padding-top:7px;
    list-style: none;
    display: inline-block;
    float:right;
}
.user_bar_menu_link li{
    margin-right: 10px;
    list-style: none;
    display: inline-block;
    float:left;
}

.adv_search{
    width:60px;
    height:25px;
    padding: 5px;
    background: white;
    border: 1px solid #0070ff;
    color:#0070ff;
    border-radius: 3px;
}

.adv_search_field{
    height: 20px;
}
/*.user_bar_menu_link li a{*/
    /*color:white;*/
/*}*/
/*********End Of User Bar*******/
/*公司logo页面部分开始****/
.header{

    /*background: coral;*/
    clear:both;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    background: #F7F7F7;
;

}
#header_top{
    margin:0;
    height:85px;
    background: #f1f1f1;
    background:linear-gradient(top,#ffffff,#f1f1f1);
    background:-moz-linear-gradient(top,#ffffff,#f1f1f1);
    background:-webkit-linear-gradient(top,#ffffff,#f1f1f1);


}
#nav_menu{
    margin:0 auto;
    margin-bottom: 10px;

    /*height:60px;*/
    background: #f1f1f1;
    background:linear-gradient(top,#ffffff,#f1f1f1);
    background:-moz-linear-gradient(top,#ffffff,#f1f1f1);
    background:-webkit-linear-gradient(top,#ffffff,#f1f1f1);
    background: -ms-linear-gradient(top,#ffffff,#f1f1f1);
    background: -o-linear-gradient(top,#ffffff,#f1f1f1);

    /*background: #0070ff;*/
    /*-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5);*/
    /*-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5);*/
    /*box-shadow: 0 1px 2px rgba(0,0,0,0.5);*/
    /*border-bottom: 1px solid #c8c7cc;*/
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width:960px;
    height:37px;
    background:#eeeeee;

}
#menu{
    margin:0 auto;
    width:960px;
}

#header_top{
    margin:0 auto;
    padding: 0;
}
#company{
    margin:0 auto;
    width:960px;
    height: 75px;
    padding: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    /*border: 1px solid #9f0100;*/
    background-color: #ca0100;
    background: -webkit-gradient(linear,0% 0%,0% 100%,from(#b80201),to(#ca0100));
    background: -webkit-linear-gradient(top,#ca0100,#b80201);
    background: -moz-linear-gradient(top,#ca0100,#b80201);
    background: -ms-linear-gradient(top,#ca0100,#b80201);
    background: -o-linear-gradient(top,#ca0100,#b80201);
    -moz-box-shadow: inset 0 0 1px #ffbfbf;
    -webkit-box-shadow: inset 0 0 1px #ffbfbf;
box-shadow: inset 0 0 1px #ffbfbf;

}
#company_logo{
    width:600px;
    margin-top:15px;
    margin-left:20px;
    float:left;

}
.logo_text{
    width:200px;
    color:white;
    font-size: 38px;
    font-weight:bold;
    opacity: 1;

}
.logo_desc{
    margin-top: 10px;
    margin-left: 20px;
    float: left;
    width:400px;
    color:white;
    opacity: 0.7;

}
.search_button{
    margin-top:16px;
    /*background-color: white;*/
    font: right;
    border:0;
    width:100px;
    height:29px;
    /*border-radius: 2px;*/
}
#header_search{
    display: block;
    float: right;
    padding: 6px;
    border: 1px solid transparent;
}
#header_search form{
    display: block;
}
#header_search input[type=text]{
    font-size: 13px;
    float: left;
    margin-top:15px;
    padding: 7px 10px 6px;
    width: 200px;
    color: #bbb;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    border: 1px solid #9F0100;
    -moz-box-shadow: inset 0 0 3px #dfdfdf;
    -webkit-box-shadow: inset 0 0 3px #dfdfdf;
    box-shadow: inset 0 0 3px #dfdfdf;
}


/*******主要内容部分***********/
/*******manin content area starts*****/
#mainContent{
    margin-left: auto;
    margin-right:auto;
    margin-top:20px;
    margin-bottom: 10px;
    padding-top: 0;
    color:#444;
    /*font:13px/16px  Calibri,Georgia,"Helvetica",Arial, Sans-serif;*/
    font:14px/18px sofiapro, "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    background: #ffffff;
    /*background:linear-gradient(top,#ffffff,#ffeffe);*/
    /*background:-moz-linear-gradient(top,#ffffff,#ffeffe);*/
    /*background:-webkit-linear-gradient(top,#ffffff,#ffeffe);*/

    /*color:#888888;*/
    /*background: coral;*/
    width:960px;
    height:auto;
    clear:both;
    /*-moz-box-shadow: 0 0 6px #888;*/
    /*-webkit-box-shadow: 0 0 6px #888;*/
    /*box-shadow: 0 0 6px #ddd;*/
    border:1px solid #ddd;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius: 3px;
    background-color: #fefefe;
    background: -webkit-gradient(linear,0% 0%,0% 100%,from(#fff),to(#fefefe));
    background: -webkit-linear-gradient(top,#ffffff,#fefefe);
    background: -moz-linear-gradient(top,#ffffff,#fefefe);
    background: -ms-linear-gradient(top,#ffffff,#fefefe);
    background: -o-linear-gradient(top,#ffffff,#fefefe);


}

/*******************home page **********************/
.showcase{
    height:600px;
}
.showcase_row{
    margin:10px 0 10px 0;
    height:560px;
    /*background-color: red;*/
}
.showcase_box{
    padding:10px;
    margin-top:15px;
    margin-left: 14px;
    /*border: 1px solid #ddd;*/
    border-radius: 5px;
    height:230px;
    width:200px;
    float:left;


}
.box_content{
    width:200px;
    height:200px;
}
.box_content_mask{
    /*witdh:200px;*/
    /*height:200px;*/
    /*position: relative;*/
    /*top:-200px;*/
    /*left:0px;*/
    /*background-image: url("../images/design_hero_screen.jpg");*/
    /*background-color: #000000;*/
    /*-moz-filter: blur(5px);*/
    /*-o-filter: blur(5px);*/
    /*-ms-filter: blur(5px);*/
    /*filter: blur(5px);*/
    /*opacity: 0.5;*/
    /*z-index: 1000;*/


}

.box_desc{
    /*padding: 5px;*/
    /*font-weight:bold;*/
    font-size: 15px;
    color:#999;
    height:30px;
    width:200px;
    background-color: white;
    float: left;
}
#current_price{
    float:left;
    width:130px;
    height:30px;
    font-weight: bold;
    color:#ff3b30;
    padding-top:10px;
    padding-left:20px;
}
.bid_form{
    padding:5px;
    height:80px;
}
.bidding_list{
    margin:0 auto;
    padding:30px;

}
.bidlisting_item{
    margin-top:10px;
    padding:10px;
    height:30px;
    border-bottom: 1px dashed #dddddd;
}
.bidlisting_item:hover{
    margin-top:10px;
    padding:10px;
    height:30px;
    border-bottom: 1px dashed #dddddd;
    background-color: #dddddd;
}
#bid_num{
    width: 100px;
    height:30px;
    float:right;
    padding-top:10px;

}

#bid_price{
    width:200px;
    height:30px;
}

.bidder{
    width:400px;
    float:left;

}
.bidder_price{
    width:200px;
    float:left;
    text-align: center;

}
.bidder_times{
    width:200px;
    float:left;
    text-align: center;
}
.label_price{
    width:200px;
    height:30px;
}

#price_msg{
    padding:5px;
    color:red;
    width:200px;
    /*height:30px;*/
}
#price_msg_new{
    padding:5px;
    color:red;
    width:600px;
}
.showcase_img_icon{
    border-radius: 36px;
    width:200px;
    height:200px;

}

/*.showcase_img_icon:hover {*/
	/*-webkit-filter: blur(10px);*/
	/*filter: blur(10px);*/
    /*background-image:url("../images/design_hero_screen.jpg");*/
    /*display:block;*/
    /*-webkit-filter: blur(5px);*/
    /*-moz-filter: blur(5px);*/
    /*-o-filter: blur(5px);*/
    /*-ms-filter: blur(5px);*/
    /*filter: blur(5px);*/
    /*opacity: 0.95;*/
/*}*/




/********************featured***********************/
.featured_block{
    clear:both;
    height:150px;

}
.featured_icon{
    float:left;
    margin-left:19px;
    margin-top: 20px;
    width:118px;

}
.featured_icon span{
    float: left;
    text-align: center;
    padding: 5px 3px 3px 3px;
}


.img_icon{
    width:84px;
    height:84px;
    border-radius: 8px;

}

/*********************listing part*****************/


.listing_nav{
    width:250px;
    float:left;
    border-right:1px dashed #ddd;

}
.search_criteria{
    padding:3px 20px;
    margin:10px 5px;
    border-bottom: 1px dashed #ddd;
}

.search_criteria ul li{
    padding:3px 10px;

    margin:5px 0px 0px 5px;



}
.search_criteria ul li:hover{
    padding:3px 10px;

    margin:5px 0px 0px 5px;
    background: #DDD;


}
#more_show{
    background:#679b08;
    color:white;
    font-weight: bold;
    border-radius: 3px;
    padding: 8px;
}

.listing_block_home{
    margin: 0 auto;
    width:700px;
}
.listing_block{
    width:700px;
    float:right;
}

.listing_content{

}

.app_wrapper{
    margin:10px;
    height:150px;
    padding:5px;
    border-bottom: 1px dashed #ddd;
}

.app_attribute{
    padding: 5px;
    width:480px;
    float: right;


}
.info_detail{
    float:left;
    padding-bottom: 10px;
    width:350px;
}
.info_detail span{
    margin-top:10px;
}
.att_line{
    margin-top: 5px;
    font-weight: bold;
    /*color:#a52a2a;*/
    opacity: 0.9;
    text-shadow: 2px 2px 2 white;
}
.app_img{
    padding:5px;
    height:140px;
    width:140px;
    float:left;
    border-radius: 25px;
    border:1px solid #ddd;
}

.bidding_info{
    margin-top:20px;
    padding:10px;
    width:80px;
    float:right;
}
.img_140x140{
    width:140px;
    height:140px;
    text-align: center;
    border-radius: 25px;
}
/*.normal_list{*/
    /*clear:both;*/
    /*margin-top: 40px;*/
    /*height:760px;*/

/*}*/

/*.list_block{*/
    /*float:left;*/
    /*width:400px;*/
    /*height:300px;*/
    /*margin-left:20px;*/
    /*margin-right:20px;*/
    /*margin-bottom: 20px;*/
    /*background: #FFaaaa;*/
/*}*/
/*.list_right_block{*/
    /*float:right;*/
    /*width:400px;*/
    /*height:300px;*/
    /*margin-left:20px;*/
    /*margin-right:20px;*/
    /*margin-bottom: 20px;*/
/*}*/
/*.list_block_header{*/
    /*font-size:20px;*/
    /*padding: 4px;*/
/*}*/


/*.listing_table{*/
    /*width:400px;*/
    /*padding:2px;*/
    /*text-align: center;*/
    /*vertical-align: middle;*/
    /*border-spacing: 0;*/
    /*border-collapse: collapse;*/

/*}*/
/*.listing_table th{*/
     /*padding: 2px 3px;*/
     /*background: #B94D0A;*/
     /*color: #fff;*/
     /*border-width: 1px;*/
     /*border-style: solid;*/
     /*border-color: #CABAAB;*/
/*}*/

/*.listing_table td{*/
    /*margin-top: 3px;*/
    /*padding: 2px 3px;*/
    /*border-width: 1px;*/
    /*border-collapse: collapse;*/
    /*vertical-align: middle;*/
/*}*/
/*.listing_table .fullwidth{*/
    /*border-bottom:solid;*/
    /*border-width: 1px;*/
    /*text-align: left;*/
    /*padding:10px 3px 10px 3px;*/
/*}*/

/********************Quick message*****************/
#quick_msg{
    margin:0 auto;
    padding-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color:#FFaaaa;
    text-align: center;
    border-top:1px solid rgba(255,255,255,0.8);

}
/*********************central block****************/
#central_block{
    margin:0 auto;
    margin-bottom: 20px;
    width:960px;
    border-radius: 10px;
    background:#FEFEFE;


}
.central_section{
    margin:0 auto;
    padding-top: 20px;
    width:400px;
}
.central_ul{
    list-style: none;


}
.central_ul li{
    display:block;
    padding:3px;
    margin-top:10px;
    margin-left:20px;
}
.user_register td{
    padding:3px;
    text-align: left;

}
.user_td_width{
    width:200px;
}
.user_register input{
    -webkit-box-shadow: inset 0 1px 0.25em #d9d9d9;
    -moz-box-shadow: inset 0 1px 0.25em #d9d9d9;
    padding:4px;
    width:200px;
    box-shadow: inset 0 1px 0.25em #d9d9d9;
    border: 1px solid #858585;
    border-radius:3px;
}


.usg{
    width:200px;
    float:right;
}
#central_block a{
    color:#426da7;
}

/********************promotion part***************/
#home_promotion{
    margin:0 auto;
    margin-bottom: 20px;
    width:960px;
    /*border-radius: 10px;*/
    /*background:#41a096;*/
    background: #f1f1f1;
    background:linear-gradient(top,#ffffff,#f1f1f1);
    background:-moz-linear-gradient(top,#ffffff,#f1f1f1);
    background:-webkit-linear-gradient(top,#ffffff,#f1f1f1);

    height:120px;
}
#home_promotion div{
    margin:0 auto;
    padding-top: 20px;
    width:500px;
}
.buyapp,.buyapp:link,.buyapp:visited    {
    display:block;
    width:200px;
    height:30px;
    padding:12px 5px 5px 5px;
    cursor: pointer;
    background: #679b08;
    border-radius: 4px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    float: left;
}


.sellapp,.sellapp:link,.sellapp:visited    {
    display:block;
    width:200px;
    height:30px;
    padding:12px 5px 5px 5px;
    cursor: pointer;
    background: #679b08;
    border-radius: 4px;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    float: right;
}

.home_listing_title{
    height:30px;
    padding: 5px;
    margin-top:20px;

}

.home_listing_title h1{
    margin-left:10px;
    padding-left: 20px;
    color: #679b08;

}
/*********************comments part*****************/
.comments_wrapper{
    padding:10px;
    margin:30px 20px;

}
.comments{
    border-left: 5px solid green;
    border-bottom: 1px dashed #FFF;
    border-radius: 25px;
    margin-top:5px;
    padding: 20px;
    background-color: #efefef;
}
.comments_red{
    border-left: 5px solid #FFaaaa;
    border-bottom: 1px dashed #FFF;
    border-radius: 25px;
    margin-top:5px;
    padding: 20px;
    background-color: #efefef;

}
.comments_red p{

}

.comments_form{
    padding:10px;
    margin:30px 20px;
   border-radius: 25px;
}

.bid_comments_form{

}

.comments_form textarea{
    padding:25px;
    margin-top: 10px;
    background:url("../images/form.jpg") repeat-x top;
    width:515px;
    border: 1px dashed #666;
    border-radius: 25px;
}

.bid_comments_form textarea{
    padding:25px;
    margin-top: 10px;
    background:url("../images/form.jpg") repeat-x top;
    width:515px;
    border: 1px dashed #666;
    border-radius: 25px;

}

.comment_header{
    height:30px;
    padding: 5px 0;

}
.yourprice{
    margin-top:10px;
}
#price{
     -webkit-box-shadow: inset 0 1px 0.25em #d9d9d9;
    -moz-box-shadow: inset 0 1px 0.25em #d9d9d9;
    padding:4px;
    box-shadow: inset 0 1px 0.25em #d9d9d9;
    border: 1px solid #858585;
    border-radius:3px;
}
.yourprice input[type=text]{
    -webkit-box-shadow: inset 0 1px 0.25em #d9d9d9;
    -moz-box-shadow: inset 0 1px 0.25em #d9d9d9;
    padding:4px;
    box-shadow: inset 0 1px 0.25em #d9d9d9;
    border: 1px solid #858585;
    border-radius:3px;
}

#bid_form{
    display:none;
}

/********************register app *****************/
.register_block{
    margin:0 auto;
    margin-top:20px;
    width:940px;
    height:720px;


}


#register_nav{
    margin:25px 0 25px 20px;
    width:250px;
    float:left;
    /*background: #CFDEFF;*/

}

#register_app{
    margin:25px 0 0 0;
    width:630px;
    float:right;
    background: #ffffff;


}
 label{
    font-weight: bold;
    color: #555;
}

.nav_title{
    text-align: center;
    height:20px;
    border-radius: 3px;
    background:#679b08;
    width:213px;
    color: white;
    margin-left: 25px;
    padding:5px;

}

#register_new_nav{
    margin-top:10px;
    margin-left:25px;


}



#register_new_nav li{

    margin-top:13px;
    height:20px;
    padding:5px 5px 5px 5px;
    background:#Fafafa;
    border:1px solid #f1f1f1;
    border-left:4px solid #ddd;
    border-right:4px solid #ddd;

    border-radius: 3px;
}
#register_new_nav li:hover{
    /*transform:rotate(5deg);*/
    /*-ms-transform:rotate(5deg); *//* IE 9 */
    /*-webkit-transform:rotate(5deg); *//* Safari and Chrome */
    color: white;
    margin-top:13px;
    height:20px;
    padding:5px 5px 5px 5px;
    background:#679b08;
}

#register_new_nav a,#register_new_nav a:link,#register_new_nav a:visited{
    display: block;
    padding: 3px;
}
#register_new_nav a:hover,#register_new_nav a:active{
    color:white;
    text-decoration: none;
}




.preview_buttons{
    margin:15px 0px 0px  25px;
    text-align: center;
    width:215px;
    height:20px;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    background: #EEEEEE;
    border-radius: 5px;
}

#id_title{
    padding:3px;
    margin-top: 10px;
    margin-left: 89px;
    width:400px;

}
#id_app_store_link{
    padding:3px;
    margin-top: 10px;
    margin-left: 30px;
    width:400px;

}
.errors_block{
    margin-top:10px;
    margin-left:20px;
}
#progressor{
    display: none;
    position:relative;
    width:20px;
    height:20px;
    float: left;
}

legend {
    background: #EEE;
    padding:6px;
	color:#000; /* IE styles legends with blue text by default */
	margin-left:10px; /* A hack that only ie reads to position the legend in the same place cross browser */
    border-radius: 5px;
}
fieldset {
	border:1px solid #Fafafa; /* Default fieldset borders vary cross browser, so make them the same */
    padding-bottom: 10px;
    border-radius: 10px;
    background: #fefefe;
}

.errors_block{
    margin-top:10px;
    margin-bottom:10px;
}
.errors_block ul{
    margin-left:10px;
    list-style: none;
}
.errors_block ul li{
    padding-left:20px;
    background-image:url("../images/error.png");
    background-repeat: no-repeat;
}
.nextbutton{
    margin-top:10px;
    margin-left:30px;
    background-color: #08c;
    color:white;
    border:0;
    width:100px;
    height:30px;
    border-radius: 3px;
    float: left;

}
.newbutton{
    margin-top:10px;
    margin-left:30px;
    background-color: #08c;
    color:white;
    border:0;
    width:100px;
    height:30px;
    border-radius: 3px;

}

#bid_now{
    background-color: #08c;
    color:white;
    border:0;
    width:80px;
    height:30px;
    border-radius: 3px;
}

.bid_button{
     display: block;
    background-color: #679b08;
   border:0;
    height:20px;
    width:70px;
    text-align: center;
    vertical-align: middle;
    border-radius: 3px;
    padding:3px 5px;

}
.bid_button a,.bid_button a:link,.bid_button a:visited{
    color:white;
    text-transform: uppercase;
}


.buyitnow{
    background-color: #679b08;
    color:white;
    border:0;
    height:30px;
    border-radius: 3px;
    padding:3px 5px;
}
.button_block{
    margin: 10px 0px 20px 169px;
    text-align: center;

}

.field_block{
    margin-top:10px;
    padding-left: 10px;
    width:500px;
    height:50px;
    border-bottom:1px dashed #ddd;
}


.field_block_selected{
    /*margin-top:20px;*/
    padding-left: 10px;
    padding-top:20px;
    width:500px;
    height:60px;
    border-bottom:1px dashed #ddd;
    vertical-align: middle;
}
.register_icon{
    margin-top:15px;
    padding-left: 15px;
    width:500px;
    height:60px;
    border-bottom:1px dashed #ddd;
    vertical-align: middle;
    padding-bottom: 5px;
    border-radius: 3px;
}
.icon_wrapper{
    float: right;
    margin-right: 50px;
    margin-bottom: 5px;
    padding: 3px;
    outline: 1px solid #ddd;
    width:57px;
    height:57px;
    border-radius: 3px;
}
.icon_wrapper img{
    border-radius: 3px;
}
.field_block label{
    padding: 3px;
    font-weight: bold;
}
.field_block_selected label{
    margin-top:20px;
}


.field_block input[type=text]{
    -webkit-box-shadow: inset 0 1px 0.25em #d9d9d9;
    -moz-box-shadow: inset 0 1px 0.25em #d9d9d9;
    box-shadow: inset 0 1px 0.25em #d9d9d9;
    border: 1px solid #858585;
    border-radius:3px;
    float:right;
    padding: 3px;
    height:20px;
     width:190px;
}

.field_block input[type=checkbox]{
    float:right;
}
.field_block_selected select{
    -webkit-box-shadow: inset 0 1px 0.25em #d9d9d9;
    -moz-box-shadow: inset 0 1px 0.25em #d9d9d9;
    box-shadow: inset 0 1px 0.25em #d9d9d9;
    border: 1px solid #858585;
    border-radius:3px;
    float: right;
    width:200px;

}



.field_block_sale{

    margin-top:30px;
    margin-left: 20px;
    padding-left:10px;
    width:500px;
    height:30px;
    border-bottom: 1px dashed #ddd;
}
.field_block_sale label{
    padding: 3px;
}
.field_block_sale input{
    -webkit-box-shadow: inset 0 1px 0.25em #d9d9d9;
    -moz-box-shadow: inset 0 1px 0.25em #d9d9d9;
    box-shadow: inset 0 1px 0.25em #d9d9d9;
    border: 1px solid #858585;
    border-radius:3px;
    float:right;
    padding: 3px;
    height:20px;
    width:190px;
}
.field_block_sale select{
    -webkit-box-shadow: inset 0 1px 0.25em #d9d9d9;
    -moz-box-shadow: inset 0 1px 0.25em #d9d9d9;
    box-shadow: inset 0 1px 0.25em #d9d9d9;
    border: 1px solid #858585;
    border-radius:3px;;

    float: right;
    width:200px;
}
/**** block of addionation***/
.field_block_addi{

    margin-top:30px;
    margin-left: 20px;
    padding-left:10px;
    width:570px;
    height:60px;
    border-bottom: 1px dashed #ddd;
}
.field_block_addi label{
    padding: 3px;
}
.field_block_addi input[type=text]{
    -webkit-box-shadow: inset 0 1px 0.1em #d9d9d9;
    -moz-box-shadow: inset 0 1px 0.1em #d9d9d9;
    box-shadow: inset 0 1px 0.1em #d9d9d9;
    border: 1px solid #f1f1f1;
    border-radius:3px;
    float:right;
    padding: 3px;
     width:190px;
    height:20px;
}
.field_block_addi input[type=checkbox]{
      float:right;
}

/*********end of additional ********/

.field_block_deliery{

    margin-top:30px;
    margin-left: 20px;
    padding-left:10px;
    width:500px;
    height:60px;
    border-bottom: 1px dashed #ddd;
}
.field_block_deliery label{
    padding: 3px;
}
.field_block_deliery input[type=text]{
    -webkit-box-shadow: inset 0 1px 0.25em #d9d9d9;
    -moz-box-shadow: inset 0 1px 0.25em #d9d9d9;
    box-shadow: inset 0 1px 0.25em #d9d9d9;
    border: 1px solid #858585;
    border-radius:3px;
    float:right;
    padding: 3px;
    height:20px;
     width:190px;
}
.field_block_deliery input[type=checkbox]{
      float:right;
}


.field_block_payment{

    margin-top:30px;
    margin-left: 20px;
    padding-left:10px;
    width:500px;
    height:60px;
    border-bottom: 1px dashed #ddd;
}
.field_block_payment label{
    padding: 3px;
}
.field_block_payment input[type=text]{
    -webkit-box-shadow: inset 0 1px 0.25em #d9d9d9;
    -moz-box-shadow: inset 0 1px 0.25em #d9d9d9;
    box-shadow: inset 0 1px 0.25em #d9d9d9;
    border: 1px solid #858585;
    border-radius:3px;
    float:right;
    padding: 3px;
    height:20px;
     width:190px;
}
.appinfo input[type=text]{
    -webkit-box-shadow: inset 0 1px 0.25em #d9d9d9;
    -moz-box-shadow: inset 0 1px 0.25em #d9d9d9;
    box-shadow: inset 0 1px 0.25em #d9d9d9;
    border: 1px solid #858585;
    border-radius:3px;
    padding: 3px;
    height:20px;
}
.field_block_payment input[type=checkbox]{
      float:right;
}

.step_block{
    margin-top:10px;
    padding:10px;
}
.step_block h2 {
    display: block;
    margin:3px;

    font-size: 20px;
    font-family:  13px "Gill Sans", "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
}
.step_block p{
    line-height: 1.7em;
}
.step_block input[type=text]{
    height:20px;
    padding: 3px;
}
.step_block ol{
    /*list-style: none;*/
    margin-left:10px;
}
.step_block ol li{
    font-size:14px;
    margin-top:10px;
}
.verification_block{
    margin-top:10px;
    padding-left: 10px;
    width:100%;
}


#attachment{
    margin-top:5px;
    padding: 5px;
    width:500px;
}

#id_path{
    padding: 4px;
    border-bottom: 1px dashed #ddd;
}
#attachment input[type=button] {
    margin-top:10px;
    margin-left:30px;
    background-color: #08c;
    color:white;
    border:0;
    width:100px;
    height:30px;
    border-radius: 3px;

}

/**********************dashboard*******************/
.inbox_list{
    list-style:none;

}

.inbox_list li{
    height:30px;
    padding: 10px 0px;
    border-bottom: 1px dashed #eeeeee;
}
.inbox_list li:hover{
    height:30px;
    padding: 10px 0px;
    border-bottom: 1px dashed #eeeeee;
    background:#fafafa;
}

.inbox_from{
    width:100px;
    float:left;
    text-align: center;
}
.inbox_subject{
    width:350px;
    float:left;
    text-align: center;
}
.inbox_received_time{
    width:200px;
    float:left;
    text-align: center;
}

.inbox_list li a{
    display:block;
    height:30px;
    padding: 10px 0px;
}

.message_header{
    margin-left:20px;
    margin-right:20px;

    height:20px;
    padding: 10px 0px;
    border-bottom: 1px dashed #eeeeee;
}
.message_content{
    margin-left:20px;
    margin-right:20px;
    padding:10px 0px;
    line-height: 1.7em;
    background: #fbfbfb;
    min-height: 100px;
    border-radius: 5px;
}
.message_content p{
    padding-left:10px;
}
.msg_header_content{
    text-align: center;
    padding-left:20px;
}

#temp_receiver{
    margin-left:20px;
    height:20px;
    width:200px;
    padding: 3px;
    border:1px solid #eee;

}
#message_subject{
    margin-left:48px;
    height:20px;
    width:200px;
    padding: 3px;
    border:1px solid #eee;

}

#id_content{
    margin:10px;
    width:97%;
    height:100%;
    border:none;
    border-radius: 3px;

}
/*****************footer part *********************/
/****************底部******************************/
.footer{
    clear:both;

}
#footer_wrapper{
    margin:0;
    height:60px;
    width:100%;
    height:220px;
    background: #F7F7F7;
    border-top: 1px solid #a7a7aa;
}

#footer_category{
    margin:0 auto;
    width:960px;
    height:220px;

}
.footer_cat_block{
    margin-top:20px;
    margin-left:10px;
    width:180px;
    height:180px;
    float:left;
    /*background: #FEFEFE;*/
}
.footer_cat_block nav header{
    padding-left:25px;
}
.footer_ul{
    list-style: none;

}
.footer_ul li{
    margin-left:15px;
    padding-top: 10px;
}


/*a:link, a:visited {*/
	/*color:#27b;*/
    /*color: white;*/
	/*text-decoration:none;*/
/*}*/
/*a:hover {*/
	/*text-decoration:underline;*/
/*}*/
/*a img {*/
	/*border-width:0;*/
/*}*/


/****************************account setting **************************/
#account_wrapper{
    margin: 0 auto;
    height:auto;
    overflow: auto;
	width: 100%
}
.pannel_nav{
    padding: 20px 10px;
    float:left;
    width:230px;

}

.account_details{
    margin-top: 10px;
    margin-right:10px;
    width:670px;
    float:right;
    padding: 10px;
}
.account_details fieldset{
    /*border: none;*/
    margin-top: 10px;
   /*padding:0 10px;*/
}
.account_detail_items li{
    margin-top:20px;


}

.account_nav_title{
    margin-top:10px;
    text-align: center;
    height:20px;
    border-radius: 3px;
    background:#679b08;
    width:196px;
    color: white;
    margin-left: 25px;
    padding:5px;
}
/*****begin of account********/
.account_nav{
    margin-top:10px;
    margin-left:25px;


}



.account_nav li{

    margin-top:13px;
    height:20px;
    padding:5px 5px 5px 15px;
    background:#Fafafa;
    border:1px solid #f1f1f1;
    border-left:4px solid #ddd;
    border-right:4px solid #ddd;

    border-radius: 3px;
}
.account_nav li:hover{
    /*transform:rotate(5deg);*/
    /*-ms-transform:rotate(5deg); *//* IE 9 */
    /*-webkit-transform:rotate(5deg); *//* Safari and Chrome */
    color: white;
    margin-top:13px;
    height:20px;
    padding:5px 5px 5px 15px;
    background:#679b08;
    border:1px solid #f1f1f1;

}

.account_nav li a,.account_nav li a:link,.account_nav li a:visited{
    display: block;
    height:20px;
    padding: 3px;

}
.account_nav li a:hover,.account_nav li a:active{
    color:white;
    text-decoration: none;
}


.payement_wrapper{
    margin-top:20px;
    height:80px;
    padding-left:20px;
    border-bottom: 1px dashed #ddd;

}
.paybutton{
    width:50px;
    height:30px;
    background: #0070ff;
    color: #ffffff;
    border: none;
    border-radius: 3px;
}

.paybutton_delete{
    width:50px;
    height:30px;
    background: #FF3B30;
    color: #ffffff;
    border: none;
    border-radius: 3px;
}

.button_group{
    width:70px;
    float: right;
}
.field_wrapper{
    margin-top:25px;
    width:200px;
    float:left;
}
.addnew{

    width:80px;
    height:30px;
    background: #33ba0d;
    color: #ffffff;
    font-weight: bold;
    float: right;
    border: none;
    border-radius: 3px;
}

.fieldWrapper{
    height:30px;
    padding-left:20px;
    border-bottom: 1px dashed #ddd;
}

.fieldWrapper input,.field_wrapper input{
    -webkit-box-shadow: inset 0 1px 0.25em #d9d9d9;
    -moz-box-shadow: inset 0 1px 0.25em #d9d9d9;
    box-shadow: inset 0 1px 0.25em #d9d9d9;
    border: 1px solid #858585;
    border-radius:3px;
    padding: 3px;
    width:190px;
}
.fieldWrapper select{
    -webkit-box-shadow: inset 0 1px 0.25em #d9d9d9;
    -moz-box-shadow: inset 0 1px 0.25em #d9d9d9;
    box-shadow: inset 0 1px 0.25em #d9d9d9;
    border: 1px solid #858585;
    border-radius:3px;;
    width:190px;
}
.field_label{
    margin-left: 5px;
    width:200px;
    float:left;
}
.field_value{
    margin-left: 5px;
    width:300px;
    float:right;
}


/****************************logon **************************************/
.logon_input{
    -webkit-box-shadow: inset 0 1px 0.25em #d9d9d9;
    -moz-box-shadow: inset 0 1px 0.25em #d9d9d9;
    padding:4px;
    box-shadow: inset 0 1px 0.25em #d9d9d9;
    border: 1px solid #858585;
    border-radius:3px;
}
/***********************Query and detail Listing ************************/
#breadcrumb{

    margin-left:20px;
    padding: 8px;
    
}
.listing_icon{
  
    margin-top:10px;
    margin-left:20px;
    padding: 5px;
    width:175px;
    text-align: center;
    /*float: left;*/
}
.app_bid_info{

    margin-top:20px;
    margin-left:20px;
    padding: 5px;
    width:375px;
    float: left;
}

.bidding_box{
    margin:20px;
    padding: 15px;

    width:260px;
    border: 1px dashed #ddd;
    /*float: left;*/
    border-radius: 20px;
}

.bidding_create{
    margin:0 auto;
    /*margin-top:20px;*/
    padding-left: 100px;
    width:600px;

}
#odliczanie-a{
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'SansationBold', Arial, Verdana, sans-serif;
}





.listing_header{
    /*clear:both;*/
    margin:0 auto;
    margin-top:10px;
    width:960px;
    height:200px;
}
.detail_icon{
    border-radius: 25px;
    width:175px;
    height:175px;
}
.listing_detail{
    margin-bottom: 15px;
}
.detail_title{
    margin-bottom: 10px;
}


.app_feature{
    margin-top:20px;
    margin-bottom: 20px;
    clear:both;
    width:960px;
    height:180px;

}

.feature_block{
    margin-top:10px;
    margin-bottom: 10px;
    margin-left:12px;
    width:300px;
    height:130px;
    /*border:1px solid red;*/
    float:left;

}
.feature_list{
    margin-left: 15px;
    margin-right:15px;
    list-style: none;

}

.li_title{
    font-weight:bold;
}
.feature_list li{

    padding:5px;
    margin-top:3px;
    border-bottom:1px dashed #ddd;
}


/*start of detail part */
.detail_left{
    margin-left:20px;
    width:630px;
    float:left;
    overflow: hidden;

}
.detail_left p{
    line-height: 1.8em;
}

.detail_right{
    margin-left:10px;
    width:290px;
    float: right;

}

.widget{
    margin:20px 0;
    width:280px;


}

.widget_title{
    display:block;
    margin-top:5px;
    margin-bottom: 3px;
    margin-left:10px;
    font-weight: bold;
    font-size: 14px;

}
.widget ul{
    list-style: none;
    margin-left:10px;
    margin-right:10px;
}
.widget ul li{
    margin-top:5px;
    padding:3px;
    border-bottom: 1px dashed #ddd;
}
.document_icon{
    padding-left:25px;
    background-image: url('../images/document.png');
    background-repeat: no-repeat;
    background-position: left top;

}
.document_icon a{
    padding-left: 25px;
}

/************special fields********/




/*************float*************/
.left{
    float:left;
}
.right{
    float:right;
}
.clear{
    clear:both;
}
.clear_left{
    clear:left;

}
.clear_right{
    clear:right;
}

/*******margin* Padding**********/
.margin10px{
    margin-top: 10px;
}


.padding5px{
    padding: 5px;
}

.padding_top3px{
    padding-top:3px;
}

.margin_right_10{
    margin-right:10px;
}
.margin_left_10{
    margin-left:10px;
}

.margin_right_20{
    margin-right:20px;
}

.margin_right_30{
    margin-right:30px;
}


/*******font color*****/
.fontcolor_light_grey{
    margin-top:5px;
    color:#666;
    font-size: 14px;

}

/******util********/
.separator{
    margin:0 auto;
    margin-bottom: 20px;
    
    width:930px;
    border-top:1px dashed #ddd;
}

/*********input iOS7 tag*******/
/*input[type=checkbox], input[type=radio] {*/
	/*appearance: none;*/
  /*-webkit-appearance: none;*/
	/*box-shadow: inset 0px 0px 0px 1px #e6e6e6;*/
	/*border-radius: 15px;*/
	/*background-color: #fff;*/
	/*padding: 1px;*/
	/*display: inline-block;*/
	/*width: 52px;*/
	/*height: 31px;*/
	/*position: relative;*/
	/*cursor: pointer;*/
	/*transition: all .3s ease-out;*/
	/*margin: 0px;*/
  /*transform: scale(1);*/
  /*-webkit-transform: scale(1); *//* Adjust size here */
/*}*/
/*input[type=checkbox]:checked, input[type=radio]:checked {*/
	/*box-shadow: inset 0px 0px 0px 20px #53d76a;*/
/*}*/
/*input[type=checkbox]:after, input[type=radio]:after {*/
	/*content: '';*/
	/*position: absolute;*/
	/*width: 29px;*/
	/*height: 29px;*/
	/*border-radius: 15px;*/
	/*box-shadow: 0px 2px 2px 1px rgba(0,0,0,.2);*/
	/*cursor: pointer;*/
	/*background-color: #fff;*/
	/*transition: all 0.1s ease-in .1s;*/
/*}*/
/*input[type="checkbox"]:checked:after,input[type="radio"]:checked:after {*/
	/*left: 22px;*/
/*}*/
/***iOS7 radio box style*/
 input[type=radio] {
	appearance: none;
  -webkit-appearance: none;
	box-shadow: inset 0px 0px 0px 1px #e6e6e6;
	border-radius: 15px;
	background-color: #fff;
	padding: 1px;
	display: inline-block;
	width: 52px;
	height: 31px;
	position: relative;
	cursor: pointer;
	transition: all .3s ease-out;
	margin: 0px;
  transform: scale(1);
  -webkit-transform: scale(1);  /**Adjust size here**/
}
 input[type=radio]:checked {
	box-shadow: inset 0px 0px 0px 20px #53d76a;
}
input[type=radio]:after {
	content: '';
	position: absolute;
	width: 29px;
	height: 29px;
	border-radius: 15px;
	box-shadow: 0px 2px 2px 1px rgba(0,0,0,.2);
	cursor: pointer;
	background-color: #fff;
	transition: all 0.1s ease-in .1s;
}
input[type="radio"]:checked:after {
	left: 22px;
}

/***************end of iOS7 style of radio box***********/

/**************start of usersetting *******************/
.message_back{
    margin:0 auto;
    width:600px;
    padding:10px;


}

/**************end of user settting ********************/

.general_btn{
    background-color: #08c;
    color:white;
    border:0;
    width:100px;
    height:30px;
    border-radius: 3px;
}