body{
    margin:0;
}


#mainContent{
    margin-left: auto;
    margin-right:auto;
    padding-top: 0;
    background: coral;
    width:960px;
}

#sell_nav{
    width:300px;
    float:left;
    height:400px;
    background: rosybrown;
}

#register_app{
    width:600px;
    float:right;
    background: deepskyblue;
    height:300px;
}

