       {% load staticfiles %}
        <div class="listing_header">
              <div class="listing_icon left">
                <a href="{% url 'query:app_detail' app.id %}"><img src="{{ MEDIA_URL }}{{ appInfo.icon }}"class="detail_icon"/></a>
              </div>
              <div class="app_bid_info">
                <h1><a href="{% url 'query:app_detail' app.id %}">{{ app.app_name }}</a></h1>
                <div style="font-size: 15px;margin-top: 5px;">{{ app.title }}</div>
                <div class="margin10px">
                    <div style="width:100px;float: left;">
                        <a target="_blank" href="{{ app.app_store_link }}" title="{{ app.app_name }}"><img src="{% static "images/appstore.png" %}"/></a>
                    </div>
                    <div class="scanner">
                        <img id="id_app_store_link_code" src="{% static "images/scanner.png" %}" width=60px height= 40px />
                        <div id="id_appstore">
                            <img src="{{ MEDIA_URL }}{{ appInfo.app_store_link_code }}" style="width: 250px;height: 250px;" />
                        </div>
                    </div>
                    <div style="margin-top:10px;width:150px;float: right;">
                        {% if request.user.id != app.publisher.id %}
                            {% ifequal request.user.is_authenticated True %}
                                <span id="watch_app" class="watch">{% if watch_app and watch_app == True %}Unwatch{% else %}Watch This App{% endif %}</span>
                            {% else %}
                                <a href="/usersetting/home?next={{ request.path }}" style="text-decoration:none">
                                    <span class="watch">Watch This App</span>
                                </a>
                            {% endifequal %}
                        {% endif %}
                    </div>
                </div>
                {% if app.status == 2 and app.reserve_price and app.reserve_price <= current_price %}
                  <div class="clear">
                    Auction has reached the reserve price.
                  </div>
                {% endif %}
                {% if app.status == 2 and begin_bid == True %}
                  <div class="clear">
                    Listing closes in:{% include "bid/remaintime.html" %}
                  </div>
                {% else %}
                    {% if app.status == 2 and app.begin_date %}
                        <div class="clear">
                          Beginning bid in:{% include "bid/remaintime.html" %}
                        </div>
                    {% endif %}
                    {% if app.status == 3 %}
                        <div style="color: red;" class="clear">
                          Closed in: {{ time_remaining.0|floatformat }} {{ time_remaining.1 }}{{ time_remaining.0|floatformat|pluralize }} {{ time_remaining.2 }}
                        </div>
                    {% endif %}
                {% endif %}
                <div class="clear">
                    <div class="share_icon">
                        <a id="id_twitter" href="{{ twitter_url }}"><img src="{% static "images/twitter_32.png" %}" width=15px height= 15px title="Share to Twitter" /></a>
                    </div>
                    <div class="share_icon">
                        <a id="id_facebook" href="{{ facebook_url }}"><img src="{% static "images/facebook_32.png" %}" width=15px height= 15px title="Share to Facebook" /></a>
{#                        <a href="#"#}
{#                          onclick="#}
{#                            window.open(#}
{#                              'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),#}
{#                              'facebook-share-dialog',#}
{#                              'width=626,height=436');#}
{#                            return false;">#}
{#                          Facebook#}
{#                        </a>#}
                    </div>
                    <div class="share_icon">
                        <a id="id_weibo" href="{{ weibo_url }}"><img src="{% static "images/weibo_32.png" %}" width=15px height= 15px title="Share to Weibo" /></a>
                    </div>
                    <div class="share_icon" id="id_weixin"><img src="{% static "images/weixin.jpg" %}" width=15px height= 15px title="Share to WeChat" /></div>
                    <div id="weixin_win">
                        <img src="{{ MEDIA_URL }}{{ appInfo.app_detail_code }}" style="width: 250px;height: 250px;" />
                        <div>
                            Open WeChat->Discover->Scan QR Code->Share(on top right)
                        </div>
                    </div>
{#                    <div>#}
{#                      <h3>Login using <a href="http://oauth.net/" title="OAuth">OAuth</a> from:</h3>#}
{#                      <ul>#}
{#                      {% for name in social_auth.backends.oauth %}#}
{#                        <li><a rel="nofollow" href="{% url "socialauth_begin" name %}">{{ name|title }}</a></li>#}
{#                      {% endfor %}#}
{#                      </ul>#}
{#                    </div>#}
{##}
{#                    <div>#}
{#                      <h3>Login using <a href="http://tools.ietf.org/html/draft-ietf-oauth-v2-10" title="OAuth2">OAuth2</a> from:</h3>#}
{#                      <ul>#}
{#                      {% for name in social_auth.backends.oauth2 %}#}
{#                        <li><a rel="nofollow" href="{% url "socialauth_begin" name %}">{{ name|title }}</a></li>#}
{#                      {% endfor %}#}
{#                      </ul>#}
{#                    </div>#}
                </div>
              </div>
              <div class="bidding_box right">
                <div class="bidding_status" >
                     <div id="current_price">
                        {{ current_price|floatformat|default:0 }}{{ app.currency.currency }}
                     </div>
                     {% if app.status != 1 %}
                        <div>
                            <a href="{% url 'bid:bid_list' app.id %}"><div id="bid_num">{{ bid_num|floatformat|default:0 }}bid{{ bid_num|floatformat|pluralize }}</div></a>
                        </div>
                     {% endif %}
                     {% if app.status == 2 and begin_bid == True %}
                        <div class="bid_form">
                            <form action="{% url 'bid:bid_create' app.id %}" method="post">
                            {% csrf_token %}
                            <input id="price" name="price" type="text" />
                            <input id="bid_now" type="submit" value="Bid Now"/>
                        </form>
                        </div>
                        <div>(Enter <span id="bid_price">{{ bid_price|floatformat|default:0 }}</span>{{ app.currency.currency }} or more.)</div>
                        <div id="price_msg"></div>
                        <div style="text-align: center;">
                        {% if app.one_price %}
                            <a href="{% url 'transaction:one_price_buy' app.id app.publisher.id %}">
                                <input id="buyitnow" type="button" value="Buy It Now with {{ app.one_price }}{{ app.currency.currency }}" class="buyitnow"/>
                            </a>
                        {% endif %}
                        </div>
                    {% endif %}
                </div>
              </div>
        </div>
<script type="text/javascript" language="javascript">
    $("#price").click(function() {
        if ($("#price").val() ==="") {
            id = '{{ app.id }}';
            $.ajax({
                type:"POST",
                url:"{% url 'query:bid_info' id %}",
                data:{
                    id:id,
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success:function(data) {
                    if(data.ok === 'true' && data.bid_price != null && data.current_price != null && data.bid_num != 0) {
                        $("#bid_price").text(data.bid_price);
                        $("#current_price").text(data.current_price+"{{ app.currency.currency }}");
                        if (data.bid_num == 1) {
                            $("#bid_num").text(data.bid_num+"bid");
                        }
                        else {
                            $("#bid_num").text(data.bid_num+"bids");
                        }
                    }
                }
            });
        }
    });
    $("#bid_now").click(function() {
        if ({{ app.publisher.id }} == {{ request.user.id }}) {
            $("#price_msg").text("You can not bid your own app.");
            return false;
        }
        if ($("#price").val() =="") {
            $("#price_msg").text("*The price can not be blank.");
            return false;
        }
        if (isNaN($("#price").val())) {
            $("#price_msg").text("*The price should be number.");
            return false;
        }
        if (parseFloat($("#price").val()) < parseFloat($("#bid_price").text())) {
            $("#price_msg").text("*The price must bid at least the minimum bid.");
            return false;
        }
    });
    $("#watch_app").click(function() {
        var value = $("#watch_app").text();
        if ("{{ request.user.is_authenticated }}" == "True" && "{{ app.publisher.id }}" != "{{ request.user.id }}") {
            var id = '{{ app.id }}';
            if (value == "Watch This App") {
                $.ajax({
                    type:"POST",
                    url:"{% url 'dashboard:watch_app' app.id %}",
                    data:{
                        app_id:id,
                        csrfmiddlewaretoken: "{{ csrf_token }}"
                    },
                    success:function(data) {
                        if(data.ok === 'true') {
                            $("#watch_app").text("Unwatch");
                        }
                    }
                });
            }
            else {
                $.ajax({
                    type:"POST",
                    url:"{% url 'dashboard:unwatch_app' app.id %}",
                    data:{
                        app_id:id,
                        csrfmiddlewaretoken: "{{ csrf_token }}"
                    },
                    success:function(data) {
                        if(data.ok === 'true') {
                            $("#watch_app").text("Watch This App");
                        }
                    }
                });
            }
        }
    });
    $("#id_twitter").click(function(e) {
        e.preventDefault();
        window.open($(this).attr('href'), '_blank', 'height=200,width=800');
        _gaq.push(['_trackEvent', 'Share', 'ClickThrough', 'twitter']);
    });
    $("#id_facebook").click(function(e) {
        e.preventDefault();
        window.open($(this).attr('href'), '_blank', 'height=320,width=640');
        _gaq.push(['_trackEvent', 'Share', 'ClickThrough', 'facebook']);
    });
    $("#id_weibo").click(function(e) {
        e.preventDefault();
        window.open($(this).attr('href'), '_blank', 'height=520,width=640,top=0,left=0');
        _gaq.push(['_trackEvent', 'Share', 'ClickThrough', 'weibo']);
    });
    $("#weixin_win").dialog({
        autoOpen:false,
        bgiframe:true,
        title:'Share to WeChat',
        height:360,
        width:300,
        draggable:false,
        resizable:false,
        position:'center',
        hide:'fade',
        show:'fade',
        closeOnEscpe:true
    });
    $("#id_weixin").click(function(e) {
        $("#weixin_win").dialog("open");
    });
    $("#id_appstore").dialog({
        autoOpen:false,
        bgiframe:true,
        title:'Scan to install the app',
        height:315,
        width:300,
        draggable:false,
        resizable:false,
        hide:'fade',
        show:'fade',
        closeOnEscpe:true
    });
    $("#id_app_store_link_code").mouseover(function(e) {
        $('#id_appstore').dialog('option','position',[e.clientX+30,e.clientY-150]);
        $("#id_appstore").dialog("open");
    });
    $("#id_app_store_link_code").mouseout(function(e) {
        $("#id_appstore").dialog("close");
    });
</script>