{% extends "index.html" %}
{% block mainContent %}
{% load staticfiles %}
{% load comments %}
        <div id="breadcrumb">
            <span>Category: <a href="#">Category Parent</a> &gt <a href="#">Photography</a></span>
        </div>
        <div class="listing_header">
              <div class="listing_icon left">
                <img src="{{ MEDIA_URL }}{{ appInfo.icon }}"class="detail_icon"/>
              </div>
              <div class="app_bid_info">
                <h1>{{ app.title }}</h1>
                <div class="margin10px"> <a target="_blank" href="{{ app.app_store_link }}" title="{{ app.app_name }}"><img src="{% static "images/appstore.png" %}"/></a> </div>
                <div id="auctionstatus"  title="Listed: 2013-08-21T11:37:06+10:00; Ends: 2013-09-18T11:37:06+10:00">
                    {% if app.reserve_price and app.reserve_price <= current_price %}Auction has reached the reserve price{% endif %}<br>
                    Listing closes in 23 days, 18 hours<!--TODO:To do this later. -->
                </div>
              </div>
              <div class="bidding_box right">
                <div class="bidding_status" >
                     <div id="current_price">
                        {{ current_price|floatformat|default:0 }}{{ app.currency.currency }}
                     </div>
                    {% ifequal app.status 2 %}
                        <div>
                            <a href="{% url 'bid:bid_list' app.id %}"><div id="bid_num">{{ bid_num|floatformat|default:0 }}bid{{ bid_num|floatformat|pluralize }}</div></a>
                        </div>
                        <div class="bid_form">
                            <form action="{% url 'bid:bid_create' app.id %}" method="post">
                            {% csrf_token %}
                            <input id="price" name="price" type="text" />
                            <input id="bid_now" type="submit" value="Bid Now"/>
                        </form>
                        </div>
                        <div>(Enter <span id="bid_price">{{ bid_price|floatformat|default:0 }}</span>{{ app.currency.currency }} or more.)</div>
                        <div id="price_msg"></div>
                    {% endifequal %}

                </div>



              </div>
        </div>
        <div class="app_feature">
            <div class="feature_block">
                <ul class="feature_list">
                    <li><span class="li_title">Rating and Reviews</span></li>
                    <li><span>Rating:</span><span class="right margin_right_20" >{{ app.rating }}</span></li>
                    <li><span>Reviews:</span><span class="right margin_right_20" >{{ app.reviews|default:0 }}</span></li>

                </ul>
            </div>
            <div class="feature_block">
                <ul class="feature_list">
                    <li><span class="li_title">Price</span></li>
                    <li><span>Price in App Store:</span><span class="right margin_right_20" >{{ appInfo.price|floatformat|default:0 }}{{ app.currency.currency }}</span></li>

                </ul>
            </div>
            <div class="feature_block">
                <ul class="feature_list">
                    <li><span class="li_title">Other Stats </span></li>
                    <li><span>Last Updated:</span><span class="right margin_right_20" >{{ app.last_modify|date:"jS M, Y" }}</span></li>
                    <li><span>App Support Link:</span><span class="right margin_right_20" ><a target="_blank" href="{{ app.web_site }}">Support site</a></span></li>


                </ul>
            </div>
        </div>
        <div class="hint_block">

        </div>
        <div class="separator"></div>
        <div class="listing_detail">
            <div class="detail_left">
                <div class="detail_title"><h1>Description</h1></div>
                {% autoescape off %}
                {{ app.description }}
                {% endautoescape %}

                <div class="comments_wrapper">
                    <div style="margin-bottom: 10px;"><h1>Comments and Questions:</h1></div>
                    {% get_comment_list for app as comment_list %}
                    {% for comment in comment_list %}
                        {% ifequal comment.user_name request.user.username %}
                        <div class="comments_red">
                        {% else %}
                         <div class="comments">
                        {% endifequal %}
                        <div class="comment_header"> <span><img src=""/></span>on {{ comment.submit_date|date:" M j, Y" }} at {{ comment.submit_date|time:"g:iA"|lower }}, {{ comment.user_name }} said: </div>
                        <p>{{ comment.comment|safe }}</p>
                        {% if comment.user_name != request.user.username %}
                        <span style="float: right"><a id="reply" href="#new_comment" onclick="reply('{{ comment.user_name }}')">Reply</a></span>
                        {% endif %}
                        </div>

                    {%endfor%}
                </div>

                <div id="new_comment" class="comments_form">
                    <h1>Leave a Comment</h1>
                    <p class="form-allowed-tags">You may use these <abbr title="HyperText Markup Language">HTML</abbr> tags and attributes:  <code>&lt;a href="" title=""&gt; &lt;abbr title=""&gt; &lt;acronym title=""&gt; &lt;b&gt; &lt;blockquote cite=""&gt; &lt;cite&gt; &lt;code&gt; &lt;del datetime=""&gt; &lt;em&gt; &lt;i&gt; &lt;q cite=""&gt; &lt;strike&gt; &lt;strong&gt; </code></p>
                    {% if user.is_authenticated %}
                    {% get_comment_form for app as form %}
                    <table>
                        <form action="{% comment_form_target %}" method="post">
                            {% csrf_token %}
                            <input id="id_honeypot" name="honeypot" hidden="hidden" type="text" />
{#                            {{ form.honeypot }}#}
                            {{ form.content_type }}
                            {{ form.object_pk }}
                            {{ form.timestamp }}
                            {{ form.security_hash }}
                            <input id="id_email" name="email" type="text" hidden="hidden" value="{{ user.email }}" />
                            {{ form.comment }}
                            <tr>
                                <td>
                                    <div class='errors_block'></div>
                                    <input type="hidden" name="next" value="{% url 'query:app_detail' app.id %}" />
                                    <input class="nextbutton" type="submit" id="id_submit" name="submit" value="Add comment">
                                </td>
                            </tr>
                        </form>
                    </table>
                    {% else %}
                        <p>Please <a href="/account/home/?next={{ request.path }}">log in</a> to leave a comment.</p>
                    {% endif %}
                </div>
             </div>
            <div class="detail_right">
                <div class="widget">
                   <span class="widget_title">Seller</span>
                   <ul>
                       <li><span>{{ app.seller_name }}</span></li>
                   </ul>

                </div>
                <div class="widget">
                   <span class="widget_title">Claimed App Age</span>
                   <ul>
                       <li><span>App Established</span><span class="right">{{ appInfo.release_date|date:"jS M, Y" }}</span></li>
                   </ul>

                </div>
                <div class="widget">
                   <span class="widget_title">Claimed Downloads</span>
                   <ul>
                       <li><span> Downloads(monthly avg)</span><span class="right">{{ app.dl_amount|default:0 }}</span></li>
                   </ul>

                </div>
                <div class="widget">
                   <span class="widget_title">Claimed Financials</span>
                   <ul>
                       <li><span>Revenue</span><span class="right">{{ app.revenue|floatformat|default:0 }}{{ app.currency.currency }}</span></li>
{#                       <li><span>Profit</span><span class="right">5,00${{ profit }}</span></li>#}
                   </ul>

                </div>
                <div class="widget">
                   <span class="widget_title">Monetization Methods</span>
                   <ul>
                       {% for monetize in all_monetizes %}
                       <li><span>{{ monetize.method }}</span>
                           {% if monetize in cur_monetizes %}
                               <span class="right">YES</span>
                           {% endif %}
                       </li>
                       {% endfor %}
                   </ul>

                </div>
                {% if attachments %}
                <div class="widget">
                   <span class="widget_title">Attachments</span>
                   <ul>
                       {% for attachment in attachments %}
                       <li class="document_icon"><a target="_blank" href="{{ attachment.path.url }}">{{ attachment.name }}</a></li>
                       {% endfor %}
                   </ul>
                </div>
                {% endif %}
                <div class="widget">
                   <span class="widget_title">Category </span>
                   <ul>
                       {% for category, num in category_nums.items %}
                       <li><span><a target="_blank" href="#">{{ category.name }}({{ num }})</a></span></li>
                       {% endfor %}
                   </ul>
                </div>

            </div>
            <div class="clear"></div>
        </div>

<script type="text/javascript" language="javascript">
    $("#price").click(function() {
        if ($("#price").val() ==="") {
            id = '{{ app.id }}';
            $.ajax({
                type:"POST",
                url:"{% url 'query:bid_info' id %}",
                data:{
                    id:id,
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success:function(data) {
                    if(data.ok === 'true' && data.bid_price != null && data.current_price != null && data.bid_num != 0) {
                        $("#bid_price").text(data.bid_price);
                        $("#current_price").text(data.current_price+"{{ app.currency.currency }}");
                        if (data.bid_num == 1) {
                            $("#bid_num").text(data.bid_num+"bid");
                        }
                        else {
                            $("#bid_num").text(data.bid_num+"bids");
                        }
                    }
                }
            });
        }
    });
    $("#bid_now").click(function() {
        if ($("#price").val() =="") {
            $("#price_msg").text("*The price can not be blank");
            return false;
        }
        if (isNaN($("#price").val())) {
            $("#price_msg").text("*The price should be number.");
            return false;
        }
        if (parseFloat($("#price").val()) < parseFloat($("#bid_price").text())) {
            $("#price_msg").text("*The price must bid at least the minimum bid");
            return false;
        }
    });
    $("#id_submit").click(function() {
        if ($("#id_comment").val() == "") {
            $(".errors_block").html("<ul><li>Comment can not be blank.</li></ul>");//TODO:it will be set in message.properties.
            return false;
        }
    });
    function reply(username) {
        $("#id_comment").text("@"+username+" ");
    }
</script>
{% endblock %}