{% extends "index.html" %}
{% block mainContent %}
{% load staticfiles %}

        <div id="breadcrumb">
            <span>Category: <a href="#">Category Parent</a> &gt <a href="#">Photography</a></span>
        </div>
        <div class="listing_header">
              <div class="listing_icon left">
                <img src="{{ MEDIA_URL }}{{ appInfo.icon }}"class="detail_icon"/>
              </div>
              <div class="listing_icon left">
                <p class="margin10px left">Title Photography iOS App with 2,200 downloads/mo </p>
                <span class="margin10px"><a href="#">Visit {{ appname }}APPNAME in the AppleStore</a></span>
                <div id="auctionstatus"  title="Listed: 2013-08-21T11:37:06+10:00; Ends: 2013-09-18T11:37:06+10:00">
                    Auction has reached the reserve price<br>Listing closes in 23 days, 18 hours
                </div>
              </div>
              <div class="bidding_box right">
                <div class="bidding_status" > </div>
                <div class="bidding_box">
                    $2700{{ currentprice }} &nbsp; <a href="#">139bids</a>
                    <form action="" method="post">
                        <input type="text" value="" />
                        <input type="submit" value="Bid Now"/>
                    </form>
                    <span>(Enter $2,650 or more.)</span>
                </div>

              </div>
        </div>
        <div class="app_feature">
            <div class="feature_block">
                <ul class="feature_list">
                    <li><span class="li_title">Rating and Reviews (Current Version)</span></li>
                    <li><span>Rating:</span><span class="right margin_right_20" >4+{{ Rating }}</span></li>
                    <li><span>Reviews:</span><span class="right margin_right_20" >32{{ reviews }}</span></li>

                </ul>
            </div>
            <div class="feature_block">
                <ul class="feature_list">
                    <li><span class="li_title">Price</span></li>
                    <li><span>Price in App Store:</span><span class="right margin_right_20" >2.99${{ formattedPrice }}</span></li>

                </ul>
            </div>
            <div class="feature_block">
                <ul class="feature_list">
                    <li><span class="li_title">Other Stats </span></li>
                    <li><span>Last Updated:</span><span class="right margin_right_20" >14th Aug, 2013{{ update_date }}</span></li>
                    <li><span>App Support Link:</span><span class="right margin_right_20" ><a href="#">Support site</a>{{ Rating }}</span></li>


                </ul>
            </div>
        </div>
        <div class="hint_block">

        </div>
        <div class="separator"></div>
        <div class="listing_detail">
            <div class="detail_left">
                {% autoescape off %}
                {{ app.description }}
                {% endautoescape %}
            </div>
            <div class="detail_right">
                <div class="widget">
                   <span class="widget_title">Seller</span>
                   <ul>
                       <li><span></span><span>{{ author }}</span></li>
                   </ul>

                </div>
                <div class="widget">
                   <span class="widget_title">Claimed App Age</span>
                   <ul>
                       <li><span>App Established</span><span class="right">Aug, 2012{{ create_date }}</span></li>
                   </ul>

                </div>
                <div class="widget">
                   <span class="widget_title">Claimed Downloads</span>
                   <ul>
                       <li><span> Downloads	(monthly avg)</span><span class="right">3,000{{ downloads }}</span></li>
                   </ul>

                </div>
                <div class="widget">
                   <span class="widget_title">Claimed Financials</span>
                   <ul>
                       <li><span>Revenue</span><span class="right">3,000${{ revenue }}</span></li>
                       <li><span>Profit</span><span class="right">5,00${{ profit }}</span></li>
                   </ul>

                </div>
                <div class="widget">
                   <span class="widget_title">Monetization Methods</span>
                   <ul>
                       <li><span>App Sales</span><span class="right">YES{{ appsale }}</span></li>
                       <li><span>In-App Sales</span><span class="right">YES{{ inapp }}</span></li>
                       <li><span>Advertising</span><span class="right">YES{{ Adv }}</span></li>
                   </ul>

                </div>
                {% if attachments %}
                <div class="widget">
                   <span class="widget_title">Attachments</span>
                   <ul>
                       {% for attachment in attachments %}
                       <li><a target="_new" href="{{ attachment.path.url }}">{{ attachment.name }}</a></li>
                       {% endfor %}
                   </ul>
                </div>
                {% endif %}
                <div class="widget">
                   <span class="widget_title">Category </span>
                   <ul>
                       <li><span>App Sales</span><span class="right">YES{{ appsale }}</span></li>
                       <li><span>In-App Sales</span><span class="right">YES{{ inapp }}</span></li>
                       <li><span>Advertising</span><span class="right">YES{{ Adv }}</span></li>
                   </ul>

                </div>

            </div>
            <div class="clear"></div>
        </div>

{% endblock %}