{% extends "index.html" %}
{% block mainContent %}
{% load staticfiles %}
        <div class="listing_wrapper">
            <div id="breadcrumb">
                <span>Category: <a href="#">Category Parent</a> &gt <a href="#">Photography</a></span>
            </div>
            <div class="clear"></div>
            <div class="listing_section">
                 <div class="listing_nav"><!--navigation bar-->
                    <div class="search_criteria">
                        <h1>Revenue(USD/Month)</h1>
                        <ul>
                            <li><span class="">Over $2000</span><span class="right">12{{ amount }}</span></li>
                            <li><span class="">Over $1000</span><span class="right">12{{ amount }}</span></li>
                            <li><span class="">Over $500</span><span class="right">12{{ amount }}</span></li>
                            <li><span class="">Over $100</span><span class="right">12{{ amount }}</span></li>
                            <li><span class="">Over $0</span><span class="right">12{{ amount }}</span></li>
                        </ul>
                    </div>
                    <div class="search_criteria">
                        <h1>Category </h1>
                        <ul>
                            <li><span class="">Business</span><span class="right">12{{ amount }}</span></li>
                            <li><span class="">Business</span><span class="right">12{{ amount }}</span></li>
                            <li><span class="">Business</span><span class="right">12{{ amount }}</span></li>
                            <li><span class="">Business</span><span class="right">12{{ amount }}</span></li>
                            <li><span class="">Business</span><span class="right">12{{ amount }}</span></li>
                            <li><span class="">Business</span><span class="right">12{{ amount }}</span></li>
                            <li><span class="">Business</span><span class="right">12{{ amount }}</span></li>
                        </ul>
                    </div>
                    <div class="search_criteria">
                        <h1>Monetize </h1>
                        <ul>
                            <li><span class="">App Sales</span></li>
                            <li><span class="">In-App Sales</span></li>
                            <li><span class="">Advertise</span></li>
                        </ul>
                    </div>
                 </div>
                 <div class="listing_block">
                     <div class="listing_title">

                     </div>
                     <div class="listing_content">
                        <ul >
                            {% for app in list_latest %}
                            <li>
                                <div class="app_wrapper">
                                       <div class="app_img">
                                           <img class="img_140x140" src="{{ MEDIA_URL }}{{ app.appinfo.icon }}"/>
                                       </div>

                                       <div class="app_attribute">
                                           <div class="info_detail">
                                            <span><h1>{{ app.app_name }}</h1></span> <span>{{ app.create_time }} </span>
                                            <p>{{ app.title }}</p>
                                            <span>Downloads:{{ app.dl_amount }}</span>
                                           </div>
                                           <div class="bidding_info">
                                               5$
                                           </div>
                                       </div>
                                </div>
                            </li>
                             {% endfor %}
                        </ul>
                     </div>
                </div>

            </div>
        <div class="clear"></div>

        </div><!--end of listing-wrapper-->
{% endblock %}