{% extends "index.html" %}
{% block mainContent %}
{% load staticfiles %}

        <div id="breadcrumb">
            <span>Category: <a href="#">Category Parent</a> &gt <a href="#">Photography</a></span>
        </div>

        <div class="listing_block">
            <header class="list_block_header">Hottest Posting</header>
            <table class="listing_table" cellspacing="0">
            <thead>
                <tr>
                <th>Logo</th><th>App name</th><th>Price</th><th>Bids</th><th>Ending</th>
                </tr>
            </thead>
            <tbody>
                {% for i in range %}
                <tr>
                    <td><img class="img_30x30" src="http://a1357.phobos.apple.com/us/r1000/118/Purple2/v4/fc/b7/25/fcb72553-1585-d848-d262-23bf56aa02a5/mzl.hojifrfm.jpg"/></td><td>SAP Job is good app</td><td>1000$</td><td>23</td><td>19Days</td>
                </tr>
                <tr>
                    <td colspan="5" class="fullwidth">SAP Job is an app for SAP internal job listing.SAP Job is an app for SAP internal job listing.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        </div>

{% endblock %}