<script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script>
<script type="text/javascript">
//<![CDATA[
 bkLib.onDomLoaded(function() {
	new nicEditor({fullPanel : true}).panelInstance('appdescription');
 });
//]]>
</script>

<div id="register_app">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

    <div id="app_description">
        {{ form.description.label_tag }}
        {% if form.description.errors %}
            <div>
            {{ form.description.errors }}
            </div>
        {% endif %}
        {% if app_status != 3 %}
            <textarea id="appdescription" name="description" cols="40" rows="20" style="width: 40em; height: 20em">
                {{ form.description.value }}
            </textarea>
        {% else %}
            {{ form.description }}
        {% endif %}
    </div>

    {% if attachments != None %}
        {% for attachment in attachments %}
        <div>
            {{ attachment.name.label_tag }}
            {% if attachment.name.errors %}
                <div>
                {{ attachment.name.errors }}
                </div>
            {% endif %}
            <a style="color: blue; font-weight: bold;" target="_new" href="{{ attachment.path.url }}">{{ attachment.name }}</a>
            {% if app_status != 3 %}
<!--        TODO: It is better to use the image with delete meaning. -->
            <input id="{{ attachment.id }}" name="{{ attachment.name }}" type="button" value="Remove" onclick="deleteAttachment(this)">
            {% endif %}
        </div>
        {% endfor %}
    {% endif %}
    {% if app_status != 3 %}
    <div id="attachment">
         <div>
            <label for="attachment">Attachment</label> (*Just support <b>txt/pdf/image</b> type)
        </div>
        {{ attachmentError }}
        {% if attachmentForm %}
            <div>

                {% if attachmentForm.path.errors %}
                    <div>
                    {{ attachmentForm.path.errors }}
                    </div>
                {% endif %}
                {{ attachmentForm.path.label_tag }}
                {{ attachmentForm.path }}
                <input id="add" type="button" value="Add">
            </div>
        {% endif %}
    </div>
    {% endif %}


        <input id="next" class="nextbutton" type="submit" name="next" value="next"/>
    </form>

<script type="text/javascript" language="javascript">
    function deleteAttachment(obj) {
        id = $(obj).attr("id");
        name = $(obj).attr("name");
        $.ajax({
            type:"POST",
            url:"{% url 'seller:deleteAttachment' id %}",
            data:{
                id:id,
                name:name,
                csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            success:function(data) {
                if(data.ok === 'true')
                    $(obj).parent().remove();
                else
                    alert(data.message);
            },
            error:function(){
                alert("Delete failed, please try again.");
            }
        });
    }

    $("#add").click(function() {
        $("#attachment").append(
            '<div>'+
                '{{ attachmentForm.path.label_tag }}'+
                '{% if attachmentForm.path.errors %}'+
                    '<div>'+
                    '{{ attachmentForm.path.errors }}'+
                    '</div>'+
                '{% endif %}'+
                '{{ attachmentForm.path }}'+
                '<input type="button" value="Remove" onclick="removeNode(this)">'+
            '</div>');
    });

    function removeNode(obj) {
        $(obj).parent().remove();
    }
</script>
</div>