<div id="register_app">
 <fieldset>
      <legend>Marketing</legend>
    <form action="" method="post">
    {% csrf_token %}
    <div class="field_block_payment">
        <div class="left" style="font-weight: bold;">SN:
            {% if serviceDetail %}
                <input id="sn" type="hidden" name="sn" value="{{ serviceDetail.sn }}">
                {{ serviceDetail.sn }}
            {% endif %}
        </div>
        <div class="right" style="width:100px;">
        <label>Total:</label><label id="total">
        {{ amount|default:0 }}
        </label>
        </div>
    </div>
    {% for serviceItem in serviceItems %}
        <div class="field_block_payment">

            <div class="left" style="width:300px;">
            <div style="width:300px:height:20px; font-weight: bold;"> {{ serviceItem.short_text }}</div>
            <div style="width:300px:height:40px;">{{ serviceItem.long_text }}</div>
             </div>
             <div class="right" style="width:50px">
             {{ serviceItem.price }}
                 <input type="checkbox" name="serviceItem_id" value="{{ serviceItem.id }}"
                       price="{{ serviceItem.price }}" onclick="checkServiceItem(this)"
                       {% ifequal serviceItem.is_basic_service True %}checked="checked" disabled
                       {% else %}
                       {% if serviceItem in selectItems %}checked="checked"{% endif %}
                       {% if serviceDetail and serviceDetail.is_payed == True %} disabled {% endif %}
                       {% endifequal %}>
                {% ifequal serviceItem.is_basic_service True %}
                <input type="hidden" name="serviceItem_id" value="{{ serviceItem.id }}">
                {% endifequal %}
             </div>
        </div>
         <div class="clear"></div>
    {% endfor %}

    {% if serviceDetail == None or serviceDetail and serviceDetail.is_payed != True %}
    <div class="right" style="width:250px;">
        <input id="next" class="nextbutton" type="submit" name="next" value="Checkout"/>
    </div>
    {% endif %}
    </form>
 </fieldset>

<div class="step_block" >
{% if serviceDetails %}
     <span><h2>Your existing payment list:</h2></span>
     <ol>
     {% for detail in serviceDetails %}
         <li>
         <a href="{% url 'seller:payment' app_id detail.sn %}">{{ detail.sn }}</a>
             &nbsp;<b>Expiry Date:</b>
             {% if detail.is_payed == True and detail.start_date and detail.end_date %}
               {{ detail.start_date|date:" M j, Y g:iA" }} - {{ detail.end_date|date:" M j, Y g:iA" }}
             {% else %}
                {{ service_expiry_date }} month
             {% endif %}
         </li>
     {% endfor %}
     </ol>
     <div>
         <a href="{% url 'seller:payment' app_id '' %}"><input id="new_payment" class="nextbutton" type="button" value="new payment"></a>
     </div>
{% endif %}
 </div>

<script type="text/javascript" language="javascript">
    var total =  parseFloat(($("#total").text()).replace(",", "."));
    function checkServiceItem(obj) {
        var price = $(obj).attr("price");
        if ($(obj).is(':checked') == true) {
            total += parseFloat(price.replace(",", "."));
        }
        else {
            total -= parseFloat(price.replace(",", "."));
        }
        $("#total").html(total);
    }
</script>
</div>