{% load staticfiles %}
<div id="register_app">
   <div class="errors_block">
            {% if form.title.errors %}
                {{ form.title.errors }}
            {% endif %}
            {% if form.app_store_link.errors %}
                {{ form.app_store_link.errors }}
            {% endif %}
            {% if error_msg %}
                <ul>
                    <li>
                        {{ error_msg }}
                    </li>
                </ul>

            {% endif %}
   </div>

      <div class="dash_title">Appstore Info</div>
        <form action="" method="post">
            {% csrf_token %}

      <div class="field_block_addi">
        <div class="left" style="width:120px;margin-top:15px;">
            <div style="width:100px:height:30px;">*{{ form.title.label_tag }}</div>

        </div>
        <div class="right" style="width:420px;">
             {{ form.title }}
        </div>




      </div>
      <div class="field_block_addi">
        <div class="left" style="width:120px;margin-top:15px;">
            <div style="width:100px:height:30px;">*{{ form.app_store_link.label_tag }}</div>

        </div>
       <div id="progressor">
              <img src="{% static "images/loading.gif" %}" style="width:30px;height: 30px;"/>
        </div>
        <div class="right" style="width:420px;">
             {{ form.app_store_link }}
        </div>

      </div>

        <div class="button_block">
            <input id="next" class="nextbutton" type="submit" name="next" value="Next"/>
        </div>
        </form>


        <div class="step_block" style="clear:both;" >
            {% if apps %}
            <div style="color:#00b0b0;font-weight: bold;">Your draft apps:</div>
                <ul class="existing_apps">
                {% for app in apps %}
                <li>
                <div class="app_list_name " style="clear:both;">
                    <a  href="{% url 'seller:appStore_link' app.id %}">{{ app.app_name }}</a>
                </div>
                <div class="app_list_attr">
                    Modified:{{ app.last_modify|date:"Y-m-d G:i" }}
                </div>
                </li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
<script type="text/javascript" language="javascript">
    $("#next").click(function() {
        if ($("#id_title").val().trim() == "") {
            $(".errors_block").html("<ul><li>Title is required.</li></ul>");//TODO:it will be set in message.properties.
            return false;
        }
        if ($("#id_app_store_link").val().trim() == "") {
            $(".errors_block").html("<ul><li>App store link is required.</li></ul>");//TODO:it will be set in message.properties.
            return false;
        }
        $("#progressor").show("fast");
    });
</script>
<div class="clear"></div>
</div>
