<div id="register_app">
    <form action="" method="post">
        {% csrf_token %}
    <fieldset>
      <legend>Marketing</legend>


    <div>
        {{ form.source_code.label_tag }}
        {% if form.source_code.errors %}
            <div>
            {{ form.source_code.errors }}
            </div>
        {% endif %}
        {{ form.source_code }}{{ form.source_code.help_text }}
    </div>

    <div>
        {{ form.web_site.label_tag }}
        {% if form.web_site.errors %}
            <div>
            {{ form.web_site.errors }}
            </div>
        {% endif %}
        {{ form.web_site }}{{ form.web_site.help_text }}
    </div>

        <div class="button_block">
            <input id="next" class="nextbutton" type="submit" name="next" value="Next"/>
            <input id="next" class="nextbutton" type="submit" name="save" value="Save"/>
        </div>
    </fieldset>
    </form>

</div>