<div id="register_nav">
    <ol id="register_new_nav">
        <li>
            <a href="{% url 'seller:appStore_link' app_id %}">App Info</a>
            <ul>
                <li>
                    <a href="{% url 'seller:appStore_link' app_id %}">AppleStore Link</a><!--TODO:The other nav links except for this one should be not linked, when app_id is none. -->
                </li>
                <li>
                    <a href="{% url 'seller:appStore_info' app_id %}">Appstore Info</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="{% url 'seller:marketing' app_id %}">Marketing</a>
        </li>
        <li>
            <a href="{% url 'seller:additional_info' app_id %}">Additional Info</a>

        </li>
        <li>
            <a href="{% url 'seller:sale' app_id %}">Sale</a>
        </li>
        <li>
            <a href="{% url 'seller:delivery' app_id %}">Delivery</a>
        </li>
        <li>
            <a href="{% url 'seller:payment' app_id %}">Payment</a>
        </li>
        <li>
            <a href="{% url 'seller:verification' app_id %}">Verification</a>
        </li>
    </ol>
    <div class="preview_buttons"><a href="/query/getDetail/?={{ app_id }}">Preview your App</a></div>
</div>