<div id="register_app">
    <h1>Need write the description here --.</h1>
    <h2>Step1:Need write the description here --.</h2>
    <p>Need write the description here------------------------</p>
    <p>
      <a href="#" target="_new">The document of apple store</a>
    </p>
    <pNeed write the description here------------------------</p>
    <label>App Verification Token:</label>
    <input type="text" readonly="true" value="{{ verify_token }}" />
    <h2>Step2:Need write the description here --.</h2>
    <p>Need write the description here------------------------</p>
    <form action="" method="post">
        {% csrf_token %}
        <input id="next" type="submit" name="next" value="Verify Token Now"/>
    </form>

</div>