<div id="register_app">
     <div class="errors_block">
         {{ error_msg }}
    </div>
    <form action="" method="post">
        {% csrf_token %}
    <div class="dash_title">Price Setting</div>
    <div class="field_block_sale">
        {% if form.begin_price.errors %}
            <div>
            {{ form.begin_price.errors }}
            </div>
        {% endif %}

         <div class="left" style="width:300px;">
            <div style="width:300px:height:20px;"> *{{ form.begin_price.label_tag }}</div>
            <div class="help_text">The begin price for your auction.</div>
         </div>
         <div class="right">
                {{ form.begin_price }}
         </div>




    </div>

    <div class="field_block_sale">

        {% if form.one_price.errors %}
            <div>
            {{ form.one_price.errors }}
            </div>
        {% endif %}

         <div class="left" style="width:300px;">
            <div style="width:300px:height:20px;">Buy it now price</div>
            <div class="help_text">The buy it now price for your app.</div>
         </div>
         <div class="right">
                {{ form.one_price }}
         </div>

    </div>

    <div class="field_block_sale">

        {% if form.reserve_price.errors %}
            <div>
            {{ form.reserve_price.errors }}
            </div>
        {% endif %}


         <div class="left" style="width:300px;">
            <div style="width:300px:height:20px;">{{ form.reserve_price.label_tag }}</div>
            <div class="help_text">The reserved auction target price for your app. </div>
         </div>
         <div class="right">
                {{ form.reserve_price }}
         </div>

    </div>

    <div class="field_block_sale">

        {% if form.currency.errors %}
            <div>
            {{ form.currency.errors }}
            </div>
        {% endif %}


         <div class="left" style="width:300px;">
            <div style="width:300px:height:20px;">*{{ form.currency.label_tag }}</div>
            <div class="help_text">Please choose the currency for your auction.</div>
         </div>
         <div class="right">
                {{ form.currency }}
         </div>
    </div>
    <div class="field_block_sale">

        {% if form.minimum_bid.errors %}
            <div>
            {{ form.minimum_bid.errors }}
            </div>
        {% endif %}

         <div class="left" style="width:300px;">
            <div style="width:300px:height:20px;">*{{ form.minimum_bid.label_tag }}</div>
            <div class="help_text">The minimum increment of bid price.</div>
         </div>
         <div class="right">
                {{ form.minimum_bid }}
         </div>

    </div>
    <div style="padding:20px 0 0 30px; font-size: 12px;color: #00b0b0;;">
        * indicate the filed is mandatory.<br/>
        The reserved price must be greater than the 'buy it now price'.<br/>

    </div>
    <div class="button_block">
            <input id="next" class="nextbutton" type="submit" name="next" value="Next"/>
    </div>

    </form>
<script type="text/javascript" language="javascript">
    $("#next").click(function() {
        var begin_price = $("#id_begin_price").val().trim();
        var one_price = $("#id_one_price").val().trim();
        var reserve_price = $("#id_reserve_price").val().trim();
        var minimum_bid = $("#id_minimum_bid").val().trim();
        if (begin_price == "") {
            $(".errors_block").html("<ul><li>Begin price is required.</li></ul>");//TODO:it will be set in message.properties.
            return false;
        }
        if (isNaN(begin_price)) {
            $(".errors_block").html("<ul><li>Begin price should be number.</li></ul>");//TODO:it will be set in message.properties.
            return false;
        }
        if ($("#id_currency").val().trim() == "") {
            $(".errors_block").html("<ul><li>Currency is required.</li></ul>");//TODO:it will be set in message.properties.
            return false;
        }
        if (one_price != "" && isNaN(one_price)) {
            $(".errors_block").html("<ul><li>One price should be number.</li></ul>");//TODO:it will be set in message.properties.
            return false;
        }
        if (reserve_price != "" && isNaN(reserve_price)) {
            $(".errors_block").html("<ul><li>Reserve price should be number.</li></ul>");//TODO:it will be set in message.properties.
            return false;
        }
        if (one_price != "" && reserve_price != "" && parseFloat(one_price) > parseFloat(reserve_price)) {
            $(".errors_block").html("<ul><li>Reserve price should be greater than one price.</li></ul>");//TODO:it will be set in message.properties.
            return false;
        }
        if (minimum_bid == "") {
            $(".errors_block").html("<ul><li>Minimum bid is required.</li></ul>");//TODO:it will be set in message.properties.
            return false;
        }
        if (isNaN(minimum_bid)) {
            $(".errors_block").html("<ul><li>Minimum bid should be number.</li></ul>");//TODO:it will be set in message.properties.
            return false;
        }
    });
</script>
</div>