<div id="register_app" xmlns="http://www.w3.org/1999/html">
{% load i18n %}
    <div class="errors_block">
    </div>
 <form action="" method="post">
        {% csrf_token %}
      <div class="dash_title">{% trans 'Additional Information' %}</div>
        <div class="register_icon">
            <span style="font-weight: bold;">{% trans 'Icon' %}</span>
            {% if appInfoForm.icon.errors %}
                <div class="return_error">
                {{ appInfoForm.icon.errors }}
                </div>
            {% endif %}
            {% if appInfoForm.icon.value %}
            <div class="icon_wrapper">
            <img width="57px" height="57px" src="{{ MEDIA_URL }}{{ appInfoForm.icon.value }}"/>
            </div>
            {% endif %}
        </div>

        <div class="field_block">
            <span style="font-weight: bold;">{% trans 'App name' %}</span>
            {% if form.app_name.errors %}
                <div class="return_error">
                {{ form.app_name.errors }}
                </div>
            {% endif %}
            {{ form.app_name }}
        </div>

        <div class="field_block">
            <span style="font-weight: bold;">{% trans 'Apple id' %}</span>
            {% if form.apple_id.errors %}
                <div class="return_error">
                {{ form.apple_id.errors }}
                </div>
            {% endif %}
            {{ form.apple_id }}
        </div>

        <div class="field_block">
            <span style="font-weight: bold;">{% trans 'Platform version' %}</span>
            {% if form.platform_version.errors %}
                <div class="return_error">
                {{ form.platform_version.errors }}
                </div>
            {% endif %}
            {{ form.platform_version }}
        </div>

        <div class="field_block">
            <span style="font-weight: bold;">{% trans 'Rating' %}</span>
            {% if form.rating.errors %}
                <div class="return_error">
                {{ form.rating.errors }}
                </div>
            {% endif %}
            {{ form.rating }}
        </div>

        <div class="field_block_selected">
            <span style="font-weight: bold;">{% trans 'Category' %}</span>
            {% if form.category.errors %}
                <div class="return_error">
                {{ form.category.errors }}
                </div>
            {% endif %}
            {{ form.category }}
        </div>

        <div class="field_block_selected">
            <span style="font-weight: bold;">{% trans 'Device' %}</span>
            {% if form.device.errors %}
                <div class="return_error">
                {{ form.device.errors }}
                </div>
            {% endif %}
            {{ form.device }}
        </div>

        <div class="field_block">
            <span style="font-weight: bold;">{% trans 'Price' %}</span>
            {% if appInfoForm.price.errors %}
                <div>
                {{ appInfoForm.price.errors }}
                </div>
            {% endif %}
            {{ appInfoForm.price }}
        </div>


    {{ appContent }}
        <div class="clear"></div>
        <div class="button_block">
            <input id="next" class="nextbutton" type="submit" name="next" value="{% trans 'Next' %}"/>
        </div>
   </form>

</div>