<div id="register_app">
    <div class="errors_block">
    </div>
 <form action="" method="post">
        {% csrf_token %}
      <div class="dash_title">Revenue/Monetization</div>

    <div  class="field_block_market">
        {% if form.dl_amount.errors %}
            <div class="return_error">
            {{ form.dl_amount.errors }}
            </div>
        {% endif %}
            <div class="left" style="width:300px;">
                <div style="width:300px:height:20px;">{{ form.dl_amount.label_tag }}</div>
                <div class="help_text">Your apps download information in iTunes.</div>
            </div>
            <div class="right">
               {{ form.dl_amount }}
            </div>




    </div>

    <div  class="field_block_market">
        {% if form.revenue.errors %}
            <div class="return_error">
            {{ form.revenue.errors }}
            </div>
        {% endif %}

         <div class="left" style="width:300px;">
            <div style="width:300px:height:20px;">{{ form.revenue.label_tag }}</div>
            <div class="help_text">Your apps revenue from AppleStore. </div>
         </div>
         <div class="right">
               {{ form.revenue }}
         </div>





    </div>

    <div  class="field_block_selected">
        {% if form.monetize.errors %}
            <div class="return_error" >
            {{ form.monetize.errors }}
            </div>
        {% endif %}


         <div class="left" style="width:300px;">
            <div style="width:300px:height:20px;"> {{ form.monetize.label_tag }}</div>
            <div class="help_text">Select your monetize method.</div>
         </div>
         <div class="right">
                {{ form.monetize }}
         </div>


    </div>

        <div class="button_block">
            <input id="next" class="nextbutton" type="submit" name="next" value="Next"/>
        </div>
 </form>

</div>