<div id="register_app">
    <div class="errors_block">
    </div>
 <form action="" method="post">
        {% csrf_token %}
      <div class="dash_title">Revenue/Monetization</div>

    <div  class="field_block">
        {{ form.dl_amount.label_tag }}
        {% if form.dl_amount.errors %}
            <div>
            {{ form.dl_amount.errors }}
            </div>
        {% endif %}
        {{ form.dl_amount }}
    </div>

    <div  class="field_block">
        {{ form.revenue.label_tag }}
        {% if form.revenue.errors %}
            <div>
            {{ form.revenue.errors }}
            </div>
        {% endif %}
        {{ form.revenue }}
    </div>

    <div  class="field_block_selected">
        {{ form.monetize.label_tag }}
        {% if form.monetize.errors %}
            <div>
            {{ form.monetize.errors }}
            </div>
        {% endif %}
        {{ form.monetize }}
    </div>

        <div class="button_block">
            <input id="next" class="nextbutton" type="submit" name="next" value="Next"/>
        </div>
 </form>

</div>