{% extends "index.html" %}
{% block mainContent %}
{% load staticfiles %}
{% include "seller/register_nav.html" %}

    {% ifequal flag 1 %}
    {% include "seller/register_app.html" %}
    {% endifequal %}

    {% ifequal flag 2 %}
    {% include "seller/register_download.html" %}
    {% endifequal %}

    {% ifequal flag 3 %}
    {% include "seller/register_revenue.html" %}
    {% endifequal %}

     {% ifequal flag 4 %}
    {% include "seller/register_pitch.html" %}
    {% endifequal %}

    {% ifequal flag 5 %}
    {% include "seller/register_sale.html" %}
    {% endifequal %}

    {% ifequal flag 6 %}
    {% include "seller/register_payment.html" %}
    {% endifequal %}

    {% ifequal flag 7 %}
    {% include "seller/register_launch.html" %}
    {% endifequal %}


{% endblock %}
