<div id="register_app">
    <form action="" method="post">
        {% csrf_token %}

    <div>
        {{ form.platform_version.label_tag }}
        {% if form.platform_version.errors %}
            <div>
            {{ form.platform_version.errors }}
            </div>
        {% endif %}
        {{ form.platform_version }}
    </div>

    <div>
        {{ form.rating.label_tag }}
        {% if form.rating.errors %}
            <div>
            {{ form.rating.errors }}
            </div>
        {% endif %}
        {{ form.rating }}
    </div>

    <div>
        {{ form.category.label_tag }}
        {% if form.category.errors %}
            <div>
            {{ form.category.errors }}
            </div>
        {% endif %}
        {{ form.category }}
    </div>

    <div>
        {{ form.device.label_tag }}
        {% if form.device.errors %}
            <div>
            {{ form.device.errors }}
            </div>
        {% endif %}
        {{ form.device }}
    </div>

    <div>
        {{ appInfoForm.track_id.label_tag }}
        {% if appInfoForm.track_id.errors %}
            <div>
            {{ appInfoForm.track_id.errors }}
            </div>
        {% endif %}
        {{ appInfoForm.track_id }}
    </div>

    <div>
        {{ appInfoForm.price.label_tag }}
        {% if appInfoForm.price.errors %}
            <div>
            {{ appInfoForm.price.errors }}
            </div>
        {% endif %}
        {{ appInfoForm.price }}
    </div>

    <div>
        {{ appInfoForm.icon.label_tag }}
        {% if appInfoForm.icon.errors %}
            <div>
            {{ appInfoForm.icon.errors }}
            </div>
        {% endif %}
        {{ appInfoForm.icon }}
    </div>
{{ appContent }}
        <input id="next" type="submit" name="next" value="next"/>
    </form>

</div>