<div id="register_app">
    <form action="" method="post">
        {% csrf_token %}

    {% for paymentItem in paymentItems %}
    <div>
        {{ paymentItem.short_text }}
    </div>
    <div>
        {{ paymentItem.long_text }}
    </div>
    <div>
        {{ paymentItem.price }}
        <input type="checkbox" name="paymentItem_id" value="{{ paymentItem.id }}"
               price="{{ paymentItem.price }}" onclick="checkPaymentItem(this)"
               {% ifequal paymentItem.is_basic_service True %}checked="checked" disabled
               {% else %}{% if paymentItem in selectItems %}checked="checked"{% endif %}
               {% endifequal %}>
        {% ifequal paymentItem.is_basic_service True %}
        <input type="hidden" name="paymentItem_id" value="{{ paymentItem.id }}">
        {% endifequal %}>
    </div>
    {% endfor %}

    <label>Total:</label><label id="total">
        {{ amount }}
    </label>
    <br>
    <input id="next" type="submit" name="next" value="Checkout"/>
    </form>

<script type="text/javascript" language="javascript">
    var total =  parseFloat(($("#total").text()).replace(",", "."));
    function checkPaymentItem(obj) {
        var price = $(obj).attr("price");
        if ($(obj).is(':checked') == true) {
            total += parseFloat(price.replace(",", "."));
        }
        else {
            total -= parseFloat(price.replace(",", "."));
        }
        $("#total").html(total);
    }
</script>
</div>