{% load staticfiles %}
<script src="{% static "scripts/nicEdit-latest.js" %}"></script>
<script type="text/javascript">
//<![CDATA[
 bkLib.onDomLoaded(function() {
	new nicEditor({fullPanel : true}).panelInstance('appdescription');
    var status = "{{ app_status }}";
    if (status == 3) {
        nicEditors.findEditor("appdescription").disable();
    }
 });
//]]>
</script>

<div id="register_app">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
    <div class="dash_title">App Attributes</div>
    <div id="app_description">
        {% if form.description.errors %}
            <div>
            {{ form.description.errors }}
            </div>
        {% endif %}
        <textarea id="appdescription" name="description" cols="60" rows="20" style="width: 628px; height: 30em;line-height: 1.8em;">
            {{ form.description.value }}
        </textarea>
    </div>

    {% if attachments != None %}
        {% for attachment in attachments %}
        <div style="margin-top: 5px;">
            {{ attachment.name.label_tag }}
            {% if attachment.name.errors %}
                <div style="padding:3px; color: #00b0b0;">
                {{ attachment.name.errors }}
                </div>
            {% endif %}
            <a style="color:#00b0b0; font-weight: bold;" target="_new" href="{{ attachment.path.url }}">{{ attachment.name }}</a>
            {% if app_status != 3 %}
<!--        TODO: It is better to use the image with delete meaning. -->
            <input id="{{ attachment.id }}" name="{{ attachment.name }}" type="button" class="remove" value="Remove" onclick="deleteAttachment(this)">
            {% endif %}
        </div>
        {% endfor %}
    {% endif %}
    {% if app_status != 3 %}
    <div id="attachment">
         <div>
            <label for="attachment">Add attachment</label> <span style="font-size: 12px;">(Only accepts  <b>txt/pdf/image</b> type. Max size < {{ attachmentSize }}M.)</span>
        </div>
        {{ attachmentError }}
        {% if attachmentForm %}
            <div style="margin-top: 20px;">

                {% if attachmentForm.path.errors %}
                    <div style="margin-top: 5px;padding:3px;">
                    {{ attachmentForm.path.errors }}
                    </div>
                {% endif %}
                {{ attachmentForm.path.label_tag }}
                {{ attachmentForm.path }}
                <input id="add" type="button" value="Add" >
            </div>
        {% endif %}
    </div>
    {% endif %}


        <input id="next" class="nextbutton" type="submit" name="next" value="next"/>
    </form>

<script type="text/javascript" language="javascript">
    function deleteAttachment(obj) {
        id = $(obj).attr("id");
        name = $(obj).attr("name");
        $.ajax({
            type:"POST",
            url:"{% url 'seller:deleteAttachment' id %}",
            data:{
                id:id,
                name:name,
                csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            success:function(data) {
                if(data.ok === 'true')
                    $(obj).parent().remove();
                else
                    alert(data.message);
            },
            error:function(){
                alert("Delete failed, please try again.");
            }
        });
    }

    $("#add").click(function() {
        $("#attachment").append(
            '<div>'+
                '{{ attachmentForm.path.label_tag }} '+
                '{% if attachmentForm.path.errors %}'+
                    '<div>'+
                    '{{ attachmentForm.path.errors }}'+
                    '</div>'+
                '{% endif %}'+
                '{{ attachmentForm.path }} '+
                '<input type="button" value="Remove"  class="remove" onclick="removeNode(this)">'+
            '</div>');
    });

    function removeNode(obj) {
        $(obj).parent().remove();
    }
</script>
</div>