<div id="register_nav">
    <ol id="register_new_nav">
        <li>
            <a href="sell/app#">App Info</a>
            <ul>
                <li>
                    <a href="sell#">AppleStore Link</a>
                </li>
                <li>
                    <a href="sell#">Appstore Info</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#">Marketing</a>
        </li>
        <li>
            <a href="#">Additional Info</a>

        </li>
        <li>
            <a href="#">Sale</a>
        </li>
        <li>
            <a href="#">Delivery</a>
        </li>
        <li>
            <a href="#">Payment</a>
        </li>
        <li>
            <a href="#">Verification</a>
        </li>
    </ol>



</div>