{% load staticfiles %}
<div id="register_app">
   <div class="errors_block">
            {% if form.title.errors %}
                {{ form.title.errors }}
            {% endif %}
            {% if form.app_store_link.errors %}
                {{ form.app_store_link.errors }}
            {% endif %}
            {% if app_store_link_error %}
                <ul>
                    <li>
                        {{ app_store_link_error }}
                    </li>
                </ul>

            {% endif %}
   </div>

   <fieldset>
      <legend>Appstore Info</legend>
        <form action="" method="post">
            {% csrf_token %}

      <div class="field_block_addi">
        <div class="left" style="width:120px;margin-top:10px;">
            <div style="width:100px:height:30px;">*{{ form.title.label_tag }}</div>

        </div>
        <div class="right" style="width:420px;">
             {{ form.title }}
        </div>




      </div>
      <div class="field_block_addi">
        <div class="left" style="width:120px;margin-top:10px;">
            <div style="width:100px:height:30px;">*{{ form.app_store_link.label_tag }}</div>

        </div>
       <div id="progressor">
              <img src="{% static "images/loading.gif" %}" style="width:30px;height: 30px;"/>
        </div>
        <div class="right" style="width:420px;">
             {{ form.app_store_link }}
        </div>

      </div>

        <div class="button_block">
            <input id="next" class="nextbutton" type="submit" name="next" value="Next"/>
        </div>
        </form>


   </fieldset>
        <div class="step_block" >

            {% if apps %}
            <span><h2>Your existing app list:</h2></span>
                <ol>
                {% for app in apps %}
                <li>
                <!--TODO:Green color, if published; Red color, if draft. -->
                <a style="color: blue; font-weight: bold;" href="{% url 'seller:appStore_link' app.id %}">{{ app.title }}</a>
                (last modified {{ app.last_modify|date:"jS F" }}{% ifequal app.status 2 %}, published {{ app.publish_date|date:"jS F" }}{% endifequal %})
                </li>
                {% endfor %}
                </ol>
            {% endif %}
        </div>
<script type="text/javascript" language="javascript">
    $("#next").click(function() {
        if ($("#id_title").val().trim() == "") {
            $(".errors_block").html("<ul><li>Title is required.</li></ul>");//TODO:it will be set in message.properties.
            return false;
        }
        if ($("#id_app_store_link").val().trim() == "") {
            $(".errors_block").html("<ul><li>App store link is required.</li></ul>");//TODO:it will be set in message.properties.
            return false;
        }
        $("#progressor").show("fast");
    });
</script>
</div>