<div id="register_nav">
    <div class="nav_title">Basic Info For Your Listing</div>
    <ul id="register_new_nav">
        <li>
            <a href="{% url 'seller:appStore_link' app_id %}">AppleStore Info</a>
        </li>
        {% if app_id %}
        <li>
            <a href="{% url 'seller:appStore_info' app_id %}">App Attributes</a>
        </li>
        {% endif %}

        {% if app_id %}
        <li>
            <a href="{% url 'seller:marketing' app_id %}">Revenue/Monetization</a>
        </li>
        <li>
            <a href="{% url 'seller:additional_info' app_id %}">Additional Info</a>

        </li>
        <li>
            <a href="{% url 'seller:sale' app_id %}">Price Setting</a>
        </li>
        <li>
            <a href="{% url 'seller:delivery' app_id %}">Your Delivery</a>
        </li>
        <li>
            <a href="{% url 'seller:payment' app_id serviceDetail.sn %}">Payment</a>
        </li>
        <li>
            <a href="{% url 'seller:verification' app_id %}">App Verification</a>
        </li>
        {% endif %}
    </ul>
    {% if app_id %}
    <div class="preview_buttons"><a href="{% url 'query:app_detail' app_id %}">Preview your App</a></div>
    {% endif %}
</div>