<div id="sell_nav">
    <ol id="nav">
        <li>
            <a href="#">App</a>
            <ul>
                <li>
                    <a href="#">App Details</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#">Downloads</a>
        </li>
        <li>
            <a href="#">Revenue</a>
            <ul>
                <li>
                    <a href="#">Financial Details</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">The Pitch</a>
        </li>
        <li>
            <a href="#">Sale</a>
        </li>
        <li>
            <a href="#">Payment</a>
        </li>
        <li>
            <a href="#">Launch</a>
        </li>
    </ol>



</div>