<div id="register_nav">
    <ol id="register_new_nav">
        <li>
            <a href="sell/app#">App</a>
            <ul>
                <li>
                    <a href="sell#">App Details</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#">Downloads</a>
        </li>
        <li>
            <a href="#">Revenue</a>
            <ul>
                <li>
                    <a href="#">Financial Details</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">The Pitch</a>
        </li>
        <li>
            <a href="#">Sale</a>
        </li>
        <li>
            <a href="#">Payment</a>
        </li>
        <li>
            <a href="#">Launch</a>
        </li>
    </ol>



</div>