

<footer class="footer">
    <div id="footer_wrapper">
        <div id="footer_category">
             <div class="footer_cat_block">
                 <div style="width:200px;padding-top: 10px;padding-left:30px;height:30px;float: left;">© 2013 AppsWalk, Inc. </div>
                 <div style="width:700px;float:right;">
                    <ul class="footer_ul">
                    <li><a href ="{% url 'help:guide' %}">Transaction Guide</a></li>
                    <li><a href ="{% url 'help:pricing' %}">Pricing</a></li>
                    <li><a href ="{% url 'help:support' %}">Support</a></li>
                    <li><a href ="{% url 'help:privacy' %}">Privacy</a></li>
                    <li><a href ="{% url 'help:terms' %}">Terms</a></li>
                    <li><a href ="{% url 'help:security' %}">Security</a></li>
                    <li><a href ="{% url 'help:contact' %}">Contact</a></li>
                    <li><a href ="{% url 'help:about' %}">About </a></li>
                    </ul>
                 </div>
            </div>
        </div>
    </div>
 <div class="clear"></div>
</footer>
</body>
</html>