

<footer class="footer">
    <div id="footer_wrapper">
        <div id="footer_category">
             <div class="footer_cat_block">
                    <ul class="footer_ul">
                    <li><a href ="#">Transaction Guide</a></li>
                    <li><a href ="#">Pricing</a></li>
                    <li><a href ="#">About APPBID</a></li>
                    <li><a href ="#">Support</a></li>
                    <li><a href ="#">Privacy</a></li>
                    <li><a href ="#">Terms</a></li>
                    <li><a href ="#">Security</a></li>
                    <li><a href ="#">Contact</a></li>
                    </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>