

<footer class="footer">
    <div id="footer_wrapper">
        <div id="footer_category">
             <div class="footer_cat_block">
                    <div style="height:30px;text-align: center;font-size:13px;font-weight: bold;">Seller/Buyer</div>
                    <ul class="footer_ul">
                    <li><a href ="{% url 'help:guide' %}">Transaction Guide</a></li>
                    <li><a href ="{% url 'help:pricing' %}">Site</a></li>
                    <li><a href ="{% url 'help:support' %}">Support</a></li>
                    <li><a href ="{% url 'help:privacy' %}">Privacy</a></li>
                    <li><a href ="{% url 'help:terms' %}">Terms</a></li>
                    <li><a href ="{% url 'help:security' %}">Security</a></li>
                    <li><a href ="{% url 'help:contact' %}">Contact</a></li>
                    <li><a href ="{% url 'help:about' %}">About </a></li>
                    </ul>
            </div>
             <div class="footer_cat_block">
                    <div style="height:30px;text-align: center;font-size:13px;font-weight: bold;">Platform</div>
                    <ul class="footer_ul">
                    <li><a href ="{% url 'help:guide' %}">Technology</a></li>
                    <li><a href ="{% url 'help:guide' %}">Developer</a></li>
                    <li><a href ="{% url 'help:pricing' %}">Service Directory</a></li>
                    <li><a href ="{% url 'help:support' %}">API & SDKs</a></li>
                    <li><a href ="{% url 'help:privacy' %}">Platform Status</a></li>
                    </ul>
            </div>
             <div class="footer_cat_block">
                    <div style="height:30px;text-align: center;font-size:13px;font-weight: bold;">Privacy</div>
                    <ul class="footer_ul">
                    <li><a href ="{% url 'help:guide' %}">Transaction</a></li>
                    <li><a href ="{% url 'help:pricing' %}">Pricing</a></li>
                    <li><a href ="{% url 'help:support' %}">Support</a></li>
                    <li><a href ="{% url 'help:privacy' %}">Privacy</a></li>
                    <li><a href ="{% url 'help:terms' %}">Terms</a></li>
                    <li><a href ="{% url 'help:security' %}">Security</a></li>
                    </ul>
            </div>
             <div class="footer_cat_block">
                    <div style="height:30px;text-align: center;font-size:13px;font-weight: bold;">Company</div>
                    <ul class="footer_ul">
                    <li><a href ="{% url 'help:about' %}">About Us</a></li>
                    <li><a href ="{% url 'help:pricing' %}">Team</a></li>
                    <li><a href ="{% url 'help:support' %}">Careers</a></li>
                    <li><a href ="{% url 'help:contact' %}">Contact</a></li>
                    </ul>
            </div>
             <div class="footer_cat_block">
                    <div style="height:30px;text-align: center;font-size:13px;font-weight: bold;">Follow</div>
                    <ul class="footer_ul">
                    <li><a href ="{% url 'help:guide' %}">Facebook</a></li>
                    <li><a href ="{% url 'help:pricing' %}">Twitter</a></li>
                    <li><a href ="{% url 'help:support' %}">LinkedIn</a></li>
                    <li><a href ="{% url 'help:privacy' %}">Google+</a></li>
                    </ul>
            </div>
        </div>
    </div>

 <div class="clear"></div>
 <div style="margin:0 auto;width:960px;text-align: center;">© 2013 AppsWalk, Inc. </div>

</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45454146-1', 'appswalk.com');
  ga('send', 'pageview');

</script>
</body>
</html>