{% load staticfiles %}
<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{ title }}-The best professional apps dealing site in the world</title>
    {% if twitter_url %}
    <meta name="description" content="{{ app.description|truncatewords_html:50 }}" />
    <!-- Facebook start -->
    <meta property="og:title" content="App ({{ app.app_name }}) for Sale on AppsWalk" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ http_header }}{{ request.get_full_path }}" />
    <meta property="og:image" content="{{ http_header }}{{ MEDIA_URL }}{{ appInfo.icon }}" />
    <meta property="og:description" content="{{ app.description|truncatewords_html:50 }}" />
    <!-- Facebook end -->
    <!-- Twitter start -->
{#    <script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>#}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@jarvisjia" />
    <meta name="twitter:creator" content="@jarvisjia" />
    <meta name="twitter:title" content="App ({{ app.app_name }}) for Sale on AppsWalk" />
    <meta name="twitter:description" content="{{ app.title }}" />
    <meta name="twitter:image" content="{{ http_header }}{{ MEDIA_URL }}{{ appInfo.icon }}" />
    <!-- Twitter end -->
    {% endif %}
<link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" media="screen" />
<link href="{% static "css/menu.css" %}" rel="stylesheet" type="text/css" media="screen" />
<link href="{% static "css/smoothness/jquery-ui-1.10.3.custom.min.css" %}" rel="stylesheet" type="text/css" media="screen" />

{#<link rel="stylesheet" href="{% static "css/menu/superfish.css" %}" media="screen">#}
<script src="{% static "scripts/menu/jquery.js" %}"></script>
<script src="{% static "scripts/jquery-ui-1.10.3.custom.min.js" %}"></script>
{#<script src="{% static "scripts/menu/hoverIntent.js" %}"></script>#}
{#<script src="{% static "scripts/menu/superfish.js" %}"></script>#}
{#<script src="{% static "scripts/js/tinymce/tinymce.min.js" %}"></script>#}
<script src="{% static "scripts/kkcountdown.min.js" %}"></script>
<script src="{% static "scripts/common.js" %}"></script>
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
  <script src="{% static "scripts/html5.js" %}"></script>
<![endif]-->


</head>
<body>

<div id="user_bar">
    <div id="row">
        <ul class="user_bar_menu">
            <li><a href="/" class=""><img src="{% static "images/home18x18.png" %}" title="Home" /></a></li>
            <li><a href="/query/featured">Buy Apps</a></li>
            <li><a href="/seller/app-store-link">Sell Apps</a></li>
        </ul>
        <ul class="user_bar_menu_link">
            {% if request.user.is_authenticated  %}
            <li><a href="/" class=""><img src="{% static "images/login18x18.png" %}" title="Welcome {{ request.user }}" /> </a></li>
            <li><a href="{% url 'usersetting:user_detail' %}" class=""><img src="{% static "images/account18x18.png" %}" title="Account Setting" /></a></li>
            <li><a href="{% url 'dashboard:my_listing' %}" class=""><img src="{% static "images/act18x18.png" %}" title="Activity" /></a></li>
{#            <li><a href="/" class="">Watchlist</a></li>#}
            <li><a href="{% url 'usersetting:logout_view' %}" class=""><img src="{% static "images/logout18x18.png" %}" title="Logout" /></a></li>
            {% else %}
            <li><a href="/usersetting/home/?next={{ request.path }}" class="">Login</a></li>
            <li><a href="/usersetting/register/?next={{ request.path }}" class="">Sign Up</a></li>

            {% endif %}
        </ul>
    </div>
</div>
<header class="header">

    <div id="header_top">
        <div id="company">
            <div id="company_logo">
                <div class="logo_text">
                    <img src="{% static "images/appswalk_logo.png" %}" title="Home" />
                </div>
{#                <div class="logo_desc" style="">The best professional apps dealing site in the world</div>#}
            </div>
            <div id="header_search">
                <form action="" method="get">
                <input type="text" name="search" id="search_text" placeholder="search the marketplace" />
                <input type="submit" name="search_button" value="Search" class="search_button" />
                </form>
            </div>
        </div>

    </div>

{#    <div id="nav_menu">#}
{#        <div id="menu">#}
{#        <ul class="sf-menu">#}
{#            <li >#}
{#                <a href="{% url 'home:home' %}" title="Home">Home</a>#}
{#            </li>#}
{#            <li >#}
{#                <a href="{% url 'query:featured' %}" title="Featured listings">Featured</a>#}
{#            </li>#}
{#            <li >#}
{#                <a href="/query/app-list/">New Listings</a>#}
{#            </li>#}
{#            <li >#}
{#                <a href="/query/most_active/" title="Listings with the most bidding activity">Most Active</a>#}
{#            </li>#}
{#            <li >#}
{#                <a href="/query/ending_soon/" title="Listings which are almost over">Ending Soon</a>#}
{#            </li>#}
{#            <li >#}
{#                <a href="/query/just_sold/" title="Listings which have just been sold">Just Sold</a>#}
{#            </li>#}
{##}
{#            <li >#}
{#                <a href="/classifieds">Classifieds</a>#}
{#            </li>#}
{#            <li >#}
{#                <a href="/seller/app-store-link" class="special">Sell Your Apps!</a>#}
{#            </li>#}
{#        </ul>#}
{#        </div>#}
{#    </div>#}
{#    <div id="nav_menu">#}
{#        <div id="menu">#}
{#        <ul class="sf-menu" id="example">#}
{#            <li class="current">#}
{#                <a href="/featured-listings" title="Featured listings">Featured</a>#}
{#            </li>#}
{#            <li class="new-listings">#}
{#                <a href="/query/app-list/">New Listings</a>#}
{#            </li>#}
{#            <li class="most-active">#}
{#                <a href="/active-listings" title="Listings with the most bidding activity">Most Active</a>#}
{#            </li><li class="ending">#}
{#                <a href="/ending-soon" title="Listings which are almost over">Ending Soon</a>#}
{#            </li>#}
{#            <li class="sold">#}
{#                <a href="/just-sold" title="Listings which have just been sold">Just Sold</a>#}
{#            </li>#}
{#            <li class="price-range parent">#}
{#                <a href="#">Price Range</a>#}
{#                   <ul class="dropdown">#}
{#                       <li class="">#}
{#                           <a href="/buy-high-end" title="Listings which will sell for over $10,000">High End Websites</a>#}
{#                       </li>#}
{#                       <li class="">#}
{#                           <a href="/buy-mid-range" title="Listings which will sell for between $1,000 and $10,000">Mid-Range Websites</a>#}
{#                       </li>#}
{#                       <li class="">#}
{#                           <a href="/buy-entry-level" title="Listings which will sell for less than $1,000">Entry Level Websites</a>#}
{#                       </li>#}
{#                   </ul>#}
{#            </li>#}
{#            <li class="browse parent">#}
{#                <a href="#">Browse</a>#}
{#                   <ul class="dropdown">#}
{##}
{#                       <li class="separate">#}
{#                           <a href="/categories/monetization">Monetization</a>#}
{#                       </li>#}
{##}
{##}
{#                   </ul>#}
{#            </li>#}
{#            <li class="classifieds">#}
{#                <a href="/classifieds">Classifieds</a>#}
{#            </li>#}
{#            <li class="sell">#}
{#                <a href="/seller/app-store-link" class="special">Sell Your Website</a>#}
{#            </li>#}
{#        </ul>#}
{#        </div>#}
{#    </div>#}

</header>
{#<div id="quick_msg">#}
{#    Welcome to our iOS app market, you get 50% listing fee discount.#}
{#</div>#}

