{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{ title }}</title>

<link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" media="screen" />
<link href="{% static "css/menu.css" %}" rel="stylesheet" type="text/css" media="screen" />
<link href="{% static "css/jquery-ui.css" %}" rel="stylesheet" type="text/css" media="screen" />

{#<link rel="stylesheet" href="{% static "css/menu/superfish.css" %}" media="screen">#}
<script src="{% static "scripts/menu/jquery.js" %}"></script>
{#<script src="{% static "scripts/menu/hoverIntent.js" %}"></script>#}
{#<script src="{% static "scripts/menu/superfish.js" %}"></script>#}
<script src="{% static "scripts/js/tinymce/tinymce.min.js" %}"></script>
<script src="{% static "scripts/kkcountdown.min.js" %}"></script>
<script src="{% static "scripts/common.js" %}"></script>
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
  <script src="{% static "scripts/html5.js" %}"></script>
<![endif]-->


</head>
<body>
<div id="user_bar">
    <div id="row">
        <ul class="user_bar_menu">
            <li><a href="/" class=""><img src="{% static "images/home.gif" %}" /></a></li>
{#            <li>#}
{#                <form action="" id="user-bar-search" method="get" class="">#}
{#                    <input type="search" id="q" name="q" placeholder="Search"  class="adv_search_field" autocomplete="off">#}
{#                    <input type="submit" id="search" class="adv_search" value="Search">#}
{##}
{#                </form>#}
{#            </li>#}
            <li><p class="" style="font-size: 12px;color: #999; vertical-align: bottom;">Best Professional Apps dealing site in the world</p></li>
        </ul>
        <ul class="user_bar_menu_link">
            {% if request.user.is_authenticated  %}
            <li><a href="/" class="">Welcome: {{ request.user }}</a></li>
            <li><a href="{% url 'usersetting:user_detail' %}" class="">Account</a></li>
            <li><a href="/" class="">Inbox</a></li>
            <li><a href="/" class="">Watchlist</a></li>
            <li><a href="{% url 'usersetting:logout_view' %}" class="">Logout</a></li>
            {% else %}
            <li><a href="/usersetting/home/?next={{ request.path }}" class="">Login</a></li>
            <li><a href="/usersetting/register/?next={{ request.path }}" class="">Sign Up</a></li>

            {% endif %}
        </ul>
    </div>
</div>
<header class="header">

    <div id="header_top">
        <div id="company">
            <div id="company_logo">
                <span style="margin-top:20px;"><h1 style="font-size:38px;font-family: 'Helvetica Neue';color: white;;">AppsWalk</h1></span>
            </div>
        </div>

    </div>

    <div id="nav_menu">
        <div id="menu">
        <ul class="sf-menu">
            <li class="current">
                <a href="/" title="Home">Home</a>
            </li>
            <li class="">
                <a href="/query/featured/" title="Featured listings">Featured</a>
            </li>
            <li >
                <a href="/query/app-list/">New Listings</a>
            </li>
            <li >
                <a href="/query/most_active/" title="Listings with the most bidding activity">Most Active</a>
            </li><li class="ending">
                <a href="/query/ending_soon/" title="Listings which are almost over">Ending Soon</a>
            </li>
            <li >
                <a href="/query/just_sold/" title="Listings which have just been sold">Just Sold</a>
            </li>

            <li >
                <a href="/classifieds">Classifieds</a>
            </li>
            <li >
                <a href="/seller/app-store-link" class="special">Sell Your Apps!</a>
            </li>
        </ul>
        </div>
    </div>
{#    <div id="nav_menu">#}
{#        <div id="menu">#}
{#        <ul class="sf-menu" id="example">#}
{#            <li class="current">#}
{#                <a href="/featured-listings" title="Featured listings">Featured</a>#}
{#            </li>#}
{#            <li class="new-listings">#}
{#                <a href="/query/app-list/">New Listings</a>#}
{#            </li>#}
{#            <li class="most-active">#}
{#                <a href="/active-listings" title="Listings with the most bidding activity">Most Active</a>#}
{#            </li><li class="ending">#}
{#                <a href="/ending-soon" title="Listings which are almost over">Ending Soon</a>#}
{#            </li>#}
{#            <li class="sold">#}
{#                <a href="/just-sold" title="Listings which have just been sold">Just Sold</a>#}
{#            </li>#}
{#            <li class="price-range parent">#}
{#                <a href="#">Price Range</a>#}
{#                   <ul class="dropdown">#}
{#                       <li class="">#}
{#                           <a href="/buy-high-end" title="Listings which will sell for over $10,000">High End Websites</a>#}
{#                       </li>#}
{#                       <li class="">#}
{#                           <a href="/buy-mid-range" title="Listings which will sell for between $1,000 and $10,000">Mid-Range Websites</a>#}
{#                       </li>#}
{#                       <li class="">#}
{#                           <a href="/buy-entry-level" title="Listings which will sell for less than $1,000">Entry Level Websites</a>#}
{#                       </li>#}
{#                   </ul>#}
{#            </li>#}
{#            <li class="browse parent">#}
{#                <a href="#">Browse</a>#}
{#                   <ul class="dropdown">#}
{##}
{#                       <li class="separate">#}
{#                           <a href="/categories/monetization">Monetization</a>#}
{#                       </li>#}
{##}
{##}
{#                   </ul>#}
{#            </li>#}
{#            <li class="classifieds">#}
{#                <a href="/classifieds">Classifieds</a>#}
{#            </li>#}
{#            <li class="sell">#}
{#                <a href="/seller/app-store-link" class="special">Sell Your Website</a>#}
{#            </li>#}
{#        </ul>#}
{#        </div>#}
{#    </div>#}

</header>
<div id="quick_msg">
    Welcome to our iOS app market, you get 50% listing fee discount.
</div>

