{% extends "usersetting/account_setting.html" %}
{% block account_detail %}
{% load staticfiles %}
<fieldset>
    <legend>Payment Account Setting</legend>
    <form action="" method="post">
        {% csrf_token %}
        {% for gateway in gateways %}
            <div class="payement_wrapper">
                <div class="field_label" >
                        <img src="{% static gateway.logo %}" />
                </div>
                <div class="field_value" >
                    <div class="field_wrapper">
                         <input type="text" value="" />
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="payement_wrapper">
            <div class="field_value" >
            <input type="button" value="Submit" class="addnew">
            </div>
        </div>
    </form>
</fieldset>
{% endblock %}