{% extends "usersetting/account_setting.html" %}
{% block account_detail %}
{% load staticfiles %}
    <div class="dash_title">Payment Account Setting</div>
    <div id="account_msg">{{ account_msg }}</div>
    <form action="" method="post">
        {% csrf_token %}
        {% for gateway, acceptGateway in gateways_map.items %}
            <div class="payement_wrapper">
                <div class="field_label" >
                        <img src="{% static gateway.logo %}" />
                </div>
                <div class="field_value" >
                    <div class="field_wrapper">
                        <input type="text" hidden="hidden" name="gateway_type" value="{{ gateway.id }}" />
                        <input type="text" id="payment_account" name="payment_account" value="{% if acceptGateway and acceptGateway.value != None %}{{ acceptGateway.value }}{% endif %}" />
                    </div>
                </div>
{#                <div class="field_value" >#}
{#                    <div class="field_wrapper">#}
{#                        &nbsp;<a href="#">Default</a>#}
{#                    </div>#}
{#                </div>#}
            </div>
        {% endfor %}
        <div class="payement_wrapper">
            <div class="field_value" >
            <input type="text" hidden="hidden" name="next" value="{{ next }}" />
            <input id="submit" name="submit" type="submit" value="Submit" class="addnew">
            </div>
        </div>
    </form>
<script type="text/javascript" language="javascript">
    $("#submit").click(function() {
        if ($("#payment_account").val().trim() == "") {
            $("#account_msg").html("Payment account is required.");//TODO:it will be set in message.properties.
            return false;
        }
        if ($("#payment_account").val().trim() != "" && !valid_email($("#payment_account").val().trim())) {
            $("#account_msg").html("Payment account is not correct.");//TODO:it will be set in message.properties.
            return false;
        }
    });
</script>
{% endblock %}