{% extends "usersetting/account_setting.html" %}
{% block account_detail %}
    <div id="account_error" style="color: red">
        {{ account_error }}
    </div>
    <div id="account_msg" style="color: green">
        {{ account_msg }}
    </div>
    <fieldset>
        <legend>Account Password</legend>
    <form action=""  method="post">
    {% csrf_token %}
        <ul class="account_detail_items">
            <li>
                <div class="fieldWrapper">
                    <div class="field_label" >Old password</div>
                    <div class="field_value" >
                        <input id="old-password" name="old-password" type="password" />
                    </div>
                </div>
            </li>
            <li>
                <div class="fieldWrapper">
                    <div class="field_label" >New password</div>
                    <div class="field_value" >
                        <input id="new-password" name="new-password" type="password" />
                    </div>
                </div>
            </li>
            <li>
                <div class="fieldWrapper">
                    <div class="field_label" >Confirm new password</div>
                    <div class="field_value" >
                        <input id="confirm-password" name="confirm-password" type="password" />
                    </div>
                </div>
            </li>
        </ul>

        <div><input id="submit" type="submit" value="Submit"  class="newbutton"/></div>
    </form>
</fieldset>
<script type="text/javascript" language="javascript">
    $("#submit").click(function() {
        if ($("#old-password").val().trim() == "") {
            $("#account_error").html("<ul><li>Old password is required.</li></ul>");//TODO:it will be set in message.properties.
            return false;
        }
        if ($("#new-password").val().trim() == "") {
            $("#account_error").html("<ul><li>New password is required.</li></ul>");//TODO:it will be set in message.properties.
            return false;
        }
        if ($("#new-password").val().trim().length < 6) {
            $("#account_error").html("<ul><li>The length of new password must be more than 6.</li></ul>");//TODO:it will be set in message.properties.
            return false;
        }
        if ($("#confirm-password").val().trim() == "") {
            $("#account_error").html("<ul><li>Confirm new password is required.</li></ul>");//TODO:it will be set in message.properties.
            return false;
        }
        if ($("#new-password").val() != $("#confirm-password").val()) {
            $("#account_error").html("<ul><li>New password and confirm new password are not the same.</li></ul>");//TODO:it will be set in message.properties.
            return false;
        }
    });
</script>
{% endblock %}