{% extends "index.html" %}
{% block mainContent %}
{% load i18n %}
{% load staticfiles %}
    <script>
  $(function() {
    $( "#id_birthday" ).datepicker({
        showOtherMonths: true,
        selectOtherMonths: true,
        changeMonth: true,
        changeYear: true,
        dateFormat: 'yy-mm-dd'
    });

  });
  </script>

       <div id="account_wrapper">
        <div class="pannel_nav">
            <div class="account_nav_title setting_icon">{% trans 'Personal Setting' %}</div>
            <ul class="account_nav">

                <li ><a href="{% url 'usersetting:user_detail' %}">{% trans 'Account Details' %}</a></li>
                <li><a href="{% url 'usersetting:public_profile' %}">{% trans 'Public Profile' %}</a></li>
                <li><a href="{% url 'usersetting:subscription_setting' %}">{% trans 'Subscription Setting' %}</a></li>
                <li><a href="{% url 'usersetting:security_setting' %}">{% trans 'Security Settings' %}</a></li>
            </ul>

            <div class="account_nav_title payment_icon">{% trans 'Account Setting' %}</div>
            <ul class="account_nav">
                <li><a href="{% url 'usersetting:payment_setting' '' %}">{% trans 'Your Account' %}</a></li>
            </ul>
        </div>

        <div class="account_details">
               {% block account_detail %}
                   <div id="account_msg" style="color: green">
                        {{ account_msg }}
                   </div>
                   <div id="account_error" style="color: red">
                        {{ account_msg }}
                   </div>
                   <div class="dash_title">Account Details</div>
                    <form action=""  method="post">
                    {% csrf_token %}
                            <ul class="account_detail_items">
                                    <li>
                                    <div class="fieldWrapper">
                                        <div class="field_label" >{{ form.user.label_tag }}</div>
                                        <div class="field_value" >
                                            <input id="username" name="username" value="{{ request.user.username }}" readonly="true"/>
                                        </div>
                                    </div>
                                    </li>
                                    <li>
                                    <div class="fieldWrapper">
                                        {{ form.birthday.errors }}
                                        <div class="field_label" >{{ form.birthday.label_tag }}</div><div class="field_value" > {{ form.birthday }}</div>
                                    </div>
                                    </li>
                                    <li>
                                    <div class="fieldWrapper">
                                        {{ form.real_name.errors }}
                                        <div class="field_label" >{{ form.real_name.label_tag }}</div><div class="field_value" > {{ form.real_name }}</div>
                                    </div>
                                    </li>
                                    <li>
                                    <div class="fieldWrapper">
                                        {{ form.street_address.errors }}
                                        <div class="field_label" >{{ form.street_address.label_tag }}</div><div class="field_value" > {{ form.street_address }}</div>
                                    </div>
                                    </li>
                                    <li>
                                    <div class="fieldWrapper">
                                        {{ form.city.errors }}
                                        <div class="field_label" >{{ form.city.label_tag }}</div><div class="field_value" > {{ form.city }}</div>
                                    </div>
                                    </li>
                                    <li>
                                    <div class="fieldWrapper">
                                        {{ form.state_provience.errors }}
                                        <div class="field_label" >{{ form.state_provience.label_tag }}</div><div class="field_value" > {{ form.state_provience }}</div>
                                    </div>
                                    </li>
                                    <li>
                                    <div class="fieldWrapper">
                                        {{ form.post_code.errors }}
                                        <div class="field_label" >{{ form.post_code.label_tag }}</div><div class="field_value" > {{ form.post_code }}</div>
                                    </div>
                                    </li>
                                    <li>
                                    <div class="fieldWrapper">
                                        {{ form.country.errors }}
                                        <div class="field_label" >{{ form.country.label_tag }}</div><div class="field_value" > {{ form.country }}</div>
                                    </div>
                                    </li>
                                    <li>

                                </ul>
                                 <div><input id="submit" type="submit" value="Submit"  class="newbutton"/></div>
                    </form>
               {% endblock %}
        </div>
       </div>
<script type="text/javascript" language="javascript">
    $("#submit").click(function() {
        if ($("#id_birthday").val().trim() != "" && !validDate($("#id_birthday").val())) {
            $("#account_error").html("The birthday is not correct.");
            return false;
        }
        if ($("#id_real_name").val().trim() != "" && $("#id_real_name").val().trim().length > 25) {
            $("#account_error").html("The length of real name can not more than 25.");
            return false;
        }
        var tel = /^[0-9]{6}$/;
        if ($("#id_post_code").val().trim() != "" && !tel.test($("#id_post_code").val().trim())) {
            $("#account_error").html("Post code is not correct.");
            return false;
        }
    });
</script>
{% endblock %}