{% extends "index.html" %}
{% block mainContent %}
{% load staticfiles %}
    {% if msg %}
        {{ msg }}
    {% else %}
        <div class="errors_block">
            {{ error_msg }}
        </div>
        <div id="central_block">
            <div class="central_section">
               <form action="" method='post' class="pull-right">
                {% csrf_token %}
                <table class="user_register">
                 <tr>
                     <td>Username/Email</td>
                     <td><input id="id_username" name="username" /></td>
                 </tr>
                 <tr>
                     <td></td>
                     <td><button id="submit" class="newbutton" type="submit">submit</button></td>
                 </tr>
                </table>
              </form>
            </div>
        </div>
    {% endif %}
<script type="text/javascript" language="javascript">
    $("#submit").click(function() {
        var username = $("#id_username").val().trim();
        if (username == "") {
            $(".errors_block").html("Username/Email is required.");//TODO:it will be set in message.properties.
            return false;
        }
        if (username.indexOf("@") != -1 && !valid_email(username)) {
            $(".errors_block").html("Email is not correct.");//TODO:it will be set in message.properties.
            return false;
        }
    });
</script>
{% endblock %}