{% extends "index.html" %}
{% block mainContent %}
{% load staticfiles %}
    <div class="errors_block">
        {% if login_error %}
            <ul>
                <li>
                    {{ login_error }}
                </li>
            </ul>
        {% endif %}
    </div>
    <div id="central_block">
        <div class="central_section">
           <form action="/usersetting/login/" method='post' class="pull-right">
            {% csrf_token %}


               <table class="user_register">
                    <col width="50">
                    <col width="200">
                    <col width="200">
                   <tr>
                       <td>
                           Username:
                       </td>
                       <td>
                           <input id='username' name='username' class="logon_input" type="text" placeholder="User Name" value="{{ user_name }}">
                       </td>
                       <td>
                             <a href="{% url 'usersetting:register_view' %}">Not register？</a>
                       </td>
                   </tr>
                   <tr>
                       <td>
                           Password:
                       </td>
                       <td >
                           <input id='password' name='password' class="logon_input" type="password" placeholder="Password">
                       </td>
                       <td>
                            <a href="#">Forget Password</a>
                       </td>

                   </tr>
                   <tr>
                       <td>
                            <input name="next" value="{{ redirect_to }}" type="hidden">

                       </td>
                       <td>
                           <button id="submit" class="newbutton" type="submit">Logon</button>
                       </td>
                       <td>
{#                            <a href="#">Send active email</a>#}
                       </td>

                   </tr>

               </table>




          </form>
        </div>
    </div>
<script type="text/javascript" language="javascript">
    $("#submit").click(function() {
        if ($("#username").val().trim() == "") {
            $(".errors_block").html("<ul><li>Username is required.</li></ul>");//TODO:it will be set in message.properties.
            return false;
        }
        if ($("#password").val().trim() == "") {
            $(".errors_block").html("<ul><li>Password is required.</li></ul>");//TODO:it will be set in message.properties.
            return false;
        }
    });
</script>
{% endblock %}