<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    {% if request.user %}
        <div class="pull-right">
            <a href=#>欢迎您：{{request.user}}</a>
            <a class="btn danger small" href="{% url usersetting.views.logout_view %}">Logout</a>
        </div>
    {% else %}
          <form action="/usersetting/login/" method='post' class="pull-right">
            {% csrf_token %}
            <input name='username' class="input-small" type="text" placeholder="Username">
            <input name='password' class="input-small" type="password" placeholder="Password">
            <button class="btn" type="submit">Logon</button>
          </form>
{% endif %}
</body>
</html>