{% extends "usersetting/account_setting.html" %}
{% block account_detail %}
    <div id="account_msg" style="color: green">
        {{ account_msg }}
    </div>
    <div class="dash_title">Public Profile</div>
    <form action=""  method="post" enctype="multipart/form-data">
    {% csrf_token %}
            <ul class="account_detail_items">
                    <li >
                    <div class="fieldWrapper" style="display: none;">
                        {{ form.user.errors }}
                        <div class="field_label" >{{ form.user.label_tag }}</div>
                        <div class="field_value" >
                            <span style="display: none">{{ form.user }}</span>
                            <input id="username" name="username" value="{{ request.user.username }}" readonly="true"/>
                        </div>
                    </div>
                    </li>
                    <li>
                    <div class="thumnailWrapper" >
                        {{ form.thumbnail.errors }}
                        <div class="field_label" >My Picture</div>
                        <div class="thumnail_layout" >
                            {% if form.thumbnail.value %}
                                <div style="width:50px;padding: 5px;float:left;">
                                <img style="width: 40px;height: 40px" src="{{ form.thumbnail.value.url }}" />
                                </div>
                                <input id="id_thumbnail" name="thumbnail" type="file" />(Max size < 1M)
                            {% else %}
                                {{ form.thumbnail }}
                            {% endif %}
                        </div>
                    </div>
                    </li>
                    <li>
                    <div class="fieldWrapper">
                        {{ form.gender.errors }}
                        <div class="field_label" >Gender</div><div class="field_value" > {{ form.gender }}</div>
                    </div>
                    </li>
                    <li>
                    <div class="fieldWrapper">
                        {{ form.homepage.errors }}
                        <div class="field_label" >My Homepage</div><div class="field_value" > {{ form.homepage }}</div>
                    </div>
                    </li>
                    <li>
                    <div class="fieldWrapper">
                        {{ form.twitter_account.errors }}
                        <div class="field_label" >Twitter Account</div><div class="field_value" > {{ form.twitter_account }}</div>
                    </div>
                    </li>
                    <li>
                    <div class="fieldWrapper">
                        {{ form.facebook_account.errors }}
                        <div class="field_label" >Facebook Account</div><div class="field_value" > {{ form.facebook_account }}</div>
                    </div>
                    </li>
                    <li>
                    <div class="fieldWrapper">
                        {{ form.weibo_account.errors }}
                        <div class="field_label" >Weibo Account</div><div class="field_value" > {{ form.weibo_account }}</div>
                    </div>
                    </li>
                    <li>
                    <div class="fieldWrapper">
                        {{ form.weixin_account.errors }}
                        <div class="field_label" >WeChat Account</div><div class="field_value" > {{ form.weixin_account }}</div>
                    </div>
                    </li>
                    <li>

                </ul>
                 <div><input type="submit" value="Submit"  class="newbutton"/></div>
    </form>

{% endblock %}