{% extends "usersetting/log_tp.html" %}
{% block logon %}
{% load staticfiles %}
    <div class="errors_block">
        {% if register_form.username.errors %}
            {{ register_form.username.errors }}
        {% endif %}
        {% if register_form.password.errors %}
            {{ register_form.password.errors }}
        {% endif %}
        {% if register_form.email.errors %}
            {{ register_form.email.errors }}
        {% endif %}
        {% if register_error %}
            <ul>
                <li>
                    {{ register_error }}
                </li>
            </ul>
        {% endif %}
    </div>
    <div id="central_block">
        <div class="central_section">
           <form action="" method='post' class="pull-right">
            {% csrf_token %}
            <table class="user_register">
             <tr>
                 <td></td>
                 <td>{{ register_form.username }}</td>
                 <td><div id="username_msg" class="usg"></div></td>
             </tr>
             <tr>
                 <td></td>
                 <td>{{ register_form.password }}</td>
                 <td><div id="passowrd_msg">{{ register_form.password.help_text }}</div></td>
             </tr>
             <tr>
                 <td></td>
                 <td>{{ register_form.email }}</td>
                 <td><img id="valid_email_img" hidden="hidden" src=""/><div id="email_msg" class="usg"></div></td>
             </tr>
             <tr>
                 <td></td>
                 <td style="text-align: center;"><button id="submit" class="newbutton" type="submit">submit</button></td>
                 <td></td>
             </tr>
            </table>

{#           <ul class="central_ul">#}
{#            <li>#}
{#                {{ register_form.username.label_tag }}#}
{#                {{ register_form.username }}<img id="valid_username_img" hidden="hidden" src=""/><div id="username_msg" class="usg"></div>#}
{#            </li>#}
{#           <li>#}
{#                {{ register_form.password.label_tag }}#}
{#                {{ register_form.password }}<img src="{% static 'images/help_icon.png' %}">{{ register_form.password.help_text }}#}
{#            </li>#}
{#           <li>#}
{#                {{ register_form.email.label_tag }}#}
{#                {{ register_form.email }}<img id="valid_email_img" hidden="hidden" src=""/><div id="email_msg" class="usg"></div>#}
{#            </li>#}
{#           <button id="submit" class="btn" type="submit">submit</button>#}
{#           </ul>#}
          </form>
        </div>
    </div>
<script type="text/javascript" language="javascript">
    usernameflag = true;
    emailflag = true;
    $("#id_username").focusout(function() {
        name = $("#id_username").val().trim();
        if (name != "") {
            $.ajax({
                type:"POST",
                url:"{% url 'usersetting:username_verified' name %}",
                data:{
                    username:name,
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success:function(data) {
                    if(data.ok === 'true') {
                        $("#username_msg").attr('class', 'correct');
                        usernameflag = true;
                    }
                    else {
                        $("#username_msg").attr('class', 'incorrect');
                        usernameflag = false;
                    }
                    $("#username_msg").html(data.message);
                    $(".errors_block").html('');
                }
            });
        }
        else {
            $("#username_msg").html('');
            $(".errors_block").html('');
            usernameflag = false;
        }
    });
    $("#id_email").focusout(function() {
        email = $("#id_email").val().trim();
        if (email != "" && valid_email(email)) {
            $.ajax({
                type:"POST",
                url:"{% url 'usersetting:email_verified' email %}",
                data:{
                    email:email,
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success:function(data) {
                    if(data.ok === 'true') {
                        $("#email_msg").html('');
                        emailflag = true;
                    }
                    else {
                        $("#email_msg").attr('class', 'incorrect');
                        $("#email_msg").html(data.message);
                        emailflag = false;
                    }
                    $(".errors_block").html('');
                }
            });
        }
        else {
            $("#email_msg").html('');
            emailflag = false;
        }
    });
    $("#submit").click(function() {
        var username = $("#id_username").val().trim();
        if (username == "") {
            $(".errors_block").html("<ul><li>Username is required.</li></ul>");//TODO:it will be set in message.properties.
            return false;
        }
        if (!new RegExp(/^[a-zA-Z0-9_]+$/).test(username)) {
            $(".errors_block").html("<ul><li>Username just includes number, letter or underline.</li></ul>");//TODO:it will be set in message.properties.
            return false;
        }
        if ($("#id_password").val().trim() == "") {
            $(".errors_block").html("<ul><li>Password is required.</li></ul>");//TODO:it will be set in message.properties.
            return false;
        }
        if ($("#id_password").val().trim().length < 6) {
            $(".errors_block").html("<ul><li>{{ register_form.password.help_text }}</li></ul>");//TODO:it will be set in message.properties.
            return false;
        }
        if ($("#id_email").val().trim() == "") {
            $(".errors_block").html("<ul><li>Email is required.</li></ul>");//TODO:it will be set in message.properties.
            return false;
        }
        if (!valid_email($("#id_email").val().trim())) {
            $(".errors_block").html("<ul><li>Email is invalid.</li></ul>");//TODO:it will be set in message.properties.
            return false;
        }
        if (!usernameflag || !emailflag) return false;
    });
</script>
{% endblock %}