{% extends "usersetting/account_setting.html" %}
{% block account_detail %}
    <div id="account_error" style="color: red">
        {{ account_error }}
    </div>
    <div id="account_msg" style="color: green">
        {{ account_msg }}
    </div>
    <div class="dash_title">Email Setting</div>
    <div>
    <form action=""  method="post">
        {% csrf_token %}
        <div style="padding:10px;color:#00b0b0;width:300px;float: left;">Please enter the new email:</div>
        <div style="padding:10px;width:300px;float:left;"><input id="id_email" style="padding: 5px;width:280px;border: 1px solid #00b0b0;" name="email"/></div>
        <div><input id="submit" type="submit" value="Update"  class="newbutton"/></div>
    </form>
    </div>
<script type="text/javascript" language="javascript">
    $("#submit").click(function() {
        if ($("#id_email").val().trim() == "") {
            $("#account_error").html("<ul><li>Email is required.</li></ul>");//TODO:it will be set in message.properties.
            return false;
        }
        if (!valid_email($("#id_email").val().trim())) {
            $("#account_error").html("<ul><li>Email is not correct.</li></ul>");//TODO:it will be set in message.properties.
            return false;
        }
    });
</script>
{% endblock %}