{% extends "usersetting/account_setting.html" %}
{% block account_detail %}
    <div id="account_error" style="color: red">
        {{ account_error }}
    </div>
    <div id="account_msg" style="color: green">
        {{ account_msg }}
    </div>
    <div class="setting_block">
        <div  class="setting_title">
              <h1>Security Center</h1>
        </div>
        <br/>
        <div class="security_msg">
            <h1>Security Message</h1>
        </div>
        <br/><br/>
        <div class="setting_item">
            <img src="#"/><!--TODO:add verified image. -->
            <span>Account Password</span>
            <div>
                Please keep your account password.
                <a id="password_update" style="float: right;margin-right: 50px;" href="{% url 'usersetting:security_verification_password' %}">Update</a>
            </div>
        </div>
        <br/><br/>
        <div class="setting_item">
            {% if email_info and email_info.is_verified == True%}
            <img src="#"/><!--TODO:add verified image. -->
             {% else %}
            <img src="#"><!--TODO:add unverified image. -->
            {% endif %}
            <span>Email Verification</span>
            <div>
                {% if email_info %}
                <span>Your email: {{ email_info.value }}</span>
                {% else %}
                <span>Your still have no email. Please provide and verify it ASAP.</span>
                {% endif %}
                <a id="email_update" style="float: right;margin-right: 50px;" href="{% url 'usersetting:security_verification_email' %}">Update</a>
            </div>
        </div>
        <br/><br/>
        <div class="setting_item">
            {% if phone_info and phone_info.is_verified == True%}
            <img src="#"/>+<!--TODO:add verified image. -->
            {% else %}
            <img src="#">-<!--TODO:add unverified image. -->
            {% endif %}
            <span>Cell Verification</span>
            <div>
                {% if phone_info %}
                <span>Your phone: {{ phone_info.value }}</span>
                {% else %}
                <span>Your still have no phone. Please provide and verify it ASAP.</span>
                {% endif %}
                <a id="phone_update" style="float: right;margin-right: 50px;" href="{% url 'usersetting:security_verification_phone' %}">Update</a>
            </div>
        </div>
    </div>

{% endblock %}