{% extends "usersetting/account_setting.html" %}
{% block account_detail %}
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message }}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
    {% load staticfiles %}
    <div class="setting_block">
        <div class="dash_title">Security Settings</div>
        <div class="setting_item">
            <div class="setting_item_left correct_icon">Account Password <a id="password_update" class="setting_item_right" href="{% url 'usersetting:security_verification_password' %}"><img src="{% static "images/edit20x20.png" %}"/></a></div>
            <div class="help_text">
                Please keep your account security.
            </div>


        </div>
        <div class="setting_item">
            <div class="setting_item_left
             {% if email_info and email_info.is_verified == True %}
             correct_icon
             {% else %}
             incorrect_icon
             {% endif %}
            ">Email Verification <a id="email_update" class="setting_item_right" href="{% url 'usersetting:security_verification_email' %}">
                <img src="{% static "images/edit20x20.png" %}"/>
            </a>
            </div>
            <div >
                {% if email_info and email_info.is_verified == True %}
                <div class="help_text">Your email: {{ email_info.value }}</div>
                {% elif email_info and email_info.is_verified == False %}
                <div class="help_text">Your email {{ email_info.value }} is not verified. Please active it ASAP. </div>
                {% else %}
                <div class="help_text">
                    Your still have no email. Please provide and verify it ASAP.
                 </div>
                {% endif %}
            </div>


        </div>
        <div class="setting_item">
            <div class="setting_item_left
             {% if phone_info and phone_info.is_verified == True%}
             correct_icon
             {% else %}
             incorrect_icon
             {% endif %}
            ">Cell Verification <a id="phone_update" class="setting_item_right" href="{% url 'usersetting:security_verification_phone' %}"><img src="{% static "images/edit20x20.png" %}"/></a></div>
            <div>
                {% if phone_info %}
                <div class="help_text">Your phone: {{ phone_info.value }}</div>
                {% else %}
                <div class="help_text">Your still have no phone. Please provide and verify it ASAP.</div>
                {% endif %}
            </div>


        </div>
    </div>

{% endblock %}