{% extends "usersetting/account_setting.html" %}
{% block account_detail %}
    <div id="account_error" style="color: red">
        {{ account_error }}
    </div>
    <div id="account_msg" style="color: green">
        {{ account_msg }}
    </div>
    <div>
    <form action=""  method="post">
        {% csrf_token %}
        <div>
            Please enter the new phone number:<input id="id_phone" name="phone"/>
        </div>
        <div>
            <input id="id_get_pin" name="get_pin" type="button" value="Get PIN" class="newbutton" />
        </div>
        <div id="pin_msg" style="display: none">
            The PIN has been sent, please take care your message. If you don't receive it, please get PIN again after <span id="remain_time">60</span>s.
        </div>
        <div>
            Please enter PIN:<input id="id_pin" name="pin" type="text" disabled />
        </div>
        <div>
            <input id="submit" type="submit" value="Submit"  class="newbutton" />
        </div>
    </form>
    </div>
<script type="text/javascript" language="javascript">
    var interval;
    $("#id_get_pin").click(function() {
        $.ajax({
            type:"POST",
            url:"{% url 'usersetting:send_PIN' %}",
            data:{
                csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            success:function(data) {
                if(data.ok === 'true') {
                    $("#id_get_pin").attr("disabled", true);
                    $("#pin_msg").show();
                    $("#id_pin").attr("disabled", false);
                    $("#remain_time").text(60);
                    interval = setInterval("remainTimer()", 1000);
                }
                else {
                    $("#pin_msg").text(data.message);
                    $("#pin_msg").show();
                }
            }
        });
    });

    function remainTimer() {
        remain_second = $("#remain_time").text();
        if (parseInt(remain_second) == 0) {
            clearTimeout(interval);
            $("#id_get_pin").attr("disabled", false);
            $("#id_pin").attr("disabled", true);
            $("#id_pin").val('');
            $("#pin_msg").hide();
            return;
        }
        $("#remain_time").text(parseInt(remain_second) - 1);
    }

    $("#submit").click(function() {
        if ($("#id_phone").val().trim() == "") {
            $("#account_error").html("<ul><li>Phone number is required.</li></ul>");//TODO:it will be set in message.properties.
            return false;
        }
        if (!valid_phone($("#id_phone").val().trim())) {
            $("#account_error").html("<ul><li>Phone number is not correct.</li></ul>");//TODO:it will be set in message.properties.
            return false;
        }
        if ($("#id_pin").val().trim() == "") {
            $("#account_error").html("<ul><li>PIN is required.</li></ul>");//TODO:it will be set in message.properties.
            return false;
        }
        if (isNaN($("#id_pin").val()) || $("#id_pin").val().trim().length != 6) {
            $("#account_error").html("<ul><li>PIN is not correct.</li></ul>");//TODO:it will be set in message.properties.
            return false;
        }
    });
</script>
{% endblock %}