{% extends "index.html" %}
{% block mainContent %}
{% load staticfiles %}
       <div class="clear"></div>
       <div id="account_wrapper">
        <div class="pannel_nav">
        <div class="account_nav_title act_icon">Activity Overview</div>
           <ul class="account_nav">
			<li><a href="{% url 'dashboard:inbox' %}">Inbox</a></li>
			<li class="margin10pxbt"><a href="{% url 'dashboard:sent_messages' %}">Sent Messages</a></li>
          </ul>
        <div class="account_nav_title apps_icon">My Apps</div>
            <ul class="account_nav">
			<li><a href="{% url 'dashboard:my_listing' %}">My Listing </a></li>
			<li class="margin10pxbt"><a href="{% url 'dashboard:my_bidding' %}">My Bidding </a></li>
          </ul>
        <div class="account_nav_title watch_icon">Watch List</div>
            <ul class="account_nav">
			<li><a href="{% url 'dashboard:watch_apps' %}">Watched Apps</a></li>
			<li><a href="{% url 'dashboard:watch_sellers' %}">Watched Sellers</a></li>
			<li class="margin10pxbt"><a href="{% url 'dashboard:watch_categories' %}">Watched Categories</a></li>
            </ul>
        <div class="account_nav_title people_icon">Your Account</div>
            <ul class="account_nav">
			<li><a href="#">Past invoices</a></li>
			<li><a href="#">Unpaid Succession Fee </a></li>
			<li><a href="#">Past orders</a></li>
          </ul>
        </div>

        <div class="account_details">
               {% block dashboard_detail %}

                   <div class="dash_title">Inbox</div>
                   <ul class="inbox_list">


                       <li class="highlight_li">
                            <div class="inbox_from">From</div>
                            <div class="inbox_subject" >Message Subject</div>
                            <div class="inbox_received_time">Received Time</div>

                        </li>
                       {% for message in message_list %}
                           <li {% ifequal message.0.is_read False %}style="font-weight:bold;" {% endifequal %}>
                           <a href="/dashboard/message-detail/reply/{{ message.0.id }}?page={{ message_list.number }}">
                               <div class="inbox_from" >
                               {{ message.0.sender.username }}

                           </div>
                           <div class="inbox_subject">{{ message.0.title }}</div>
                           <div class="inbox_received_time">{{ message.0.submit_date|date:"Y-m-d H:i"|default:"N/A" }}</div>
                            </a>
                           </li>
                       {% empty %}

                           <div class="no_message">No received message.</div>
                       {% endfor %}
                   </ul>


                     {% if message_list %}
                     <div class="pagination" style="float: right">
                        {% if message_list.has_previous %}<a href="?page={{ message_list.previous_page_number }}">previous</a>{% endif %}
                        Page {{ message_list.number }} of {{ message_list.paginator.num_pages }}
                        {% if message_list.has_next %}<a href="?page={{ message_list.next_page_number }}">next</a>{% endif %}
                     </div>
                     {% endif %}
               {% endblock %}
        </div>
       </div>
{% endblock %}