{% extends "index.html" %}
{% block mainContent %}
{% load staticfiles %}
       <div id="account_wrapper">
        <div class="pannel_nav">
           <ul>
            <h1>Activity Overview</h1>
			<li><a href="{% url 'dashboard:inbox' %}">Inbox</a></li>
			<li><a href="{% url 'dashboard:sent_messages' %}">Sent Messages</a></li>
          </ul>

            <h1>Your Listings</h1>

            <ul>
			<li><a href="#">Listing Overview</a></li>
			<li><a href="#">Bidding Management</a></li>
          </ul>


            <h1>Watch List</h1>
            <ul>
			<li><a href="#">Watched Listings</a></li>
			<li><a href="#">Watched Sellers</a></li>
			<li><a href="#">Watched Categories</a></li>
            </ul>
            <h1>Your Account</h1>
            <ul>
			<li><a href="#">Past invoices</a></li>
			<li><a href="#">Unpaid Succession Fee </a></li>
			<li><a href="#">Past orders</a></li>
          </ul>

        </div>

        <div class="account_details">
               {% block dashboard_detail %}
                   <fieldset>
                    <legend>Inbox</legend>
                       {% for message in message_list %}
                           <div style="float: left; width: 100px;">
                           {{ message.sender.username }}
                           </div>
                           <div style="float: left; width: 100px;">
                           {{ message.title }}
                           </div>
                           <div style="float: left; width: 250px;">
                           {{ message.content }}
                           </div>
                           <div style="float: left;">
                           {{ message.submit_date }}
                           </div>
                           <div>
                               <a href="{% url 'dashboard:create_message' message.sender.username message.sender.id %}">
                               <input id="reply" type="button" value="reply"></a>
                           </div>
                       {% empty %}
                           No received message.
                       {% endfor %}
                   </fieldset>
                     {% if message_list %}
                     <div class="pagination" style="float: right">
                        {% if message_list.has_previous %}<a href="?page={{ message_list.previous_page_number }}">previous</a>{% endif %}
                        Page {{ message_list.number }} of {{ message_list.paginator.num_pages }}
                        {% if message_list.has_next %}<a href="?page={{ message_list.next_page_number }}">next</a>{% endif %}
                     </div>
                     {% endif %}
               {% endblock %}
        </div>
       </div>
{% endblock %}