{% extends "dashboard/activity.html" %}
{% block dashboard_detail %}
{% load i18n %}
    <div id="message_msg" style="color: red">
    </div>
    <form action="" method="post"  enctype="multipart/form-data">
        {% csrf_token %}
        <div class="dash_title">{% trans 'Send New Message' %}</div>
        <ul class="account_detail_items">
            <li>
                <div class="message_header">
                    <span style="font-weight: bold;">{% trans 'Receiver' %}:</span>
                    <input id="temp_receiver" name="temp_receiver" type="text" value="{{ receiver.username }}" readonly="true" />
                </div>
            </li>
            <li>
                <div class="message_header">
                     <span style="font-weight: bold;">{% trans 'Subject' %}:</span>
                    {{ messageForm.title }}
                </div>
            </li>
            <li>
                <div class="message_header">
                    <span style="font-weight: bold;">{% trans 'Leave your message' %}:</span>
                </div>
            </li>
            <li>
                <div class="message_content">
                    {{ messageForm.content }}
                </div>
            </li>
            <li>
            <div id="attachment">
                <div class="message_header">
                    <label for="attachment">Add attachment</label> <span style="font-size: 12px;">(Only accepts  <b>txt/pdf/image/doc</b> type. Max size < {{ attachmentSize|floatformat|default:0 }}M.)</span>
                </div>
                <div>
                    {{ attachmentError }}
                    {% if attachmentForm %}
                        <div style="margin-top: 20px;">
                            {% if attachmentForm.path.errors %}
                                <div style="margin-top: 5px;padding:3px;">
                                {{ attachmentForm.path.errors }}
                                </div>
                            {% endif %}
                            {{ attachmentForm.path.label_tag }}
                            {{ attachmentForm.path }}
                            <input id="add" type="button" value="Add" >
                        </div>
                    {% endif %}
                </div>
            </div>
            </li>
            <li>
                <input id="id_type" name="type" type="text" hidden="hidden" value="{{ type }}" />
                <input id="id_sender" name="sender" type="text" hidden="hidden" value="{{ sender.id }}" />
                <input id="id_receiver" name="receiver" type="text" hidden="hidden" value="{{ receiver.id }}" />
                <input id="submit" name="submit" type="submit" value="{% trans 'Send' %}" class="newbutton"/>
                <a href="{{ next }}{% if page %}?page={{ page }}{% endif %}">
                    <input id="cancel" name="cancel" type="button" value="{% trans 'Cancel' %}" class="newbutton"/>
                </a>
            </li>
        </ul>
    </form>
<script type="text/javascript" language="javascript">
    $("#submit").click(function() {
        if ($("#id_title").val().trim() == "") {
            $("#message_msg").html("Title is required.");//TODO:it will be set in message.properties.
            return false;
        }
    });

    $("#add").click(function() {
        $("#attachment").append(
            '<div>'+
                '{{ attachmentForm.path.label_tag }} '+
                '{% if attachmentForm.path.errors %}'+
                    '<div>'+
                    '{{ attachmentForm.path.errors }}'+
                    '</div>'+
                '{% endif %}'+
                '{{ attachmentForm.path }} '+
                '<input type="button" value="Remove"  class="remove" onclick="removeNode(this)">'+
            '</div>');
    });

    function removeNode(obj) {
        $(obj).parent().remove();
    }
</script>
{% endblock %}