{% extends "dashboard/activity.html" %}
{% block dashboard_detail %}
    <div id="message_msg" style="color: red">
    </div>
    <form action="" method="post">
        {% csrf_token %}
        <div class="dash_title">Send New Message</div>
        <ul class="account_detail_items">
            <li>
                <div class="message_header">
                    {{ messageForm.receiver.label_tag }}:
                    <input id="temp_receiver" name="temp_receiver" type="text" value="{{ receiver.username }}" readonly="true" />
                </div>
            </li>
            <li>
                <div class="message_header">
                     <span style="font-weight: bold;">Subject:</span>
                    {{ messageForm.title }}
                </div>
            </li>
            <li>
                <div class="message_header">
                    <span style="font-weight: bold;">Leave your message:</span>
                </div>
            </li>
            <li>
                <div class="message_content">
                    {{ messageForm.content }}
                </div>
            </li>
            <li>
                <input id="id_sender" name="sender" type="text" hidden="hidden" value="{{ sender.id }}" />
                <input id="id_receiver" name="receiver" type="text" hidden="hidden" value="{{ receiver.id }}" />
                <input id="submit" name="submit" type="submit" value="Submit" class="newbutton"/>
                <a href="{{ next }}{% if page %}?page={{ page }}{% endif %}">
                    <input id="cancel" name="cancel" type="button" value="Cancel" class="newbutton"/>
                </a>
            </li>
        </ul>
    </form>
<script type="text/javascript" language="javascript">
    $("#submit").click(function() {
        if ($("#id_title").val().trim() == "") {
            $("#message_msg").html("Title is required.");//TODO:it will be set in message.properties.
            return false;
        }
    });
</script>
{% endblock %}