{% extends "index.html" %}
{% block mainContent %}
{% load staticfiles %}
       <div id="account_wrapper">
        <div class="pannel_nav">
            <h1>Account Settings</h1>
            <ul>

			<li class="selected"><a href="/account/setting/">Account Details</a></li>
			<li><a href="/account/public_profile/">Public Profile</a></li>
			<li><a href="/account/payment_setting/">Payment Setting</a></li>
			<li><a href="/account/email_setting/">Email Preferences</a></li>
            <li><a href="/account/change_password/">Change Password</a></li>
            <li><a href="/account/social_setting/">Social Network</a></li>
          </ul>
        </div>

        <div class="account_details">
               {% block account_detail %}
                   <fieldset>
                    <legend>Account Details</legend>

                    <form action=""  method="post">
                    {% csrf_token %}
                            <ul class="account_detail_items">
                                    <li>
                                    <div class="fieldWrapper">
                                        {{ form.user.errors }}
                                        <div class="field_label" >{{ form.user.label_tag }}</div><div class="field_value" > {{ form.user }}</div>
                                    </div>
                                    </li>
                                    <li>
                                    <div class="fieldWrapper">
                                        {{ form.birthday.errors }}
                                        <div class="field_label" >{{ form.birthday.label_tag }}</div><div class="field_value" > {{ form.birthday }}</div>
                                    </div>
                                    </li>
                                    <li>
                                    <div class="fieldWrapper">
                                        {{ form.real_name.errors }}
                                        <div class="field_label" >{{ form.real_name.label_tag }}</div><div class="field_value" > {{ form.real_name }}</div>
                                    </div>
                                    </li>
                                    <li>
                                    <div class="fieldWrapper">
                                        {{ form.street_address.errors }}
                                        <div class="field_label" >{{ form.street_address.label_tag }}</div><div class="field_value" > {{ form.street_address }}</div>
                                    </div>
                                    </li>
                                    <li>
                                    <div class="fieldWrapper">
                                        {{ form.city.errors }}
                                        <div class="field_label" >{{ form.city.label_tag }}</div><div class="field_value" > {{ form.city }}</div>
                                    </div>
                                    </li>
                                    <li>
                                    <div class="fieldWrapper">
                                        {{ form.state_provience.errors }}
                                        <div class="field_label" >{{ form.state_provience.label_tag }}</div><div class="field_value" > {{ form.state_provience }}</div>
                                    </div>
                                    </li>
                                    <li>
                                    <div class="fieldWrapper">
                                        {{ form.post_code.errors }}
                                        <div class="field_label" >{{ form.post_code.label_tag }}</div><div class="field_value" > {{ form.post_code }}</div>
                                    </div>
                                    </li>
                                    <li>
                                    <div class="fieldWrapper">
                                        {{ form.country.errors }}
                                        <div class="field_label" >{{ form.country.label_tag }}</div><div class="field_value" > {{ form.country }}</div>
                                    </div>
                                    </li>
                                    <li>

                                </ul>
                                 <div><input type="submit" value="Submit"  class="newbutton"/></div>
                    </form>
                </fieldset>
               {% endblock %}
        </div>
       </div>
{% endblock %}