{% extends "dashboard/activity.html" %}
{% block dashboard_detail %}
       <fieldset>
        <legend>Draft Apps</legend>
            <div>
               <span>App title</span>
               <span>Create Time</span>
               <span>Last Modify</span>
               <span>Is Verified</span>
               <span>Payment</span>
           </div>
           {% for app in draft_apps %}
               <div>
                   <span>
                       <a href="{% url 'query:app_detail' app.id %}">{{ app.title }}</a>
                   </span>
                   <span>{{ app.create_time }}</span>
                   <span>{{ app.last_modify }}</span>
                   {% ifequal app.is_verified True %}
                       <span>{{ app.is_verified }}</span>
                       <span><a href="{% url 'seller:payment' app.id '' %}">Payment</a></span>
                   {% else %}
                       <span><a href="{% url 'seller:verification' app.id %}">Verification</a></span>
                       <span style="color: red">Payment after verified.</span>
                   {% endifequal %}
               </div>
           {% empty %}
               No sent message.
           {% endfor %}
           {% if draft_apps %}
             <div class="pagination" style="float: right">
                {% if draft_apps.has_previous %}<a href="?draft_page={{ draft_apps.previous_page_number }}">previous</a>{% endif %}
                Page {{ draft_apps.number }} of {{ draft_apps.paginator.num_pages }}
                {% if draft_apps.has_next %}<a href="?draft_page={{ draft_apps.next_page_number }}">next</a>{% endif %}
             </div>
           {% endif %}
       </fieldset>

        <fieldset>
        <legend>Published Apps</legend>
           <div>
               <span>App title</span>
               <span>Create Time</span>
               <span>Published Time</span>
               <span>Service Begin Time</span>
               <span>Service End Time</span>
               <span>Bid List</span>
               <span>Repayment</span>
           </div>
           {% for app in published_apps %}
               <div>
                   <span>
                       <a href="{% url 'query:app_detail' app.id %}">{{ app.title }}</a>
                   </span>
                   <span>{{ app.create_time }}</span>
                   <span>{{ app.last_modify }}</span>
                   {% ifequal app.is_verified True %}
                       <span>{{ app.is_verified }}</span>
                       <span><a href="{% url 'seller:payment' app.id '' %}">Payment</a></span>
                   {% else %}
                       <span><a href="{% url 'seller:verification' app.id %}">Verification</a></span>
                       <span style="color: red">Payment after verified.</span>
                   {% endifequal %}
               </div>
           {% empty %}
               No sent message.
           {% endfor %}
           {% if draft_apps %}
             <div class="pagination" style="float: right">
                {% if draft_apps.has_previous %}<a href="?published_page={{ draft_apps.previous_page_number }}">previous</a>{% endif %}
                Page {{ draft_apps.number }} of {{ draft_apps.paginator.num_pages }}
                {% if draft_apps.has_next %}<a href="?published_page={{ draft_apps.next_page_number }}">next</a>{% endif %}
             </div>
           {% endif %}
       </fieldset>
{% endblock %}