{% extends "dashboard/activity.html" %}
{% block dashboard_detail %}
        <fieldset>
        <legend>Joined Bidding</legend>
           <ul class="inbox_list">
            <li>
               <div class="app_title">App Name</div>
               <div class="app_title">Bid End Time</div>
               <div class="app_title">My Max Price</div>
               <div class="app_title">Current Price</div>
           </li>
           {% for app in joined_apps %}
               <li>
                   <div class="app_title">
                       <a href="{% url 'query:app_detail' app.0 %}">{{ app.2 }}</a>
                   </div>
                   <div class="app_title">{{ app.3|date:"Y-m-d G:i"|default:"N/A" }}</div>
                   <div class="app_title">
                       <a href="{% url 'bid:bid_list' app.0 %}">{{ app.1 }}{{ app.5 }}</a>
                   </div>
                   <div class="app_title">
                       <a href="{% url 'bid:bid_list' app.0 %}">{{ app.4 }}{{ app.5 }}</a>
                   </div>
               </li>
           {% empty %}
               No joined bidding.
           {% endfor %}
           {% if joined_apps %}
             <div class="pagination" style="float: right">
                {% if joined_apps.has_previous %}<a href="?joined_page={{ joined_apps.previous_page_number }}">previous</a>{% endif %}
                Page {{ joined_apps.number }} of {{ joined_apps.paginator.num_pages }}
                {% if joined_apps.has_next %}<a href="?joined_page={{ joined_apps.next_page_number }}">next</a>{% endif %}
             </div>
           {% endif %}
           </ul>
       </fieldset>

       <fieldset>
        <legend>Won Bidding</legend>
           <ul class="inbox_list">
           <li>
               <div class="app_title">App Name</div>
               <div class="app_title">My win Price</div>
               <div class="app_title">Action</div>
               <div class="app_title">Status</div>
           </li>
           {% for app in won_apps %}
               <li>
                   <div class="app_title">
                       <a href="{% url 'query:app_detail' app.0.id %}">{{ app.0.title }}</a>
                   </div>
                   <div class="app_title">{{ app.1.0.start_date }}</div>
                   <div class="app_title">{{ app.1.0.end_date }}</div>
                   <div class="app_title">
                       <a href="{% url 'dashboard:bidding_list' app.0.id %}">Bid List</a>
                   </div>
               </li>
           {% empty %}
               No won bidding.
           {% endfor %}
           {% if won_apps %}
             <div class="pagination" style="float: right">
                {% if won_apps.has_previous %}<a href="?won_page={{ won_apps.previous_page_number }}">previous</a>{% endif %}
                Page {{ won_apps.number }} of {{ won_apps.paginator.num_pages }}
                {% if won_apps.has_next %}<a href="?won_page={{ won_apps.next_page_number }}">next</a>{% endif %}
             </div>
           {% endif %}
           </ul>
       </fieldset>
{% endblock %}