{% extends "dashboard/activity.html" %}
{% block dashboard_detail %}
        <fieldset>
        <legend>Joined Bidding</legend>
           <ul class="inbox_list">
            <li>
               <div class="app_title">App Name</div>
               <div class="app_title">Bid End Time</div>
               <div class="app_title">My Max Price</div>
               <div class="app_title">Current Price</div>
           </li>
           {% for app in joined_bids %}
               <li>
                   <div class="app_title">
                       <a href="{% url 'query:app_detail' app.0.0 %}">{{ app.1.0 }}</a>
                   </div>
                   <div class="app_title">{{ app.1.1|date:"Y-m-d H:i"|default:"N/A" }}</div>
                   <div class="app_title">
                       <a href="{% url 'bid:bid_list' app.0.0 %}">{{ app.0.1|floatformat:"-2"|default:0 }} {{ app.1.3 }}</a>
                   </div>
                   <div class="app_title">
                       <a href="{% url 'bid:bid_list' app.0.0 %}">{{ app.1.2|floatformat:"-2"|default:0 }} {{ app.1.3 }}</a>
                   </div>
               </li>
           {% empty %}
               No joined bidding.
           {% endfor %}
           {% if joined_bids %}
             <div class="pagination" style="float: right">
                {% if joined_bids.has_previous %}
                    <a href="?joined_page={{ joined_bids.previous_page_number }}&won_page={{ won_page }}">previous</a>
                {% endif %}
                Page {{ joined_bids.number }} of {{ joined_bids.paginator.num_pages }}
                {% if joined_bids.has_next %}
                    <a href="?joined_page={{ joined_bids.next_page_number }}&won_page={{ won_page }}">next</a>
                {% endif %}
             </div>
           {% endif %}
           </ul>
       </fieldset>

       <fieldset>
        <legend>Won Bidding</legend>
           <ul class="inbox_list">
           <li>
               <div class="app_title">App Name</div>
               <div class="app_title">My win Price</div>
               <div class="app_title">Action</div>
               <div class="app_title">Status</div>
           </li>
           {% for txn in transactions %}
               <li>
                   <div class="app_title">
                       <a href="{% url 'query:app_detail' txn.0.app.id %}">{{ txn.0.app.app_name }}</a>
                   </div>
                   <div class="app_title">
                       <a href="{% url 'bid:bid_list' txn.0.app.id %}">{{ txn.0.price }}</a>
                   </div>
                   <div class="app_title">
                       <a href="{% url 'transaction:trade_action' 'buy' txn.0.app.id txn.0.buyer.id %}">Action</a>
                   </div>
                   <div class="app_title">{{ txn.1 }}</div>
               </li>
           {% empty %}
               No won bidding.
           {% endfor %}
           {% if transactions %}
             <div class="pagination" style="float: right">
                {% if transactions.has_previous %}
                    <a href="?joined_page={{ joined_page }}&won_page={{ transactions.previous_page_number }}">previous</a>
                {% endif %}
                Page {{ transactions.number }} of {{ transactions.paginator.num_pages }}
                {% if transactions.has_next %}
                    <a href="?joined_page={{ joined_page }}&won_page={{ transactions.next_page_number }}">next</a>
                {% endif %}
             </div>
           {% endif %}
           </ul>
       </fieldset>
{% endblock %}