{% extends "dashboard/activity.html" %}
{% block dashboard_detail %}
       <fieldset>
        <legend>Draft Apps</legend>
          <ul class="inbox_list">

            <li>
               <div class="app_title">App title</div>
               <div class="app_title">Last Modify</div>
               <div class="app_title">Is Verified</div>
               <div class="app_title">Payment</div>
            </li>
           {% for app in draft_apps %}
               <li>
                   <div class="app_title">
                       <a href="{% url 'query:app_detail' app.0.id %}">{{ app.0.app_name }}</a>
                   </div>
                   <div class="app_title">{{ app.0.last_modify|date:"Y-m-d G:i"|default:"N/A" }}</div>
                   {% ifequal app.0.is_verified True %}
                       <div class="app_title">{{ app.0.is_verified }}</div>
                       <div class="app_title"><a href="{% url 'seller:payment' app.0.id '' %}">Payment</a></div>
                   {% else %}
                       <div class="app_title"><a href="{% url 'seller:verification' app.0.id %}">Verification</a></div>
                       <div class="app_title" style="color: red;">Payment after verified.</div>
                   {% endifequal %}
               </li>
           {% empty %}
               No draft app.
           {% endfor %}
          </ul>
           {% if draft_apps %}
             <div class="pagination" style="float: right">
                {% if draft_apps.has_previous %}<a href="?draft_page={{ draft_apps.previous_page_number }}">previous</a>{% endif %}
                Page {{ draft_apps.number }} of {{ draft_apps.paginator.num_pages }}
                {% if draft_apps.has_next %}<a href="?draft_page={{ draft_apps.next_page_number }}">next</a>{% endif %}
             </div>
           {% endif %}
       </fieldset>

        <fieldset>
        <legend>Published Apps</legend>
         <ul class="inbox_list">
           <li>
               <div class="app_title">App title</div>
               <div class="app_title">Auction Beginning</div>
               <div class="app_title">Auction Ending</div>
               <div class="app_title">Bids</div>
           </li>
           {% for app in published_apps %}
                <li>
                   <div class="app_title">
                       <a href="{% url 'query:app_detail' app.0.id %}">{{ app.0.app_name }}</a>
                   </div>
                   <div class="app_title">
                       {{ app.0.begin_date|date:"Y-m-d G:i"|default:"N/A" }}
                   </div>
                   <div class="app_title">
                       {{ app.0.end_date|date:"Y-m-d G:i"|default:"N/A" }}
                   </div>
                   <div class="app_title">
                       <a href="{% url 'bid:bid_list' app.0.id %}">{{ app.1|floatformat|default:0 }}bid{{ app.1|floatformat|pluralize }}</a>
                   </div>
               </li>
           {% empty %}
               No published app.
           {% endfor %}
           {% if published_apps %}
             <div class="pagination" style="float: right">
                {% if published_apps.has_previous %}<a href="?published_page={{ published_apps.previous_page_number }}">previous</a>{% endif %}
                Page {{ published_apps.number }} of {{ published_apps.paginator.num_pages }}
                {% if published_apps.has_next %}<a href="?published_page={{ published_apps.next_page_number }}">next</a>{% endif %}
             </div>
           {% endif %}
           </ul>
       </fieldset>

       <fieldset>
        <legend>Sold/Closed Apps</legend>
           <ul class="inbox_list">
           <li>
               <div class="app_title">App title</div>
{#               <div class="app_title">Sold Time</div>#}
{#               <div class="app_title">Published Time</div>#}
{#               <div class="app_title">Service Begin Time</div>#}
{#               <div class="app_title">Service End Time</div>#}
               <div class="app_title">Sold Price</div>
               <div class="app_title">Action</div>
               <div class="app_title" style="color: red;">Status</div>
           </li>
           {% for app in traded_apps %}
               <li>
                   <div class="app_title">
                       <a href="{% url 'query:app_detail' app.0.id %}">{{ app.0.name }}</a>
                   </div>
{#                   <div class="app_title">{{ app.0.create_time }}</div>#}
{#                   <div class="app_title">{{ app.0.publish_date }}</div>#}
{#                   <div class="app_title">{{ app.1.0.start_date }}</div>#}
{#                   <div class="app_title">{{ app.1.0.end_date }}</div>#}
                   <div class="app_title">
                       <a href="{% url 'dashboard:bidding_list' app.0.id %}">Bid List</a>
                   </div>
                   <div class="app_title"><a href="{% url 'seller:payment' app.0.id '' %}">RePayment</a></div>
               </li>
           {% empty %}
              <div style="text-align: center;padding-top:20px;">
                No sold app.
              </div>
           {% endfor %}
           {% if traded_apps %}
             <div class="pagination" style="float: right">
                {% if traded_apps.has_previous %}<a href="?traded_page={{ traded_apps.previous_page_number }}">previous</a>{% endif %}
                Page {{ traded_apps.number }} of {{ traded_apps.paginator.num_pages }}
                {% if traded_apps.has_next %}<a href="?traded_page={{ traded_apps.next_page_number }}">next</a>{% endif %}
             </div>
           {% endif %}
           </ul>
       </fieldset>
{% endblock %}