{% extends "dashboard/activity.html" %}
{% load i18n %}
{% load staticfiles %}
{% block dashboard_detail %}
          <div class="dash_title">{% trans 'Draft Apps' %}</div>
          <ul class="inbox_list">
            <li class="highlight_li">
               <div class="app_title" style="width: 140px;;padding-left: 30px;">{% trans 'App Name' %}</div>
               <div class="app_title" style="padding-left:10px;">{% trans 'Last Modify' %}</div>
               <div class="app_title" style="padding-left: 10px;">{% trans 'Is Verified' %}</div>
               <div class="app_title" style="width:120px;">{% trans 'Fees' %}</div>
            </li>
           {% for app in draft_apps %}
               <li>
                   <div class="app_list_edit">
                       <a href="{% url 'seller:appStore_link' app.0.id %}" title="Change" >
                            <img src="{% static "images/edit20x20.png" %}" style="height:15px;width: 15px;"/>
                       </a>
                   </div>
                   <div class="app_list">

                       <a href="{% url 'query:app_detail' app.0.id %}">{{ app.0.app_name|truncatewords:5 }}</a>
                   </div>
                   <div class="app_list">
                       {{ app.0.last_modify|date:"Y-m-d H:i"|default:"N/A" }}
                   </div>
                   {% ifequal app.0.is_verified True %}
                       <div class="app_list">{% trans 'Verified' %}</div>
                       <div class="app_list_shorter"><a href="{% url 'seller:payment' app.0.id '' %}" class="pending_style">{% trans 'Pay It Now' %}</a></div>
                   {% else %}
                       <div class="app_list"><a href="{% url 'seller:verification' app.0.id %}" class="pending_style">{% trans 'Pending' %}</a></div>
                       <div class="app_list_shorter" style="color: #cc3333;">{% trans 'Pending' %}</div>
                   {% endifequal %}
               </li>
           {% empty %}
               <div class="no_message">{% trans 'No draft app.' %}</div>
           {% endfor %}
          </ul>
           {% if draft_apps %}
             <div class="pagination" >
                {% if draft_apps.has_previous %}
                    <a href="?draft_page={{ draft_apps.previous_page_number }}&published_page={{ published_page }}&traded_page={{ traded_page }}">{% trans 'previous' %}</a>
                {% endif %}
                {% trans 'Page' %} {{ draft_apps.number }} {% trans 'of' %} {{ draft_apps.paginator.num_pages }}
                {% if draft_apps.has_next %}
                    <a href="?draft_page={{ draft_apps.next_page_number }}&published_page={{ published_page }}&traded_page={{ traded_page }}">{% trans 'next' %}</a>
                {% endif %}
             </div>
           {% endif %}

          <div class="dash_title">{% trans 'Published Apps' %}</div>
         <ul class="inbox_list">
           <li class="highlight_li">
               <div class="app_title" style="width: 140px;;padding-left: 30px;">{% trans 'App Name' %}</div>
               <div class="app_title" style="padding-left:20px;">{% trans 'Auction Beginning' %}</div>
               <div class="app_title" style="padding-left: 0px;">{% trans 'Auction Ending' %}</div>
               <div class="app_title" style="width:120px;">{% trans 'Bids' %}</div>
           </li>
           {% for app in published_apps %}
                <li>
                   <div class="app_list_edit">
                       <a href="{% url 'seller:appStore_link' app.0.id %}" title="Change" >
                            <img src="{% static "images/edit20x20.png" %}" style="height:15px;width: 15px;"/>
                       </a>
                   </div>
                   <div class="app_list">
                       <a href="{% url 'query:app_detail' app.0.id %}">{{ app.0.app_name|truncatewords:5 }}</a>
                   </div>
                   <div class="app_list">
                       {{ app.0.begin_date|date:"Y-m-d H:i"|default:"N/A" }}
                   </div>
                   <div class="app_list">
                       {{ app.0.end_date|date:"Y-m-d H:i"|default:"N/A" }}
                   </div>
                   <div class="app_list_shorter">
                       <a href="{% url 'bid:bid_list' app.0.id %}">{{ app.1|floatformat|default:0 }} bid{{ app.1|floatformat|pluralize }}</a>
                   </div>
               </li>
           {% empty %}
                <div class="no_message">{% trans 'No published app.' %}</div>
           {% endfor %}
           </ul>
           {% if published_apps %}
             <div class="pagination" >
                {% if published_apps.has_previous %}
                    <a href="?draft_page={{ draft_page }}&published_page={{ published_apps.previous_page_number }}&traded_page={{ traded_page }}">{% trans 'previous' %}</a>
                {% endif %}
                {% trans 'Page' %} {{ published_apps.number }} {% trans 'of' %} {{ published_apps.paginator.num_pages }}
                {% if published_apps.has_next %}
                    <a href="?draft_page={{ draft_page }}&published_page={{ published_apps.next_page_number }}&traded_page={{ traded_page }}">{% trans 'next' %}</a>
                {% endif %}
             </div>
           {% endif %}
          <div class="dash_title">{% trans 'Sold/Closed Apps' %}</div>
           <ul class="inbox_list">
           <li class="highlight_li">
               <div class="app_title">{% trans 'App Name' %}</div>
               <div class="app_title">{% trans 'Sold Price' %}</div>
               <div class="app_title">{% trans 'Action' %}</div>
               <div class="app_title">{% trans 'Status' %}</div>
           </li>
           {% for app in traded_apps %}
               <li>
                   <div class="app_list">
                       <a href="{% url 'query:app_detail' app.0.id %}">{{ app.0.app_name|truncatewords:5 }}</a>
                   </div>
                   <div class="app_list">
                       <a href="{% url 'bid:bid_list' app.0.id %}">{{ app.1.0|default:0 }} {{ app.0.currency.currency }}</a>
                   </div>
                   <div class="app_list">
                       {% if app.1.1 == 1 %}
                           <a href="{% url 'bid:bid_list' app.0.id %}">
                               <input id="id_trade" type="button" value="{% trans 'Trade Now' %}" class="button_n" />
                           </a>
                       {% else %}
                           <a href="{% url 'transaction:trade_action' 'sell' app.0.id request.user.id %}">
                               <input id="id_action" type="button" value="{% trans 'Action' %}" class="button_n" />
                           </a>
                       {% endif %}
                   </div>
                   <div class="app_list">{{ app.1.2 }}</div>
               </li>
           {% empty %}
                           <div class="no_message">{% trans 'No sold/closed app.' %}</div>
           {% endfor %}

           </ul>
    {% if traded_apps %}
             <div class="pagination" >
                {% if traded_apps.has_previous %}
                    <a href="?draft_page={{ draft_page }}&published_page={{ published_page }}&traded_page={{ traded_apps.previous_page_number }}">{% trans 'previous' %}</a>
                {% endif %}
                {% trans 'Page' %} {{ traded_apps.number }} {% trans 'of' %} {{ traded_apps.paginator.num_pages }}
                {% if traded_apps.has_next %}
                    <a href="?draft_page={{ draft_page }}&published_page={{ published_page }}&traded_page={{ traded_apps.next_page_number }}">{% trans 'next' %}</a>
                {% endif %}
             </div>
           {% endif %}
{% endblock %}