{% extends "dashboard/activity.html" %}
{% block dashboard_detail %}
           <div class="dash_title">Post Orders</div>
           <ul class="inbox_list">
            <li class="highlight_li">
               <div class="app_title">App Name</div>
               <div class="app_title">Service Time</div>
               <div class="app_title">Price</div>
               <div class="app_title">Pay Status</div>
           </li>
           {% for serviceDetail in serviceDetails %}
               <li>
                   <div class="app_list">
                       <a href="{% url 'query:app_detail' serviceDetail.0.app.id %}">{{ serviceDetail.0.app.app_name }}</a>
                   </div>
                   <div class="app_list">
                       {{ serviceDetail.0.start_date|date:"Y-m-d G:i" }} - {{ serviceDetail.0.end_date|date:"Y-m-d G:i" }}
                   </div>
                   <div class="app_list">
                       {{ serviceDetail.0.actual_amount }} {{ serviceDetail.0.app.currency.currency }}
                   </div>
                   <div class="app_list">
                       <a href="{% url 'seller:payment' serviceDetail.0.app.id serviceDetail.0.sn %}">
                           {% if serviceDetail.0.is_payed %}Paid{% else %}UnPaid{% endif %}
                       </a>
                   </div>
               </li>
           {% empty %}
                <div class="no_message">No bidding happen.</div>
           {% endfor %}
           {% if serviceDetails %}
             <div class="pagination" >
                {% if serviceDetails.has_previous %}<a href="?page={{ serviceDetails.previous_page_number }}">previous</a>{% endif %}
                Page {{ serviceDetails.number }} of {{ serviceDetails.paginator.num_pages }}
                {% if serviceDetails.has_next %}<a href="?page={{ serviceDetails.next_page_number }}">next</a>{% endif %}
             </div>
           {% endif %}
           </ul>
{% endblock %}