{% extends "dashboard/activity.html" %}
{% block dashboard_detail %}
        {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}
                </li>
            {% endfor %}
            </ul>
        {% endif %}
       <fieldset>
        <legend>Sent Messages</legend>
           {% for message in message_list %}
               <div style="float: left; width: 100px;">
               {{ message.receiver.username }}
               </div>
               <div style="float: left; width: 100px;">
               {{ message.title }}
               </div>
               <div style="float: left; width: 250px;">
               {{ message.content }}
               </div>
               <div style="float: left;">
               {{ message.submit_date }}
               </div>
               <div><a href="{% url 'dashboard:create_message' message.receiver.username message.receiver.id %}">
                   <input id="send" type="button" value="send"></a>
               </div>
           {% empty %}
               No sent message.
           {% endfor %}
       </fieldset>
         {% if message_list %}
         <div class="pagination" style="float: right">
            {% if message_list.has_previous %}<a href="?page={{ message_list.previous_page_number }}">previous</a>{% endif %}
            Page {{ message_list.number }} of {{ message_list.paginator.num_pages }}
            {% if message_list.has_next %}<a href="?page={{ message_list.next_page_number }}">next</a>{% endif %}
         </div>
         {% endif %}
{% endblock %}