{% extends "dashboard/activity.html" %}
{% block dashboard_detail %}
        {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}
                </li>
            {% endfor %}
            </ul>
        {% endif %}
       <fieldset>
        <legend>Sent Messages</legend>
        <ul class="inbox_list">
           <li>
           <div class="inbox_from" style="font-weight: bold;">To</div>
           <div class="inbox_subject" style="font-weight: bold;">Message Subject</div>
           <div class="inbox_received_time" style="font-weight: bold;">Received Time</div>

           </li>

           {% for message in message_list %}
               <li>
               <a href="/dashboard/message-detail/send/{{ message.0.id }}?page={{ message_list.number }}">
               <div class="inbox_from">

                   {{ message.0.receiver.username }}
               </div>
               <div class="inbox_subject">
                   {{ message.0.title }}
               </div>
               <div class="inbox_received_time">
                   {{ message.0.submit_date|date:"Y-m-d H:i"|default:"N/A" }}
               </div>
                </a>
               </li>
           {% empty %}
               No sent message.
           {% endfor %}
       </fieldset>
         {% if message_list %}
         <div class="pagination" style="float: right">
            {% if message_list.has_previous %}<a href="?page={{ message_list.previous_page_number }}">previous</a>{% endif %}
            Page {{ message_list.number }} of {{ message_list.paginator.num_pages }}
            {% if message_list.has_next %}<a href="?page={{ message_list.next_page_number }}">next</a>{% endif %}
         </div>
         {% endif %}
{% endblock %}