{% extends "dashboard/activity.html" %}
{% block dashboard_detail %}
{% load i18n %}
        {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}
                </li>
            {% endfor %}
            </ul>
        {% endif %}
        <div class="dash_title">{% trans 'Outbox' %}</div>
        <ul class="inbox_list">
           <li class="highlight_li">
           <div class="inbox_from" >{% trans 'To' %}</div>
           <div class="inbox_subject" >{% trans 'Message Subject' %}</div>
           <div class="inbox_received_time" >{% trans 'Received Time' %}</div>

           </li>

           {% for message in message_list %}
               <li>
               <a href="/dashboard/message-detail/send/{{ message.0.id }}?page={{ message_list.number }}">
               <div class="inbox_from">

                   {{ message.0.receiver.username }}
               </div>
               <div class="inbox_subject">
                   {{ message.0.title }}
               </div>
               <div class="inbox_received_time">
                   {{ message.0.submit_date|date:"Y-m-d H:i"|default:"N/A" }}
               </div>
                </a>
               </li>
           {% empty %}
               <div class="no_message">{% trans 'No received message.' %}</div>
           {% endfor %}

         {% if message_list %}
         <div class="pagination" style="float: right">
            {% if message_list.has_previous %}<a href="?page={{ message_list.previous_page_number }}">{% trans 'previous' %}</a>{% endif %}
            {% trans 'Page' %} {{ message_list.number }} {% trans 'of' %} {{ message_list.paginator.num_pages }}
            {% if message_list.has_next %}<a href="?page={{ message_list.next_page_number }}">{% trans 'next' %}</a>{% endif %}
         </div>
         {% endif %}
{% endblock %}