{% extends "dashboard/activity.html" %}
{% block dashboard_detail %}
         <div class="dash_title">Watching Sellers</div>
          <ul class="inbox_list">

            <li class="highlight_li">
               <div class="app_title">Seller</div>
               <div class="app_title">App Count</div>
               <div class="app_title">Unwatch</div>
            </li>
           {% for watch_seller in watch_sellers %}
               <li>
                   <div class="app_title">{{ watch_seller.0.seller.username }}</div>
                   <div class="app_title"><a href="/query/featured?seller={{ watch_seller.0.seller.id }}">
                       {{ watch_seller.1|default:0 }}
                   </a></div>
                   <div class="app_title">
                       <span class="buyitnow" onclick="unwatchSeller(this)" seller_id="{{ watch_seller.0.seller.id }}">Unwatch</span>
                   </div>
               </li>
           {% empty %}
              <div class="no_message">No watching seller.</div>
           {% endfor %}
          </ul>
           {% if watch_sellers %}
             <div class="pagination" style="float: right">
                {% if watch_sellers.has_previous %}<a href="?page={{ watch_sellers.previous_page_number }}">previous</a>{% endif %}
                Page {{ watch_sellers.number }} of {{ watch_sellers.paginator.num_pages }}
                {% if watch_sellers.has_next %}<a href="?page={{ watch_sellers.next_page_number }}">next</a>{% endif %}
             </div>
           {% endif %}
<script type="text/javascript" language="javascript">
    function unwatchSeller(obj) {
        var id = $(obj).attr("seller_id");
        $.ajax({
            type:"POST",
            url:"/dashboard/unwatch-seller/"+id,
            data:{
                user_id:id,
                csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            success:function(data) {
                if(data.ok === 'true') {
                    location.reload();
                }
            }
        });
    }
</script>
{% endblock %}