{% extends "index.html" %}
{% block mainContent %}
{% load staticfiles %}
<script type="text/javascript" language="javascript">
  $(function() {
    var begin_date = "{{ begin_date|date:'Y-m-d' }}";
    if (begin_date) {
        $("#id_start_date").attr("readonly", true);
        var date_str = $("#id_start_date").val().trim();
        var end_date = new Date(date_str);
        var service_expiry_date = {{ service_expiry_date }};
        if (service_expiry_date) {
            end_date.setDate(end_date.getDate() + parseInt(service_expiry_date));
        }
        else{
            end_date.setDate(end_date.getDate() + 31);
        }
        $("#end_date_str").val(end_date.format('yyyy-MM-dd'));
        $("#id_end_date").val(end_date.format('yyyy-MM-dd'));
    }
    else {
        $( "#id_start_date" ).datepicker({
            showOtherMonths: true,
            selectOtherMonths: true,
            changeMonth: true,
            changeYear: true,
            dateFormat: 'yy-mm-dd'
        });
    }
  });
</script>
    <div id="order_error">{{ order_error }}</div>
    <form action=""  method="post">
        {% csrf_token %}
        <div>
            {{ form.sn.label_tag }}:{{ form.sn.value }}
            <input id="id_sn" name="sn" type="hidden" value="{{ form.sn.value }}"  />
        </div>
        <div>
            Payment Fee: {{ form.actual_amount.value|floatformat|default:0 }}{{ currency }}
            <input id="id_actual_amount" name="actual_amount" type="hidden" value="{{ form.actual_amount.value }}" />
        </div>
        <div>
            Service Begin Date: <input id="id_start_date" name="start_date" type="text" value="{{ form.start_date.value|date:'Y-m-d' }}" />
            {% if begin_date %}
                (*End date of your last valid service:{{ begin_date|date:'Y-m-d' }})
            {% endif %}
        </div>
        <div>
            Service End Date:
            <input id="id_end_date" name="end_date" type="text" readonly="readonly" value="" />
        </div>
        {% if acceptGateway %}<!-- prevent user's cheat -->
        <div>
            <img src="{% static acceptGateway.type.logo %}" style="width:90px;height:30px;">
            <input id="id_account" name="account" type="text" value="{{ acceptGateway.value }}" readonly="readonly" />
        </div>
        <div>
            <input id="submit" type="submit" value="Submit"  class="newbutton"/>
        </div>
        {% endif %}
    </form>
<script type="text/javascript" language="javascript">
    function validStartDate() {
        var date_str = $("#id_start_date").val().trim();
        if (date_str != "") {
            if (validDate(date_str)) {
                var end_date = new Date(date_str);
                var begin_date_str = "{{ begin_date|date:'Y-m-d' }}";
                if (begin_date_str && new Date(begin_date_str) > end_date) {
                    $("#end_date_str").val("");
                    $("#id_end_date").val("");
                    $("#order_error").html("Service begin date should be later than service end date of your paid payment.");//TODO:it will be set in message.properties.
                    return false;
                }
                if (begin_date_str == "" && new Date().format('yyyy-MM-dd') > end_date.format('yyyy-MM-dd')) {
                    $("#end_date_str").val("");
                    $("#id_end_date").val("");
                    $("#order_error").html("Service begin date should be later than today.");//TODO:it will be set in message.properties.
                    return false;
                }
                var service_expiry_date = {{ service_expiry_date }};
                if (service_expiry_date) {
                    end_date.setDate(end_date.getDate() + parseInt(service_expiry_date));
                }
                else{
                    end_date.setDate(end_date.getDate() + 31);
                }
                $("#end_date_str").val(end_date.format('yyyy-MM-dd'));
                $("#id_end_date").val(end_date.format('yyyy-MM-dd'));
                $("#order_error").html("");
                return true;
            }
            else {
                $("#end_date_str").val("");
                $("#id_end_date").val("");
                $("#order_error").html("Service begin date is not correct.");//TODO:it will be set in message.properties.
                return false;
            }
        }
        else {
             $("#order_error").html("Service begin date is required.");//TODO:it will be set in message.properties.
             return false;
        }
    }
    $("#id_start_date").change(function() {
        validStartDate();
    });
    $("#submit").click(function(){
        return validStartDate();
    });
</script>
{% endblock %}