{% extends "index.html" %}
{% block mainContent %}
{% load staticfiles %}
<script type="text/javascript" language="javascript">
  $(function() {
    var begin_date = "{{ begin_date|date:'Y-m-d H:i:s' }}";
    var select = "{{ select }}";
    if (begin_date) {
        $("#id_start_date").attr("readonly", true);
        var date_str = $("#id_start_date").val().trim();
        var end_date = new Date(Date.parse(date_str.replace(/-/g, "/")));
        var service_expiry_date = {{ service_expiry_date }};
        if (service_expiry_date) {
            end_date.setDate(end_date.getDate() + parseInt(service_expiry_date));
        }
        else{
            end_date.setDate(end_date.getDate() + 31);
        }
        $("#id_end_date").val(end_date.format('yyyy-MM-dd hh:mm:ss'));
    }
    else {
        $( "#id_start_date" ).datepicker({
            showOtherMonths: true,
            selectOtherMonths: true,
            changeMonth: true,
            changeYear: true,
            dateFormat: 'yy-mm-dd'//'yy-mm-dd hh:mm:ss'
        });
    }
    if (select == 'true') {
        $("#id_select").attr("checked", true);
        $('#id_select').val('true');
        $('#id_begin').hide();
        $('#id_end').hide();
    }
    else{
        $('#id_select').val('false');
        $('#id_begin').show();
        $('#id_end').show();
    }
  });
</script>
    <div class="dash_title">Checkout for your selected service</div>
    <div id="order_error">{{ order_error }}</div>

    <div class="service_pay">
    <form action=""  method="post">
        {% csrf_token %}

        <div class="table_form">
            <div class="table_row">
            <div class="table_left">
            Your order number:
            </div>
            <div class="table_left">
                {{ form.sn.value }}
                <input id="id_sn" name="sn" type="hidden" value="{{ form.sn.value }}"  />
            </div>
            </div>
        </div>

        <div class="table_form">
            <div class="table_row">
            <div class="table_left">
            Payment Fee:
            </div>
            <div class="table_left">
                {{ form.amount.value|floatformat|default:0 }}{{ currency }}
                <input id="id_amount" name="amount" type="hidden" value="{{ form.amount.value }}" />

            </div>
            </div>
        </div>


        <div class="table_form">
            <div class="table_row">
            <div class="table_left">
            Discount Rate:
            </div>
            <div class="table_left">
                {{ discount_rate }}
            </div>
            </div>
        </div>

        <div class="table_form">
            <div class="table_row">
            <div class="table_left">
            Actual Payment Fee:
            </div>
            <div class="table_left">
             {{ form.actual_amount.value|floatformat|default:0 }}{{ currency }}
            <input id="id_actual_amount" name="actual_amount" type="hidden" value="{{ form.actual_amount.value }}" />
            </div>
            </div>
        </div>


        {% if begin_date == None %}
        <div class="table_form" style="clear:both;margin-top:10px;font-weight: bold;">
            <input id="id_select" name="select" type="checkbox" />
             Auction immediately start  after you finished your payment.
        </div>
        {% endif %}
        <div id="id_begin" class="table_form" style="clear:both;margin-top:10px;font-weight: bold;">
            <div class="table_left">
            Choose your Auction Start Date:
            </div>
            <div class="table_left">
            <input id="id_start_date" name="start_date" type="text" value="{{ form.start_date.value|date:'Y-m-d H:i:s' }}" />
            {% if begin_date %}
                (*End date of your last valid service:{{ begin_date|date:'Y-m-d H:i:s' }})
            {% endif %}
            </div>
        </div>
        <div id="id_end" class="table_form">
           <div class="table_left" style="clear:both;margin-top:10px;font-weight: bold;">
            Auction End Date:
           </div>
           <div class="table_left">
            <input id="id_end_date" name="end_date" type="text" readonly="readonly" value="{{ form.end_date.value|date:'Y-m-d H:i:s' }}" />
           </div>
        </div>
        {% if acceptGateway %}<!-- prevent user's cheat -->
        <div class="table_form">
        <div class="table_left">
{#            <img src="{% static acceptGateway.type.logo %}" style="width:90px;height:30px;">#}
            <input id="submit" type="submit" value="Checkout with Paypal"  class="button_s"/>
        </div>
        </div>
        {% endif %}
    </form>
    <div class="clear"></div>
    </div>
<script type="text/javascript" language="javascript">
    $('#id_select').click(function(){
        if ($('#id_select').is(':checked')) {
            $('#id_begin').hide();
            $('#id_end').hide();
            $('#id_select').val('true');
        }
        else {
            $('#id_begin').show();
            $('#id_end').show();
            $('#id_select').val('false');
        }
    });
    function validStartDate() {
        var date_str = $("#id_start_date").val().trim();
        if (date_str != "") {
            if (validDateTime(date_str)) {
                var end_date = new Date(Date.parse(date_str.replace(/-/g, "/")));
                var begin_date_str = "{{ begin_date|date:'Y-m-d H:i:s' }}";
                if (begin_date_str && new Date(begin_date_str) > end_date) {
                    $("#order_error").html("Auction start date should be earlier than your auction end date.");//TODO:it will be set in message.properties.
                    return false;
                }
                if (begin_date_str == "" && new Date().format('yyyy-MM-dd hh:mm:ss') > end_date.format('yyyy-MM-dd hh:mm:ss')) {
                    $("#order_error").html("Auction start date should be later than current time.");//TODO:it will be set in message.properties.
                    return false;
                }
                var service_expiry_date = {{ service_expiry_date }};
                if (service_expiry_date) {
                    end_date.setDate(end_date.getDate() + parseInt(service_expiry_date));
                }
                else{
                    end_date.setDate(end_date.getDate() + 31);
                }
                $("#id_end_date").val(end_date.format('yyyy-MM-dd hh:mm:ss'));
                $("#order_error").html("");
                return true;
            }
            else {
                $("#id_end_date").val("");
                $("#order_error").html("Auction start date is not correct.");//TODO:it will be set in message.properties.
                return false;
            }
        }
        else {
             $("#order_error").html("Auction start date is required.");//TODO:it will be set in message.properties.
             return false;
        }
    }
    $("#id_start_date").change(function() {
        validStartDate();
    });
    $("#submit").click(function(){
        if (!$('#id_select').is(':checked')) {
            return validStartDate();
        }
    });
</script>
{% endblock %}