{% extends "index.html" %}
{% block mainContent %}
    {% load staticfiles %}

    <div class="listing_header">
          <div class="listing_icon left">
            <img src="{{ MEDIA_URL }}{{ appInfo.icon }}"class="detail_icon"/>
            <a href="{% url 'query:app_detail' app.id %}">View app detail</a>
          </div>
          <div class="app_bid_info">
            <h1>{{ app.title }}</h1>
            <div class="margin10px">Visit <a target="_new" href="{{ app.app_store_link }}">{{ app.app_name }}</a> in the AppleStore</div>
            <div id="auctionstatus"  title="Listed: 2013-08-21T11:37:06+10:00; Ends: 2013-09-18T11:37:06+10:00">
                {% if app.reserve_price <= current_price %}Auction has reached the reserve price{% endif %}<br>
                Listing closes in 23 days, 18 hours<!--TODO:To do this later. -->
            </div>
          </div>
          <div class="bidding_box right">
            <div class="bidding_status" >
                <div id="current_price"> ${{ current_price|floatformat|default:0 }}</div>
                 {% ifequal app.status 2 %}
                    <div>
                        <a href="{% url 'bid:bid_list' app.id %}"><div id="bid_num">{{ bid_num|floatformat|default:0 }}bid{{ bid_num|floatformat|pluralize }}</div></a>
                    </div>
                    <div class="bid_form">
                        <form action="{% url 'bid:bid_create' app.id %}" method="post">
                            {% csrf_token %}
                            <input id="price" name="price" type="text" />
                            <input id="bid_now" type="submit" value="Bid Now"/>
                        </form>
                    </div>
                   <div id="bid_price">(Enter ${{ bid_price|floatformat|default:0 }} or more.)</div>
                   <div id="price_msg"></div>
                {% endifequal %}

            </div>
          </div>
    </div>
    <div class="clear"></div>
    <div class="bidding_list">
         <table width="80%" >
    <tr>
        <td width="50%">Bidder</td><td>Bid Price</td><td>Date</td>
    </tr>
    {% for bid_info in bid_info_list %}
        <tr>
        <td>Bidder{{ bid_info.1 }}
            {% ifequal bid_info.0.buyer.id request.user.id %}
                - {{ bid_info.0.buyer.username }}
            {% endifequal %}
            <div>has bid on {{ bid_info.2 }} listings from {{ bid_info.3 }} sellers</div>
        </td>
        <td>
            {{ bid_info.0.price|floatformat }}
            {% ifequal bid_info.0.status 2 %} - rejected{% endifequal %}
            {% ifequal bid_info.0.status 3 %} - pending{% endifequal %}
        </td>
        <td>
            {{ bid_info.0.bid_time }}
        </td>
        </tr>
    {% endfor %}
    </table>

    </div>

<script type="text/javascript" language="javascript">
    $("#price").click(function() {
        if ($("#price").val() ==="") {
            id = '{{ app.id }}';
            $.ajax({
                type:"POST",
                url:"{% url 'query:bid_info' id %}",
                data:{
                    id:id,
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success:function(data) {
                    if(data.ok === 'true' && data.bid_price != null && data.current_price != null && data.bid_num != 0) {
                        $("#bid_price").text("(Enter $"+data.bid_price+" or more.)");
                        $("#current_price").text("$"+data.current_price);
                        if (data.bid_num == 1) {
                            $("#bid_num").text(data.bid_num+"bid");
                        }
                        else {
                            $("#bid_num").text(data.bid_num+"bids");
                        }
                    }
                }
            });
        }
    });
    $("#bid_now").click(function() {
        if ($("#price").val() =="") {
            $("#price_msg").text("The price can not be blank");
            return false;
        }
        if (isNaN($("#price").val())) {
            $("#price_msg").text("The price should be number.");
            return false;
        }
        if (parseFloat($("#price").val()) < parseFloat($("#bid_price").text())) {
            $("#price_msg").text("The price must bid at least the minimum bid");
            return false;
        }
    });
</script>
{% endblock %}