{% extends "index.html" %}
{% block mainContent %}
{% load staticfiles %}
    {% include "query/listing_header.html" %}
    <div class="bidding_create">
        <form action="" method="post">
            {% csrf_token %}
            <div>
                <h1>Current price:&nbsp;{{ current_price|floatformat|default:0 }}{{ app.currency.currency }}</h1>
            </div>
            <div id="bid_num" style="display: none">{{ bid_num|floatformat|default:0 }}bid{{ bid_num|floatformat|pluralize }}</div>
            <div class="yourprice">
                 <div class="price_box">
                     <div class="label_price"><h1>Your Price:</h1></div>
                     <div>{{ biddingForm.price }}{{ app.currency.currency }}</div>
                     <div>(Enter <span  id="bid_price_new">{{ bid_price|floatformat|default:0 }}</span>{{ app.currency.currency }} or more.)</div>
                 </div>
            </div>
            <div id="price_msg_new">{{ bid_error }}</div>
            <div id="bid_agreement">
            <input id="agreement" name="agreement" type="checkbox"/> I have read <a href="/termsandconditions" target="_blank"><b>the Bidding Terms and Conditions</b></a> and I agree to them.
            </div>
        {% if app.status == 2 and begin_bid == True %}
{#            <input id="insert_comment" name="Add Comment" value="Add Comment"  type="button" class="newbutton"/>#}
            <input type="hidden" id="bid_create" name="bid_create" value="yes"/>
            <input id="save" class="newbutton" type="submit" name="save" value="Save"/>
{#            <div id="bid_form" style="padding-bottom: 20px;">#}
{#                <div class="bid_comments_form">#}
{#                    <input type="hidden" id="is_send_message" name="send_message" value="no"/>#}
{#                    <input id="id_sender" name="sender" type="text" hidden="hidden" value="{{ sender.id }}">#}
{#                    <input id="id_receiver" name="receiver" type="text" hidden="hidden" value="{{ receiver.id }}">#}
{#                    {{ messageForm.title.label_tag }}{{ messageForm.title }}#}
{#                    <div>#}
{#                        {{ messageForm.content.label_tag }} {{ messageForm.content }}#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
        {% endif %}
        </form>
    </div>
<script type="text/javascript" language="javascript">
    $("#save").click(function() {
        if ({{ app.publisher.id }} == {{ request.user.id }}) {
            $("#price_msg_new").text("You can not bid your own app.");
            return false;
        }
        if ($("#id_price").val() =="") {
            $("#price_msg_new").text("The price can not be blank.");
            return false;
        }
        if (isNaN($("#id_price").val())) {
            $("#price_msg_new").text("The price should be number.");
            return false;
        }
        if (parseFloat($("#id_price").val()) < parseFloat($("#bid_price_new").text())) {
            $("#price_msg_new").text("The price must bid at least the minimum bid.");
            return false;
        }
        if ($("#agreement").is(':checked') == false) {
             $("#price_msg_new").text("You must be read and agreed the Bidding Terms and Conditions.");
            return false;
        }
        if (($("#bid_form").is(":visible") || $("#is_send_message").val()=="yes") && $("#id_title").val().trim() == "") {
            $("#price_msg_new").html("Title is required.");
            return false;
        }
    });
{#    $("#insert_comment").click(function() {#}
{#        if ($("#bid_form").is(":visible")) {#}
{#            $("#bid_form").hide("fast");#}
{#            $("#is_send_message").val('no');#}
{#        }#}
{#        else{#}
{#            $("#bid_form").show("fast");#}
{#            $("#is_send_message").val('yes');#}
{#        }#}
{#    });#}
</script>
{% endblock %}