{% extends "index.html" %}
{% block mainContent %}
{% load staticfiles %}
    {% include "query/listing_header.html" %}
    <div class="bidding_create">
    {% if app.status == 2 and begin_bid == True %}
        <form action="" method="post">
            {% csrf_token %}
            <div>
                <h1>Current price:&nbsp;{{ current_price|floatformat|default:0 }}{{ app.currency.currency }}</h1>
            </div>
            <div id="bid_num" style="display: none">{{ bid_num|floatformat|default:0 }}bid{{ bid_num|floatformat|pluralize }}</div>
            <div class="yourprice">
                 <div class="price_box">
                     <div class="label_price"><h1>Your Price:</h1></div>
                     <div>{{ biddingForm.price }}{{ app.currency.currency }}</div>
                     <div>(Enter <span  id="bid_price">{{ bid_price|floatformat|default:0 }}</span>{{ app.currency.currency }} or more.)</div>
                 </div>
            </div>
            <div id="price_msg">

            </div>

            <div id="bid_agreement">
            <input id="agreement" name="agreement" type="checkbox"/>I have read the Bidding Terms and Conditions and I agree to them

            </div>
            <input id="insert_comment" name="Add Comment" value="Add Comment"  type="button" class="newbutton"/>
            <input id="save" class="newbutton" type="submit" name="save" value="Save"/>
            <div id="bid_form">
            <div class="bid_comments_form">
                <input id="id_sender" name="sender" type="text" hidden="hidden" value="{{ request.user.id }}">
                <input id="id_receiver" name="receiver" type="text" hidden="hidden" value="{{ app.publisher.id }}">
                {{ messageForm.title.label_tag }}{{ messageForm.title }}
                {{ messageForm.content.label_tag }} {{ messageForm.content }}
                <input type="hidden" id="bid_create" name="bid_create" value="yes"/>
            </div>
            </div>
        </form>
    {% endif %}
    </div>
<script type="text/javascript" language="javascript">
    $("#id_price").click(function() {
        if ($("#id_price").val() ==="") {
            id = '{{ app.id }}';
            $.ajax({
                type:"POST",
                url:"{% url 'query:bid_info' id %}",
                data:{
                    id:id,
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success:function(data) {
                    if(data.ok === 'true' && data.bid_price != null && data.current_price != null && data.bid_num != 0) {
                        $("#bid_price").text(data.bid_price);
                        $("#current_price").text(data.current_price + "{{ app.currency.currency }}");
                        if (data.bid_num == 1) {
                            $("#bid_num").text(data.bid_num + "bid");
                        }
                        else {
                            $("#bid_num").text(data.bid_num + "bids");
                        }
                    }
                }
            });
        }
    });
    $("#save").click(function() {
        if ({{ app.publisher.id }} == {{ request.user.id }}) {
            $("#price_msg").text("You can not bid your own app.");
            return false;
        }
        if ($("#id_price").val() =="") {
            $("#price_msg").text("The price can not be blank");
            return false;
        }
        if (isNaN($("#id_price").val())) {
            $("#price_msg").text("The price should be number.");
            return false;
        }
        if (parseFloat($("#id_price").val()) < parseFloat($("#bid_price").text())) {
            $("#price_msg").text("The price must bid at least the minimum bid");

            return false;
        }
        if ($("#agreement").is(':checked') == false) {
             $("#price_msg").text("亲，貌似你没有同意竞标协议哦！");
            return false;
        }
    });
    $("#insert_comment").click(function() {
            $("#bid_form").show("fast");
    });
</script>
{% endblock %}