                 <div id="odliczanie-a">
                    <span data-time="{{ time_remaining }}" class="kkcount-down"></span>
                 </div>
                    <script type="text/javascript" language="javascript">
                      var callback = '{{ callback }}';
                      var kkText = '{{ kkText }}';
                      $(".kkcount-down").kkcountdown({
                        dayText : 'day ',
                        daysText : 'days ',
                        hoursText : 'h ',
                        minutesText : 'm ',
                        secondsText : 's',
                        displayZeroDays : false,
                        textAfterCount : '<p style="color:red;font-weight:bold;">'+kkText+'</p>',
                        oneDayClass : 'one-day',
                        callback: function() {
                            if (callback && callback != '') {
                                //Do something, when the end of countdown.
                                callbackMethod();
                            }
                        }
                    });
                    </script>

