                 <div id="odliczanie-a">
                    <span data-time="{{ time_remaining }}" class="kkcount-down"></span>
                 </div>
                    <script type="text/javascript" language="javascript">
                      $(".kkcount-down").kkcountdown({
                        dayText : 'day ',
                        daysText : 'days ',
                        hoursText : 'h ',
                        minutesText : 'm ',
                        secondsText : 's',
                        displayZeroDays : false,
                        textAfterCount : '<p style="color:red;font-weight:bold;">Bidding Closed</p>',
                        oneDayClass : 'one-day'
                    });
                    </script>

