{% extends "index.html" %}
{% block mainContent %}
{% load staticfiles %}
    {% if success_page %}
        <div class="service_pay">
         <div class="payment_dash_title">Your {{ type }}</div>
           <div class="table_form" style="clear:both;margin-top:10px;font-weight: bold;">
            <div class="table_row">
              <div class="table_left">
                 You paid: {{ price|floatformat }} {{ app.currency.currency }}
              </div>
              <div class="table_form">
                 The name of the App: <a href="{% url 'query:app_detail' app.id %}">{{ app.app_name }}</a>
              </div>
            </div>
            <div class="table_desc">
                <img src="{% static "images/pay success32-32.png" %}"/> {{ msg }}<br/>
                The page will be redirected to {{ success_page_msg }} page, after <span id="remain_time" style="font-weight: bold">15</span>s.
                 Go to <a href="{{ success_page }}" style="color:#00b0b0;">{{ success_page_msg }}</a> page.
            </div>
           </div>
        </div>
    {% endif %}

<script type="text/javascript" language="javascript">
    var success_page = '{{ success_page }}';
    if (success_page != "") {
        var interval;
        $("#remain_time").text(15);
        interval = setInterval("remainTimer()", 1000);
        function remainTimer() {
            remain_second = $("#remain_time").text();
            if (parseInt(remain_second) == 1) {
                clearTimeout(interval);
                window.location.href="{{ success_page }}";
                return;
            }
            $("#remain_time").text(parseInt(remain_second) - 1);
        }
    }
</script>
{% endblock %}