{% extends "index.html" %}
{% block mainContent %}
{% load staticfiles %}
 <div class="dash_title">Your order details</div>
    <div class="order_items">
        <div class="item_header">
                <div class="item_detail_header">
                    Service
                </div>
                <div class="item_amount_header">
                    Amount
                </div>
        </div>
        <ul class="items_list">
            {% for serviceItem in serviceItems %}
                <li>
                <div class="item_detail">
                    <div class="item_name">{{ serviceItem.short_text }}</div>
                    <div class="item_desc">{{ serviceItem.long_text }}</div>
                </div>
                <div class="item_amount">
                    {{ serviceItem.price }}{{ serviceDetail.app.currency.currency }}
                </div>
            </li>
            {% endfor %}
        </ul>
        <div class="item_summary">

            <div class="item_summary_sum">
                  Total:{{ serviceDetail.amount }}{{ serviceDetail.app.currency.currency }}
            </div>

            <div class="item_summary_sum">
                  Discount Rate:{{ discount_rate }}
            </div>

            <div class="item_summary_sum">
                  Actual Amount:{{ serviceDetail.actual_amount }}{{ serviceDetail.app.currency.currency }}
            </div>
        </div>
    </div>

            <form action="/payment/paypal_checkout" method="get">
            <input type=hidden name = "id" value="{{ serviceDetail.id }}"/>
            <input type=hidden name = "PayerID" value="{{ payerid }}"/>
            <input type=hidden name = "token" value="{{ token }}" />
            <input type= submit value="checkout" class="newbutton"/>
            </form>

  </div>
{% endblock %}