{% extends "index.html" %}
{% block mainContent %}
{% load staticfiles %}

    {% if back_page %}
 <div class="payment_dash_title">Oops....Somthing wrong here</div>
    <div class="errors_msg">
        {{ error_msg }}
    </div>
  <div class="service_pay">
     The page will be redirected the payment page, after <span id="remain_time" style="font-weight: bold">15</span>s.
  You can also go to <a href="{{ back_page }}">"App payment page"</a> right now.
 </div>
  {% endif %}

<script type="text/javascript" language="javascript">
    var back_page = '{{ back_page }}';
    if (back_page != "") {
        var interval;
        $("#remain_time").text(15);
        interval = setInterval("remainTimer()", 1000);
        function remainTimer() {
            remain_second = $("#remain_time").text();
            if (parseInt(remain_second) == 1) {
                clearTimeout(interval);
                window.location.href="{{ back_page }}";
                return;
            }
            $("#remain_time").text(parseInt(remain_second) - 1);
        }
    }
</script>
{% endblock %}