{% extends "index.html" %}
{% block mainContent %}
{% load staticfiles %}
    <div class="payment_msg">
        {{ msg }}
    </div>
    {% if success_page %}

        <div class="service_pay">
         <div class="payment_dash_title">Your Payment</div>

           <div class="table_form" style="clear:both;margin-top:10px;font-weight: bold;">
            <div class="table_row">
              <div class="table_left">
                 You paid:{{ transaction.price }} <!--TODO: need display transaction price -->
              </div>


            </div>
              <div class="table_form">
                 The name of the App:{{ transaction.price }} <!--TODO: need display transaction price -->
              </div>
              <div class="table_desc">
                <img src="{% static "images/pay success32-32.png" %}"/> You have successfully paid. <br/>
                The page will redirect the payment page, after <span id="remain_time" style="font-weight: bold">15</span>s.
                If the page not redirect, you can click next page.<a href="{{ success_page }}">App payment page</a>
              </div>

           </div>

        </div>

    {% endif %}

<script type="text/javascript" language="javascript">
    var success_page = '{{ success_page }}';
    if (success_page != "") {
        var interval;
        $("#remain_time").text(15);
        interval = setInterval("remainTimer()", 1000);
        function remainTimer() {
            remain_second = $("#remain_time").text();
            if (parseInt(remain_second) == 1) {
                clearTimeout(interval);
                window.location.href="{{ success_page }}";
                return;
            }
            $("#remain_time").text(parseInt(remain_second) - 1);
        }
    }
</script>
{% endblock %}