{% extends "index.html" %}
{% block mainContent %}
{% load staticfiles %}
    <div style="color: red">{{ error_msg }}</div>
    <div>
        <div>
            <div>App Name: <a href="{% url 'query:app_detail' app.id %}">{{ app.app_name }}</a></div>
            <div>Trade Price: {{ app.one_price }} {{ app.currency.currency }}</div>
            <div>Seller: {{ app.publisher.username }}</div>
        </div>
        <div>
            <form action="" method="post">
                {% csrf_token %}
                <div>
                    You can click 'Pay Now' button to pay. After your paid, seller will receive your paid email, then you can trade app.
                </div>
                <input id="submit" type="submit" name="submit" value="Pay Now"/>
            </form>
        </div>
    </div>
{% endblock %}