    <div class="paymentbox">
        <div>
            <div><h2 style="font-weight: bold;">Current Status:</h2></div>
                <div style="line-height: 1.5em;">
                    Currently ,the deal is on the third step , you need to deliver the agreed items to  {{ transaction.buyer.id  }} .
                    After your completed your delivery process, the buyer would confirm this transaction.
                    The remaining time for your app delivery.<br>
                    {% include "bid/remaintime.html" %}
                </div>

                </div>
            <div style="padding: 3px;"><h2 style="font-weight: bold;">The promised things you will deliver to the buyer({{ transaction.buyer.id  }}):</h2></div>
            <div>
                <ul class="delivery_list">
                    <li>You should transfer the ownership of the app ({{ transaction.app.app_name }}) to {{ transaction.user.username }}.</li>
                    {% if transaction.app.source_code  %}
                    <li>You should deliver the source of the app.</li>
                    {% endif %}

                    <li>
                        The other things you should deliver:
                    </li>
                </ul>
                <div class="other_delivery">
                {{ transaction.app.delivery_detail }}
                </div>
            </div>
        </div>

        <div>
            <form action="" method="post">
                {% csrf_token %}
{#                <input id="submit" type="submit" name="submit" value="Confirm My Delivery" class="button_s"/>#}  <!-- comment because seller should not confirm the delivery by him/herself -->
            </form>
        </div>
    </div>











