    {% load staticfiles %}
    <div class="paymentbox">
        <div>
            <div><h2 style="font-weight: bold;">Current Status:</h2></div>
            <div style="line-height: 1.5em;">
                    Currently ,the deal is pending on the 2nd step , we have informed buyer <b>{{ transaction.buyer.username }}</b> to pay the money <b>{{ transaction.price|floatformat }} {{ transaction.app.currency.currency }}</b>.<br/>
                    In the meanwhile, you can send private message to {{ transaction.buyer.username }}
                    <a href="/dashboard/create-message/reply/1/{{ transaction.buyer.username }}/{{ transaction.buyer.id }}?next={{ request.path }}"
                       title="Send private message to buyer" >
                        <img src="{% static 'images/email.png' %}"/>
                    </a><br/>
                    And please prepare your delivery items, which should be sent to the bidder after he/she paid you.<br/>
                    The remaining time for bidder to pay {% include "bid/remaintime.html" %}

            </div>
            <div><!--TODO: reminder button , send email to buyer -->
                  <!--TODO: when remaining date is 4 days, show the message. -->
                   You can send an email to remind buyer to pay ASAP.
                   <input id="id_pay" type="button" value="Send Email" class="button_s">&nbsp;&nbsp;<span id="send_msg" style="color: green;"></span>
            </div>

            <div style="padding: 3px;"><h2 style="font-weight: bold;">The promised things you will deliver to the buyer ({{ transaction.buyer.username }}):</h2></div>
            <div>
                <ul class="delivery_list">
                    <li>You should transfer the ownership of the app (<a href="{% url 'query:app_detail' transaction.app.id %}">{{ transaction.app.app_name }}</a>) to <b>{{ transaction.buyer.username }}</b>.</li>
                    {% if transaction.app.source_code  %}
                    <li>You should deliver the source of the app.</li>
                    {% endif %}
                    {% if transaction.app.delivery_detail  %}
                    <li>
                        The other things you should deliver:
                    </li>
                    {% endif %}
                </ul>
                    {% if transaction.app.delivery_detail %}
                    <div class="other_delivery">
                    {{ app.delivery_detail }}
                    </div>
                    {% endif %}
            </div>
        </div>
    </div>
<script type="text/javascript" language="javascript">
    $("#id_pay").click(function() {
        var id = "{{ transaction.id }}";
        $.ajax({
            type:"POST",
            url:"{% url 'transaction:remind_buyer' id %}",
            data:{
                txn_id: id,
                csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            success:function(data) {
                if(data.ok === 'true') {
                    $("#send_msg").html("Sent email successfully.");
                }
            }
        });
    });
</script>