    <div class="paymentbox">
        <div>
            <div><h2 style="font-weight: bold;">Current Status:</h2></div>
                <div style="line-height: 1.5em;">
                    Currently ,you need to pay <span style="color: red;">{{transaction.app.one_price }} {{ transaction.app.currency.currency }}</span> to  {{ transaction.app.publisher.username }} .
                    After your payment, we will help you inform seller to start the delivery process immediately.<br/>
                    The remaining time for your payment: {% include "bid/remaintime.html" %} <br/>



                </div>
            <div style="padding: 3px;"><h2 style="font-weight: bold;">The promised things you will get after payment from the app seller({{ transaction.app.publisher.username }}):</h2></div>
            <div>
                <ul class="delivery_list">
                    <li>You should get the ownership of the app ({{ transaction.app.app_name }}) at APPSTORE.</li>
                    {% if transaction.app.source_code  %}
                    <li>You should deliver the source of the app.</li>
                    {% endif %}
                    {% if transaction.app.delivery_detail  %}
                    <li>
                        The other things you should deliver:
                    </li>
                    {% endif %}
                </ul>
                    {% if transaction.app.delivery_detail   %}
                    <div class="other_delivery">
                    {{ app.delivery_detail }}
                    </div>
                    {% endif %}
            </div>
        </div>

        <div>
            <form action="" method="post">
                {% csrf_token %}
                <div>
                    <!-- TODO: will change to pay url for buyer. -->
                    <a href="{{ pay_url }}">
                        <input id="id_pay" type="button" value="Pay It Now" class="button_s">
                    </a>
                </div>
            </form>
        </div>
    </div>