{% extends "index.html" %}
{% block mainContent %}
{% load staticfiles %}
<div>
    <div>{{ error_msg }}</div>
    {% include "transaction/transaction_progress.html" %}
     <div>
        {% if transaction.status == 2 %}
            {% if transaction.buyer.id == request.user.id %}
                {% include "transaction/step2.html" %}
            {% elif transaction.seller.id == request.user.id %}
                {% include "transaction/step2_seller.html" %}
            {% endif %}
        {% elif transaction.status == 3 %}
            {% if transaction.buyer.id == request.user.id %}
                {% include "transaction/step3.html" %}
            {% elif transaction.seller.id == request.user.id %}
                {% include "transaction/step3_seller.html" %}
            {% endif %}
        {% elif transaction.status == 4 %}
            {% if transaction.buyer.id == request.user.id %}
                {% include "transaction/step4.html" %}
            {% elif transaction.seller.id == request.user.id %}
                {% include "transaction/step4_seller.html" %}
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}